<b>Overview</b>: <i>Corynebacterium matruchotii</i> is abundant in both supragingival and 
healthy subgingival plaque (<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>, <a href=''>Esberg et al 2020</a>). 
It was originally called <i>Bacterionema matruchotii</i> and was reclassified into the 
genus <i>Corynebacterium</i> in 1982 (<a href='https://doi.org/10.1016/S0721-9571(82)80016-1' target='_blank'>Collins 1982</a>).
<br><br><b>Ecological role/importance in health and disease</b>: <i>C. matruchotii</i> 
forms the central filament in "corn-cob" structures of dental plaque and clumps of 
<i>C. matruchotii</i> form the basis of "hedgehog" consortia in plaque 
(<a href='https://doi.org/10.1016/0003-9969(72)90081-7' target='_blank'>Jones 1972</a>, <a href='https://doi.org/10.1073/pnas.1522149113' target='_blank'>Mark Welch et al. 2016</a>). 
The species is associated with health rather than caries 
(<a href='https://doi.org/10.1080/20002297.2019.1633194' target='_blank'>Schoilew et al. 2019</a>). 

