<% var cfg = JSON.parse(config) %> 
<div class='date'>2023-03-18 - <i>e</i>HOMD has been updated to V3.1 and Genomic RefSeq has been updated to V10.1</div>
<div class='help-item'>
   <i>e</i>HOMD Version 3.1 update includes an update of Genomic RefSeq from V9.15 (2,123 genomes) to V10.1 (8,622 genomes, see below update detail), and a new sequence BLAST search interface based on SequenceServer. 
   The new BLAST interface provides more options for viewing and downloading the search results. 
   It can search against both 16S rRNA and Genomic RefSeq datasets. 
   The 16S rRNA RefSeq remains unchanged in this update.
  <a href='<%= cfg.FTP_URL %>/genomes/V10.1/report.html'>https://homd.org/ftp/genomes/V10.1/report.html</a>
</div>

<div class='date'>2022-03-15 - <i>e</i>HOMD Genomic RefSeq has been updated to V9.15</div>
<div class='help-item'>
   <i>e</i>HOMD code has been updated and re-written from php to Node.js(javascript). 
   New features include abundance data and "life" pages.
   <br>Added two new taxa: 
   <pre><small>
   HMT-374 (<i>Cellulosimicrobium cellulans</i>) 
   HMT-998 (nonOralRef: <i>Victivallales_[G-1]</i> bacterium_HMT_998)
   </small></pre>
   Added 36 new genomes:   
<pre><small><ul>
<li>SEQ_ID  HMT_ID  Genus   Species Strain  Contigs Combined_Size   Habitat Sequence_Source
<li>SEQF3677    998 Victivallales [G-1] bacterium HMT-998   CCUG 44730  1   5242681 NonOralRef  https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/002/998/355/GCA_002998355.1_ASM299835v1
<li>SEQF3678    349 Saccharibacteria_(TM7)_[G-1]    bacterium_HMT_349   PM007   1   1021750 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/705/GCA_018127705.1_ASM1812770v1
<li>SEQF3679    948 Streptococcus   lactarius   CCUG 66490  1   2144372 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/725/GCA_018127725.1_ASM1812772v1
<li>SEQF3680    275 Porphyromonas   sp._HMT_275 W7780   1   2180921 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/745/GCA_018127745.1_ASM1812774v1
<li>SEQF3681    572 Prevotella  veroralis   F0319   3   2990547 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/765/GCA_018127765.1_ASM1812776v1
<li>SEQF3682    885 Prevotella  scopos  W2052   3   3304345 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/785/GCA_018127785.1_ASM1812778v1
<li>SEQF3683    475 Prevotella  sp._HMT_475 F0059   1   2560308 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/805/GCA_018127805.1_ASM1812780v1
<li>SEQF3684    693 Prevotella  nigrescens  F0109   3   2887107 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/825/GCA_018127825.1_ASM1812782v1
<li>SEQF3685    693 Prevotella  nigrescens  F0630   2   2928207 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/845/GCA_018127845.1_ASM1812784v1
<li>SEQF3686    693 Prevotella  nigrescens  F0103   3   3069220 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/865/GCA_018127865.1_ASM1812786v1
<li>SEQF3687    469 Prevotella  melaninogenica  F0695   2   3168321 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/885/GCA_018127885.1_ASM1812788v1
<li>SEQF3688    469 Prevotella  melaninogenica  F0692   2   3169665 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/905/GCA_018127905.1_ASM1812790v1
<li>SEQF3689    469 Prevotella  melaninogenica  F0516   2   3360806 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/925/GCA_018127925.1_ASM1812792v1
<li>SEQF3690    469 Prevotella  melaninogenica  F0300   3   3334355 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/945/GCA_018127945.1_ASM1812794v1
<li>SEQF3691    469 Prevotella  melaninogenica  F0301   2   3218481 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/965/GCA_018127965.1_ASM1812796v1
<li>SEQF3692    685 Prevotella  multiformis F0096   2   3025491 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/127/985/GCA_018127985.1_ASM1812798v1
<li>SEQF3693    469 Prevotella  melaninogenica  F0299   3   3619436 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/005/GCA_018128005.1_ASM1812800v1
<li>SEQF3694    469 Prevotella  melaninogenica  F0054   2   3358299 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/045/GCA_018128045.1_ASM1812804v1
<li>SEQF3695    469 Prevotella  melaninogenica  F0091   2   3342898 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/065/GCA_018128065.1_ASM1812806v1
<li>SEQF3696    313 Prevotella  jejuni  F0697   2   3944801 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/085/GCA_018128085.1_ASM1812808v1
<li>SEQF3697    313 Prevotella  jejuni  F0106   2   4115533 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/105/GCA_018128105.1_ASM1812810v1
<li>SEQF3698    298 Prevotella  histicola   F0411   2   2999514 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/125/GCA_018128125.1_ASM1812812v1
<li>SEQF3699    782 Prevotella  fusca   W1435   2   3261788 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/145/GCA_018128145.1_ASM1812814v1
<li>SEQF3700    291 Prevotella  denticola   F0288   2   2938122 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/165/GCA_018128165.1_ASM1812816v1
<li>SEQF3701    291 Prevotella  denticola   F0119   1   3038072 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/185/GCA_018128185.1_ASM1812818v1
<li>SEQF3702    291 Prevotella  denticola   F0115   3   3106544 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/205/GCA_018128205.1_ASM1812820v1
<li>SEQF3703    218 Leptotrichia    sp._HMT_218 F0707   1   2172496 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/225/GCA_018128225.1_ASM1812822v1
<li>SEQF3704    221 Pseudoleptotrichia  sp._HMT_221 F0705   2   2076334 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/245/GCA_018128245.1_ASM1812824v1
<li>SEQF3705    347 Saccharibacteria_(TM7)_[G-1]    bacterium_HMT_347   ORNL-0100   2   4411608 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/265/GCA_018128265.1_ASM1812826v1
<li>SEQF3706    416 Fannyhessea sp._HMT_416 W9116   1   3004013 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/285/GCA_018128285.1_ASM1812828v1
<li>SEQF3707    513 Aggregatibacter sp._HMT_513 W11186  3   1939696 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/305/GCA_018128305.1_ASM1812830v1
<li>SEQF3708    194 Arachnia    rubra   DSMZ 100122 1   3316958 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/325/GCA_018128325.1_ASM1812832v1
<li>SEQF3709    739 Arachnia    propionica  F0231   1   3404402 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/345/GCA_018128345.1_ASM1812834v1
<li>SEQF3710    739 Arachnia    propionica  F0714   1   3448470 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/128/365/GCA_018128365.1_ASM1812836v1
<li>SEQF3711    291 Prevotella  denticola   F0105   1   3027740 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/141/825/GCA_018141825.1_ASM1814182v1
<li>SEQF3712    96  Lachnospiraceae_[G-2]   bacterium_HMT_096   F0428   1   2241976 Oral    https://ftp.ncbi.nlm.nih.gov/genomes/all/GCA/018/141/845/GCA_018141845.1_ASM1814184v1
</small></ul>
</pre>
</div>
<div class='date'>2020-11-13 - <i>e</i>HOMD Genomic RefSeq has been updated to V9.14</div>
<div class='help-item'>
  We have added  488 genomes and 3 genomes of which ncbi genbank was deleted from homd which takes Genomic RefSeq version to 9.14. For this update, the version of the 16S rRNA gene reference sequences (16S rRNA RefSeq) is 15.2. Genomic RefSeq 9.14 has 2087 genomic DNA sequences, both finished and draft sequences (2074 Oral Reference Genomes  which belong to 529 taxas and 13 non-oral/non-nasal reference genomes which belong to 13 taxas ) to serve as anchors for the NGS studies.
</div>
<div class='date'>2018-12-05 - New <i>e</i>HOMD publication!</div>
<div class='help-item'>
  The <i>e</i>HOMD paper entitled "New insights into human nostril microbiome from the expanded Human Oral Microbiome Database (<i>e</i>HOMD): a resource for species-level identification of microbiome data from the aerodigestive tract" has been published and is available at this link: https://msystems.asm.org/content/3/6/e00187-18. Please cite this paper in your publication if you use the <i>e</i>HOMD database.
  <br><br>~The <i>e</i>HOMD Team~
</div>
<div class='date'>2018-03-31 - Change of taxon ID prefix from HOT to HMT</div>
<div class='help-item'>
  Due to the inclusion of microbial taxa that are found in the human nasal passages, The old taxonomy ID prefix "HOT" (human oral taxon) is no longer valid and has been changed to "HMT" (human microbial taxon) to be more inclusive for the taxa described in the current and future <i>e</i>HOMD. The specific taxon associated with the 3-digit HOT IDs have not been changed. For example, the species Abiotrophia defectiva used to be represented by HOT-389 and now is HMT-389. All new taxa that have been or will be added, will have a unique number that has not been used before.

  <br><br>~ The HOMD Team ~
</div>
<div class='date'>2018-02-02 - Announcing the <i>e</i>HOMD - the expanded version of HOMD</div>
<div class='help-item'>
  Dear Research Community:

  We are please to announce the public release of an expanded version of the Human Oral Microbiome Database - <i>e</i>HOMD. The <i>e</i>HOMD is also available on a new web site: http://www.ehomd.org, alongside with the previous http://www.homd.org. The previous version can still be accessed at http://archive.homd.org.

  <br><br>~The <i>e</i>HOMD Research Team~
</div>
<div class='date'>2015-12-08 - Publication:</div>
<div class='help-item'>
   <strong>Robust species taxonomy assignment algorithm for 16S rRNA NGS reads: application to oral carcinoma samples</strong>
  <br>J Oral Microbiol. 2015 Sep 29;7:28934. doi: 10.3402/jom.v7.28934. eCollection 2015.

  <br>Al-Hebshi NN<sup>1</sup>, Nasher AT<sup>2</sup>, Idris AM<sup>3</sup>, Chen T<sup>4</sup>.

  <br><br>Author information:

  <br><br>1-Department of Preventive Dentistry, Faculty of Dentistry, Jazan University, Jazan, Kingdom of Saudi Arabia; nazhebshi@yahoo.com.
  <br>2-Department of Oral and Maxillofacial Surgery, Faculty of Dentistry, Sana'a University, Sana'a, Yemen.
  <br>3-Department of Maxillofacial Surgery & Diagnostic Sciences, Faculty of Dentistry, Jazan University, Jazan, Kingdom of Saudi Arabia.
  <br>4-Department of Microbiology, Forsyth Institute, Cambridge, MA, USA; tchen@forsyth.org.
 

  <br><br>Abstract

  <br>BACKGROUND:
  <br>Usefulness of next-generation sequencing (NGS) in assessing bacteria associated with oral squamous cell carcinoma (OSCC) has been undermined by inability to classify reads to the species level.

  <br><br>OBJECTIVE:
  <br>The purpose of this study was to develop a robust algorithm for species-level classification of NGS reads from oral samples and to pilot test it for profiling bacteria within OSCC tissues.

  <br><br>METHODS:
  <br>Bacterial 16S V1-V3 libraries were prepared from three OSCC DNA samples and sequenced using 454's FLX chemistry. High-quality, well-aligned, and non-chimeric reads ≥350 bp were classified using a novel, multi-stage algorithm that involves matching reads to reference sequences in revised versions of the Human Oral Microbiome Database (HOMD), HOMD extended (HOMDEXT), and Greengene Gold (GGG) at alignment coverage and percentage identity ≥98%, followed by assignment to species level based on top hit reference sequences. Priority was given to hits in HOMD, then HOMDEXT and finally GGG. Unmatched reads were subject to operational taxonomic unit analysis.

  <br><br>RESULTS:
  <br>Nearly, 92.8% of the reads were matched to updated-HOMD 13.2, 1.83% to trusted-HOMDEXT, and 1.36% to modified-GGG. Of all matched reads, 99.6% were classified to species level. A total of 228 species-level taxa were identified, representing 11 phyla; the most abundant were Proteobacteria, Bacteroidetes, Firmicutes, Fusobacteria, and Actinobacteria. Thirty-five species-level taxa were detected in all samples. on average, Prevotella oris, Neisseria flava, Neisseria flavescens/subflava, Fusobacterium nucleatum ss polymorphum, Aggregatibacter segnis, Streptococcus mitis, and Fusobacterium periodontium were the most abundant. Bacteroides fragilis, a species rarely isolated from the oral cavity, was detected in two samples.

  <br><br>CONCLUSION:
  <br>This multi-stage algorithm maximizes the fraction of reads classified to the species level while ensuring reliable classification by giving priority to the human, oral reference set. Applying the algorithm to OSCC samples revealed high diversity. In addition to oral taxa, a number of human, non-oral taxa were also identified, some of which are rarely detected in the oral cavity.

 

  <br><br>KEYWORDS:
  <br>OSCC; bacteria; cancer; next-generation sequencing; pyrosequencing; taxonomy
</div>
<div class='date'>2014-10-07 - Important Notice Regarding Tannerella forsythia (strain 92A2)</div>
<div class='help-item'>
  Dear Research Community:

  <br><br>I wish to call to your attention an error in the strain attribution for the Tannerella forsythia (previously Bacteroides forsythus) genome sequence NC_016610.1. More than 10 years ago, DNA was prepared at Forsyth by Mark Maiden from strain 92A2 and sent to TIGR for sequencing as part of the initial 11 dental organisms sequenced. The sequence was obtained by TIGR, annotated by Los Alamos, and posted on Los Alamos and Forsyth web sites in about 2005. JCVI re-annotated the genome in 2013 as part of the HMP project and released the genome through NCBI in July 2013. Unfortunately, at some point in time, someone assumed that Forsyth strain 92A2 was the same as the Tannerella forsythia (previously Bacteroides forsythus) type strain FDC-338 = ATCC 43037. It is not. More problematic, strain 92A2 was never deposited with ATCC—(we are in the process of doing that currently). In the move from Boston to Cambridge in 2010, Forsyth investigators discarded many old stocks, sadly including 92A2. After many inquiries, I was extremely relieved to find that Gene Leys and Christina Igboin had frozen stocks at Ohio State University. With their help, we now have Tannerella forsythia strain 92A2 growing and save away here at Forsyth again. The strain was chosen for sequencing because it contains a tetracycline transposon which was of interest. Most Tannerella forsythia strains do not have this transposon. I have validated our current 92A2 strain as the TIGR-sequenced strain by obtaining the 16S rRNA sequence, and by sequencing the TraG gene from the Transposon. Both are perfect matches.

  <br><br>A true genome sequence for the type strain (ATCC 43037) has been obtained by Valentin Friedrich, BOKU, Vienna, Austria. I hope to have this annotated genome available on HOMD shortly and also deposit it with NCBI. I have also contacted Karen Nelson at JCVI to assist in correcting the strain attribution at NCBI for the TIGR/92A2 genome (only the depositor can make changes).

  <br><br>This strain misattribution has cause significant wasted effort by investigators trying to clone out genes or perform other molecular biology. I apologize to the community for not realizing 92A2 had not been deposited with a culture collection and not picking up the strain attribution problem earlier. The attribution was correct 2005 when Tsute (George) Chen referenced the strain in the following publication and on the BROP website:

  <br><br>Chen T, Abbey K, Deng WJ, Cheng MC. The bioinformatics resource for oral pathogens. Nucleic Acids Res. 2005 Jul 1;33(Web Server issue):W734-40. PubMed PMID: 15980574; PubMed Central PMCID: PMC1160122.

  <br><br>It may take some time for strain 92A2 to become available from ATCC. If you urgently need this strain for ongoing studies, please contact me and I will send it to you. If you can wait until ATCC has it available, that would be most helpful to my technicians. Please do not pester Gene for the strain, or Valentin for the type genome as they have performed their community service already and I’m willing to be the resource contact person. The Tannerella forsythia entry on HOMD has a warning flag about the strain attribution problem, and a correction on the strain Sequence Meta Information page, but I cannot edit the incorrect strain information automatically downloaded from NCBI. As additional information becomes available, I will post it on HOMD Tannerella forsythia taxon description page. Feel free to contact me.

  <br><br>Best regards,

  <br><br>Floyd

  <br><br>Floyd E. Dewhirst, DDS, PhD
  <br>Department of Microbiology
  <br>The Forsyth Institute
  <br>245 First Street
  <br>Cambridge, MA 02142
 
</div>
<div class='date'>2014-03-21 - The Los Alamos ORALGEN Database Archive</div>
<div class='help-item'>
  Dear Oral/Dental Research Community:

  <br><br>It is my pleasure to announce to you that the Los Alamos ORALGEN Database has been restored and made available online at http://www.oralgen.org

  <br><br>Many of you may have known that the ORALGEN database had been offline since some time last year. Thanks to Dr. Gang (Gary) Xie at the Los Alamos National Lab for providing the original content of the ORALGEN hard drive, I was able to restore the web service and make this important database available online again to the research community.

  <br><br>Please note that this is an archival copy of the Los Alamos ORALGEN Database. This archival database is provided "as is", thus some links and tools may no longer work due to the changes of web address and server infrastructure. The primary purpose for making this archive available online is for backtracking the citations/links that were published before. This database is no longer being maintained, nor is support provided. Many of the genomic sequences that were annotated by the ORALGEN has been updated and are different. Please visit http://www.homd.org/oralgen for a table listing and comparing these changes.

  <br><br>In addition to the availability of the original ORALGEN database, many researchers have also asked for the information with regards to the counterparts of the genes annotated by LANL ORALGEN, to those currently annotated by NCBI or HOMD. The information is important because many of the LANL ORALGEN annotated gene IDs had been cited in publications. For those genomes with sequences identical to those currently annotated by HOMD, we provide an "ORALGEN" panel in the newly implemented HOMD JBrowse genome viewer (http://www.homd.org/oralgen), so that users can match genes/proteins between HOMD/NCBI and ORALGEN directly in the genome viewer. For those genomes significantly different from the current HOMD/NCBI version, the coordination will be too different to be mapped in the genome viewer. This is especially true for these four genomes: Actinobacillus actinomycetemcomitans HK1651 (currently Aggregatibacter actinomycetemcomitans HK1651), Fusobacterium nucleatum polymorphum (Fusobacterium nucleatum subsp. polymorphum ATCC 10953), Streptococcus mutans UA159, and Tannerella forsythensis ATCC 43037.

  <br><br>For these genomes, the best way to find the equivalent genes annotated between HOMD/NCBI and ORALGEN is by protein homology. I am also providing the matching results in the The LANL ORALGEN FTP Archive (ftp://www.homd.org/lanl_oralgen). This FTP site contains the text data directly exported from the ORALGEN Database, including all the genomes and the associated information. The exported data are in Excel format and can be direct viewed as spreadsheets. Detail information for this archive is provided in the 00_README.txt file in the FTP site. In each of the folders of those 4 genomes with different sequences, there is an Excel file named "lanl_gene_id_2_ncbi_blastp.csv" or "lanl_gene_id_2_homd_blastp.csv". This table lists the possible counterparts of the ORALGEN genes to those in NCBI, (or HOMD) based on the BLASTP search. I hope this could ease some of the frustration that many of the researchers have been facing when they are trying to reconcile the differences between annotations.

  <br><br>Please do not hesitate to contact me if you have any question or concerns.

  <br><br>Sincerely,

  <br><br>George
  <br><br>Tsute Chen, Ph.D.
  <br>Associate Research Investigator
  <br>Department of Molecular Genetics
  <br>The Forsyth Institute
  <br>245 First Street, Cambridge, MA
</div>
<div class='date'>2013-03-25 - HOMD 16S rRNA Reference Sequence Version 13.0 has been released</div>
<div class='help-item'>
  Release Notes for HOMD 16S rRNA Reference Sequence Version 13.0:

  <br><br>Over the past year, several additions and corrections to the HOMD Taxon Table and Taxon Description pages have been made. These changes are shown in the Excel file for HOMD version 13.0 [Download the Excel File Here].

  <br><br>In addition, the default 16S rRNA reference set has been updated to version 13.0 in the HOMD RNA BLAST tool: "Identifying 16S rRNA Sequence". The new sequence set can also be downloaded as text file. The Extended set which includes the provisional taxa A00-H067 has not yet been updated and therefore should be used with caution.

  <br><br>The HOMD Team.
</div>
<div class='date'>2012-02-16 - HOMD 16S rRNA Reference Sequence Version 11.0 has been released</div>
<div class='help-item'>
  Release Notes for HOMD 16S rRNA Reference Sequence Version 11.0:

  Over the past year, several additions and corrections to the HOMD Taxon Table and Taxon Description pages have been made. These changes are shown in the Excel file for HOMD version 11.0 [Download the Excel File Here].

  In addition, the default 16S rRNA reference set has been updated to version 11.0 in the Blast tool: "Identifying 16S rRNA Seuqnece". The new sequence set can also be downloaded as text file. The Extended set which includes the provisional taxa A00-H067 has not yet been updated and therefore should be used with caution.

  The HOMD Team.
</div>
<div class='date'>2010-08-02 - HOMD publication available for download.</div>
<div class='help-item'>
  We have recently published two papers, which can be cited as references and can be dowloaded:

  <br><br>1. Chen, T., Yu, W-Han, Izard, J., Baranova, O.V., Lakshmanan, A., Dewhirst, F.E. (2010) The Human Oral Microbiome Database: a web accessible resource for investigating oral microbe taxonomic and genomic information. Database, Vol. 2010, Article ID baq013, doi: 10.1093/database/baq013

  <br><br>Online Open Access: http://database.oxfordjournals.org/cgi/content/full/2010/0/baq013

  <br><br>2. Dewhirst, F.E., Chen, T., Izard, J, Paster, B.J., Tanner, A.C.R., Yu, W.-H., Lakshmanan, A., Wade, W.G. (2010) The Human Oral Microbiome. J. Bacteriol. (in press).

  <br><br>Online ahead of print access: http://jb.asm.org/cgi/reprint/JB.00542-10v1?view=long&pmid=20656903
</div>
<div class='date'>2010-06-10 - Forsyth Scientists Support The Human Microbiome Project</div>
<div class='help-item'>
  Scientists from The Forsyth Institute are making a significant contribution to the Human Microbiome Project (HMP), which is seeking to identify and sequence the thousands of species of bacteria that inhabit human body surfaces. Forsyth has provided more oral bacteria to the HMP than any other institution. Genome sequences of these bacteria are being determined in collaboration with the four HMP sequencing centers. These sequences will allow the scientific community to analyze the disease-causing potential of oral microorganisms.

  <br><br>Studying human-bacteria interactions could lead to new ways to monitor human health status and to new methods for preventing or treating oral and systemic human diseases. The Forsyth efforts are supported by the National Institute of Dental and Craniofacial Research, NIH. The mission of the HMP is to enable comprehensive characterization of the human microbiota and to determine its role in human health and disease.

  <br><br>The Forsyth scientific team includes Dr. Jacques Izard, Dr. Anne Tanner, and Dr. Floyd Dewhirst. According to Dr. Dewhirst, "many of the strains that we have identified, and are making available to the scientific community, are unnamed and previously uncultured species. The availability of these strains will allow scientists worldwide to study them for the first time." "Researchers can now tackle key questions about these bacteria that comprise communities called 'biofilms' and really determine how those bacteria interact with one another and with their human host" said Dr. Jacques Izard.

  <br><br>This work was also supported by other members of the Department of Molecular Genetics at Forsyth including Drs. Tsute Chen and Bruce Paster, and Oxana Baranova, Jessica Blanton, and Jennifer Mathney. A key collaborator was Dr. William Wade, Kings College London, London, UK. The long-term goals of the Forsyth team are to determine the molecular mechanisms of bacterial pathogenesis, particularly in oral diseases. Understanding host-pathogen interactions is essential for developing successful interventions and preventive treatments.

  <br><br>Source:
  <br>Jennifer Kelly
  <br>Forsyth Institute
  
</div>
<div class='date'>2008-04-04 - Press Coverage for HOMD</div>
<div class='help-item'>
  [ Click here for Live Update on Google News Search for HOMD ]

  <br><br>April 4, 2008, Science
  <br>IT'S IN HIS KISS

  <br><br>April 1, 2008, United Press International
  <br>First database of oral microbiome created

  <br><br>April 1, 2008, Daytona Beach News
  <br>Is a kiss just a kiss? Database catalogs mouth's 600 microbes

  <br><br>March 31, 2008, Hospital Information Technology Europe
  <br>Scientists launch human oral microbiome database

  <br><br>March 28, 2008, DentalPlans
  <br>Human oral microbiomes to be housed in dental database

  <br><br>March 27, 2008, in-Pharma Technologist
  <br>New comprehensive database details all known bacteria in human mouth

  <br><br>March 27, 2008, LabTechnologist
  <br>New comprehensive database details all known bacteria in human mouth

  <br><br>March 27, 2008, Science Daily
  <br>First Comprehensive Database Of Human Oral Microbiome Launched

  <br><br>March 26, 2008, Sify News
  <br>Know all about the 600 microbes in your mouth

  <br><br>March 26, 2008, WebUser
  <br>What bacteria is in your mouth?

  <br><br>March 26, 2008, Medical News Today
  <br>Human Oral Microbiome Database Launched

  <br><br>March 26, 2008, Thaindian News
  <br>Know all about the 600 microbes in your mouth

  <br><br>March 25, 2008, GenomeWeb Daily News
  <br>Forsyth, Kings College Scientists Kick Off Human Oral Microbiome Database

  <br><br>March 25, 2008, The Press Association
  <br>Database lists 600 mouth bugs

  <br><br>March 25, 2008, Biology News Net
  <br>Scientists launch human oral microbiome database

  <br><br>March 25, 2008, Next Generation Sequencing
  <br>Launch of the Human Oral Microbiome Database

  <br><br>March 25, 2008, Channel 4 News
  <br>Database lists 600 mouth bugs

  <br><br>March 25, 2008, Daily Mail
  <br>Revealing the 600 bugs - most of which are beneficial - that live in your mouth

  <br><br>March 25, 2008, AAAS EurekAlert!
  <br>Scientists launch human oral microbiome database

  <br><br>March 25, 2008, NIH News
  <br>Scientists Launch First Comprehensive Database of Human Oral Microbiome
</div>
<div class='date'>2008-03-25 - HOMD Public Release</div>
<div class='help-item'>
  We are happy to announce the public release of The Human Oral Microbiome Database. Please refer to the Press Release issued by The Forsyth Institute for more information.
</div>
<div class='date'>2008-02-22 - HOMD Public Access Soon to be Announced</div>
<div class='help-item'>
  The HOMD Team is working hard to make the database publicly available. We are expecting to announce the public release in March.

  This is a test article to show that the announcement will be shown on the home page announcement box.
</div>  



