<% updates = JSON.parse(db_updates) %>


<% for(n in date_sort) { %>
  <% date = date_sort[n] %>
  <% otid_pretty = 'HMT-'+("000" + db_updates[n].otid).slice(-3) %>
  <b><%= date %></b> 
  <% for(d in updates[date]) { %>
    <br>&nbsp;&nbsp;&nbsp;HMT: <b><%= updates[date][d].otid %></b> -- <%- updates[date][d].description %>
    <% if(updates[date][d].reason){ %>
      -- Reason: <%= updates[date][d].reason %> 
    <% } %>
     
  
  <% } %>
  <hr>
<% } %>
<br><br><strong>2021-June -- Pre-SQL Database Re-write:</strong>
<br>2017-11-22
Genome Annotation Update - Stenotrophomonas nitritireducens DSM 12575  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2017-02-27 16:02

Genome Annotation Update -  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 23:02

Genome Annotation Update - Staphylococcus warneri L37603  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 17:02

Genome Annotation Update - Streptococcus vestibularis F0396  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 13:02

Genome Annotation Update - Selenomonas sputigena ATCC 35185  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 09:02

Genome Annotation Update - Streptococcus sobrinus TCI-107  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 05:02

Genome Annotation Update - Shuttleworthia satelles DSM 14600, BAA-774, CCUG 45864  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-26 01:02

Genome Annotation Update - Streptococcus sanguinis SK36  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 20:02

Genome Annotation Update - Streptococcus salivarius JIM8780  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 15:02

Genome Annotation Update - Streptococcus salivarius SK126  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 11:02

Genome Annotation Update - Streptococcus pyogenes MGAS10270  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 07:02

Genome Annotation Update - Streptococcus pyogenes NZ131  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 04:02

Genome Annotation Update - Streptococcus pneumoniae AP200  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-25 00:02

Genome Annotation Update - Streptococcus peroris ATCC 700780  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-24 20:02

Genome Annotation Update - Streptococcus parasanguinis ATCC 15912  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-24 17:02

Genome Annotation Update - Streptococcus parasanguinis II F0405  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-24 12:02

Genome Annotation Update - Selenomonas sp. oral taxon 149 67H29BP, F0410  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-24 07:02

Genome Annotation Update - Selenomonas sp. oral taxon 138 F0429  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-24 03:02

Genome Annotation Update - Selenomonas sp. oral taxon 137 F0430  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 22:02

Genome Annotation Update - Selenomonas sp. oral taxon 133 F0473  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 18:02

Genome Annotation Update - Streptococcus sp. oral taxon 071 73H25AP, F0408  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 14:02

Genome Annotation Update - Streptococcus sp. oral taxon 070 F0441  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 09:02

Genome Annotation Update - Streptococcus sp. oral taxon 066 F0442  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 05:02

Genome Annotation Update - Streptococcus sp. oral taxon 058 F0407  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-23 01:02

Genome Annotation Update - Streptococcus sp.oral taxon 056 F0418  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-22 21:02

Genome Annotation Update - Streptococcus oralis Uo5  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-22 17:02

Genome Annotation Update - Streptococcus oralis ATCC 35037, SK23, NCTC11427  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-22 13:02

Genome Annotation Update - Streptococcus oligofermentans AS 1.3089  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-22 09:02

Genome Annotation Update - Selenomonas noxia ATCC 43541  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]

<br>2016-02-22 05:02

Genome Annotation Update - Streptococcus mutans UA 159, ATCC 700610  [<a href='http://www.homd.org/index.php?name=PNphpBB2&file=index&sid=b332faada412aa1928b50f5a70291897' target='_blank'>more</a>]    
