<% var version_info=JSON.parse(ver_info) %>
<div class="shadow introduction bggray rounded"  style='text-align:left;padding:15px;margin:20px 0;'>
<h4>Latest Update</h4>
        <tspan style="font-size:1.5em;font-weight:normal;color:rgb(150, 35, 44);font-style:italic">
            e</tspan><tspan style="font-size:2em;font-weight:bold;color:steelblue">H</tspan>OMD has been updated to version 
            <%= version_info.tax_ver %><span class='red-text'>&Phi;</span>.
            
            With this update, a beta version of prophage predictions for all genomes in the eHOMD, is included,
            and we include graphical pangenomes for all taxa with at least 2 genomes.

            We are also transforming the database to a taxonomy based on whole-genome sequence information, 
            while still including 16S rRNA gene-based taxonomy to retain oral taxa known only from their rRNA genes. 
            In the major update to version 4, we added 44 human oral taxa as well as deleting taxa that whole-genome 
            sequences reveal to be redundant. We present expanded information to indicate which organisms in 
            eHOMD are primarily oral or nasal and which can be found in the mouth but primarily reside at a different body 
            site or in the environment. 
        <br><br>
<h4>Project Description</h4>
The goal of creating the Human Oral Microbiome Database (HOMD) is to provide the scientific community with comprehensive information on the approximately 700 prokaryote species that are present in the human oral cavity. Approximately 49% are officially named, 17% unnamed (but cultivated) and 34% are known only as uncultivated phylotypes. The HOMD presents a provisional naming scheme for the currently unnamed species so that strain, clone, and probe data from any laboratory can be directly linked to a stably named reference scheme. The HOMD links sequence data with phenotypic, phylogenetic, clinical, and bibliographic information. Genome sequences for oral bacteria determined as part of this project, the Human Microbiome Project, and other sequencing projects are being added to the HOMD as they become available. Genomes for 315 oral taxa (46% of taxa on HOMD) are currently available on HOMD. The HOMD site offers easy to use tools for viewing all publically available oral bacterial genomes. 
      
<br><br>This project is supported by grant R37 DE016937 from The National Institute for Dental and Craniofacial Research
</div>