Download Page Help
<br><br>

<b>Formats for taxonomy, abundance and genomic data:</b>
<ul>
  <li>Text in browser - Allows copy-and-paste or just a quick view in your browser window.
  <li>Tab delimited text - download as a text file.
  <li>Microsoft Excel format - Also tab delimited but downloads as an *.xls file.
</ul>  
<br>
<b>Formats for Phylogenetics:</b><br>
   Since these are presented as a tree image we offer them as an svg image file
   <a href='https://en.wikipedia.org/wiki/Newick_format' target='_blank'>as well as newick format</a>
   and a 'SequenceID' format which opens in your browser window.
   
<br><br>    
<b>Gene Sequences</b>: Download description on page.