<div class='helptitle'>Features of the HOMD User Documentation</div>
<p>The HOMD user's guide (i.e., the user documentation or the help documentation) was designed to help users 
in the use, navigation and interpretation of the data and information provided by HOMD. The user's guide is 
conveniently and dynamically accessible at the top navigation menu (refer to the HOMD Home Page Guide) o­n 
every tool page. 

For example, when you are viewing the Taxon Table page (PageID TT1), there is a "How to use this page" menu item shown together with the top navigation menu. 
Click and follow this menu item will bring you directly to the page that explains the use of the taxon table. 

Alternatively you can also browse the entire user documentation (along with the "general documentation") by the "Table of content" tab shown op top of each documentation page. 
Every document of HOMD can be searched either through the search box located at the bottom of the table of content of the documentation page; 
or through the "meta-search" box located at the top-right part of the home page.
</p>