
Cultures and genomic DNA of the strains sequenced in the Human Microbiome Project are available from the BEI Resources 
(Biodefense & Emerging Infections Research Resources Repository):

<br><br><div class='link'><a href='http://www.beiresources.org/' target='_blank'>http://www.beiresources.org/</a></div>

<br>The Human Microbiome Project information page on BEI is at:

<br><br><div class='link'><a href='http://www.beiresources.org/About/HumanMicrobiomeProject/tabid/625/Default.aspx' target='_blank'>http://www.beiresources.org/About/HumanMicrobiomeProject/tabid/625/Default.aspx</a></div>  

