
<div style='float:left;padding:15px;marginbottom:30px;'>
      <img src='/images/group_pic_2007.jpg' height=350>
</div>
<br>Investigators contributing to this project: Tsute Chen<sup>1</sup>, Floyd E. Dewhirst<sup>1</sup>,  Jacques Izard<sup>1</sup>, Bruce J. Paster<sup>1</sup>, Anne Tanner<sup>1</sup>, and William G. Wade<sup>3</sup>  
<br><br>Contributors: Alice Kirega, Griffin Weigle, Larry Yang, and Alexandra Rybalka
<br><small>Past Contributors: Derrick Fouts, Emmanuel Mongodin, Derek Spencer, Erin Klein, Oxana Baranova, Jessica Blanton, Cori Leonetti, Wen-Han Yu, Abby Lakshmanan, and Akila Ganesan, Hayley Thompson</small>
<br><br>The Forsyth Institute, Cambridge, MA, USA<sup>1</sup> The J. Craig Venter Institute, Rockville, MD, USA<sup>2</sup> King's College London Dental Institute at Guy's, King's College and St Thomas' Hospitals, Infection Research Group, London SE1 9RT, UK<sup>3</sup>.  Picture taken in 2008.



