<style>
#team_ul{
  width:80%;
}
.bio {
  height:170px;
  border:1px solid black;
  
}
#team_ul img{
  margin:10px;
}
.left{
  float:left;
}
.right{
  float:right;
}
.txt {
   text-align:left;
   padding:10px;
   height:170px;
   overflow:auto;
}
</style>
<center>
<ul id='team_ul'>

<li class='bio'>
	<div class='right'>
		  <img src='/images/Tsute_Chen.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>Tsute Chen</strong> -- My research focus in the past 15 years has been on the analysis of high-throughput 
	bioinformatics big data for oral microorganisms, such as 16S rRNA amplicon next generation sequences (NGS), 
	genomic, meta-genomic, transcriptomic and meta transcriptomic NGS data. 
	I have developed many useful bioinformatics tools, pipelines, 
	as well as project web sites and databases, which can be found online such as The Bioinformatics Resource for Oral Pathogens (<a href='https://brop.org/' target='_blank'>BROP</a>), 
	the Human Oral Microbiome Database (<a href='https://homd.org/' target='_blank'>HOMD</a>), and most recently the Mouse Oral Mycobiome Database (<a href='https://momd.org/' target='_blank'>MOMD</a>). 
	I am the director of the <a href='https://bioinformatics.forsyth.org/' target='_blank'>Forsyth Bioinformatics Core</a>  and have established computational resources for researchers both at the premises and in the cloud. 
	I am also helping with the bioinformatics analysis for the Forsyth Oral Microbiome Core (<a href='https://microbiome.forsyth.org/' target='_blank'>FOMC</a>). 
	Currently I am interested in applying the artificial intelligence (AI) by using Machine-Learning algorithm to classify the oral microbiome profiles derived from the NGS technology.
	</div>
</li>
<li class='bio'>
	<div class='left'>
		  <img src='/images/floyd_dewhirst.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>Floyd E. Dewhirst</strong>
	</div>
</li>
<li class='bio'>
	<div class='right'>
		  <img src='/images/Kathryn_Kauffman.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>Kathryn Kauffman</strong>
	</div>
</li>
<li class='bio'>
	<div class='left'>
		  <img src='/images/jessica_mark_welch_resize.jpeg' height=150>
	</div>
	<div class='txt'>
	<strong>Jessica Mark Welch</strong> -- I use imaging and DNA sequencing to learn where bacteria live in the mouth, what they can do, and how they interact in the complex structures they build on your teeth and tongue. I write content for the eHOMD pages and will be assuming responsibility for managing the eHOMD team in spring 2022.
	</div>
</li>


<li  class='bio'>
	<div class='right'>
		  <img src='/images/Fabiola_Miranda-Sanchez.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>Fabiola Miranda-Sanchez</strong> -- I love bacterial communities and have studied them in a wide range of environments. I am currently exploring new ways to study their assembly and development in the oral cavity. My work for HOMD is related to the isolation of previously uncultured taxa and the cultivation of difficult bacteria using co-culture methods.
	
	</div>
</li>





<li class='bio'>
	<div class='left'>
		  <img src='/images/Stephane_Viala.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>Stéphane Viala</strong>
	</div>
</li>
<li class='bio'>

    <div class='right'>
      <img src='/images/andy_resize2.jpg' height=150>
    </div>
    <div class='txt' >
    <strong>Andrew Voorhis</strong> - I'm a (self taught) computer programmer and bio-informaticist. 
    I'm responsible for re-writing the code for the new eHOMD website and 
    normalizing the underlying database.
    </div>

</li>



<li class='bio'>
	<div class='left'>
		  <img src='/images/William_G_Wade.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>William G. Wade</strong>
	</div>
</li>
<li class='bio'>
	<div class='right'>
		  <img src='/images/susan_yost250.jpg' height=150>
	</div>
	<div class='txt'>
	<strong>susan connolly yost</strong> -- I joined Forsyth 10 years ago, coming back to bench science and my earlier roots in microbial genetics after raising 2 sons, 
	teaching chemistry and music. As a member of the Dewhirst lab, I isolate and grow a multitude of bacteria which make up the fascinating and complex world of the oral microbiome.
	</div>
</li>
</ul>
</center>



<br><br>
<span class='text-info'><b>Past Contributors</b></span>: 
<br>Abby Lakshmanan, Akila Ganesan, Alexandra Rybalka, Alice Kirega, Anne Tanner, Anuj Camanocha, Bruce J. Paster, Cori Leonetti, Derek Spencer, Derrick Fouts, Emmanuel Mongodin, Erica Prosdocimi, Erin Klein, Griffin Weigle, Hayley Thompson, Isabel Fernandez Escapa, Jacques Izard, Jessica Blanton, Katherin P. Lemon, Larry Yang, Maoxuan Lin, Mollie Murname, Nezar Al-hebshi, Oxana Baranova, Prasad Gajare, Sonia Vartoukian, Taylor Joyce, Wen-Han Yu, Yanmei Huang.



