<style>
ul{
  width:70%;
}
.bio {
  height:170px;
  border:1px solid black;
  
}
img{
  
  margin:10px;
}
.left{
  float:left;
}
.right{
  float:right;
}
.txt {
   text-align:left;
   margin-left:200px;
   
   width:70%;
}
</style>
<center>
<ul>

<li class='bio'>
	<div class='right'>
		  <img src='/images/Tsute_Chen.jpg' height=150>
	</div>
	<div class='txt'>
	Tsute Chen
	</div>
</li>
<li class='bio'>
	<div class='left'>
		  <img src='/images/floyd_dewhirst.jpg' height=150>
	</div>
	<div class='txt'>
	Floyd E. Dewhirst
	</div>
</li>
<li class='bio'>
	<div class='right'>
		  <img src='/images/Kathryn_Kauffman.jpg' height=150>
	</div>
	<div class='txt'>
	Kathryn Kauffman
	</div>
</li>
<li class='bio'>
	<div class='left'>
		  <img src='/images/jessica_mark_welch_resize.jpeg' height=150>
	</div>
	<div class='txt'>
	Jessica Mark Welch
	</div>
</li>


<li  class='bio'>
	<div class='right'>
		  <img src='/images/Fabiola_Miranda-Sanchez.jpg' height=150>
	</div>
	<div class='txt'>
	Fabiola Miranda-Sanchez
	</div>
</li>





<li class='bio'>
	<div class='left'>
		  <img src='/images/Stephane_Viala.jpg' height=150>
	</div>
	<div class='txt'>
	Stéphane Viala
	</div>
</li>
<li class='bio'>

    <div class='right'>
      <img src='/images/andy_resize2.jpg' height=150>
    </div>
    <div class='txt' >
    Andrew Voorhis - I'm a (self taught) computer programmer and bio-informaticist. 
    I'm responsible for re-writing the code for the new eHOMD website and 
    normalizing the underlying database.
    </div>

</li>



<li class='bio'>
	<div class='left'>
		  <img src='/images/William_G_Wade.jpg' height=150>
	</div>
	<div class='txt'>
	William G. Wade
	</div>
</li>
<li class='bio'>
	<div class='right'>
		  <img src='/images/Yost.Susan_.small_.jpg' height=150>
	</div>
	<div class='txt'>
	Susan Yost
	</div>
</li>
</ul>
</center>



<br><br>
<span class='text-info'><b>Past Contributors</b></span>: 
<br>Abby Lakshmanan, Akila Ganesan, Alexandra Rybalka, Alice Kirega, Anne Tanner, Anuj Camanocha, Bruce J. Paster, Cori Leonetti, Derek Spencer, Derrick Fouts, Emmanuel Mongodin, Erica Prosdocimi, Erin Klein, Griffin Weigle, Hayley Thompson, Isabel Fernandez Escapa, Jacques Izard, Jessica Blanton, Katherin P. Lemon, Larry Yang, Maoxuan Lin, Mollie Murname, Nezar Al-hebshi, Oxana Baranova, Prasad Gajare, Sonia Vartoukian, Taylor Joyce, Wen-Han Yu, Yanmei Huang.



