<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/header_html'); %>

<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    
    
	
	<div class='wide-content' id="">  					
		 List of Human Microbial Taxa
	</div>
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>


