<style>
.acct-info{
   border:1px solid black;
   background: orange;
   margin:10px;
   padding:20px;
   width:80%;
}
</style>
<center>
<div class='acct-info'>
          Currently the entire HOMD site is open to everyone so there is no need for an account. The only reason is for site maintenance
          by an administrator. However, in the future, we envision users being able to upload specific genomes for viewing
          and comparisons to the HOMD databases.
</div>
</center>