<style>
#blast-box{
   width:90%;
   background:lightgrey;
   padding:20px;
}
#blast-entry{
   height:150px;
   width:60%;
   margin:10px;
   border:1px solid maroon;
}
</style>
<center>
<br>
<form name='' action='POST' method=''>
<div id='blast-box'>
   Enter sequence below in FASTA format
   <br>
   Program:
   <select class='dropdown'>
     <option value='blastn'>BLASTN</option>
     <option value='blastp'>BLASTP</option>
     <option value='blastx'>BLASTX</option>
     <option value='tblastn'>TBLASTN</option>
     <option value='tblastx'>TBLASTX</option>
    </select>
    Database:
   <select class='dropdown'>
     <option value='blastn'>Genomic DNA of <%= gid %></option>
     <option value='blastp'>DNA of Annotated Proteins from <%= gid %></option>
     <option value='blastx'>Genomic DNA from All HOMD Genomes</option>
     <option value='tblastn'>DNA of Annotated Proteins from All HOMD Genomes</option>
    </select>
    <small>
      <input type='radio' checked name='anno' value='prokka'>PROKKA
      <input type='radio' name='anno' value='ncbi'>NCBI
    </small>
    <br>
    
   <textarea placeholder="Enter FASTA Sequence..." id='blast-entry' name='blast-entry'></textarea>
   <br>
   <button value='clear'>Clear</button>
   <input type='submit' value='Blast'>
</div>
</form>
</center>