
<center>
<table style="margin-top:10px;font-size:0.8em; font-style:italic; color:gray;text-align:center">
    <tr>
      <td style='border:0px solid red;padding:0;' colspan="2">Copyright 2007-2025, The Forsyth Institute</td>
    </tr>
    <tr>
      <td style='border:0px solid red;padding:0;' align="right" valign="top">Hosted on Amazon AWS EC2 </td>
      <td style='border:0px solid red;padding:0;' align="left" valign="middle"> <img src="/images/aws.png"></td>
    </tr>
</table>
</center>