<% phyla = JSON.parse(phyla) %>
<% var fstyle = 'none'; %>
<% if(show_filters){ %>
<%   fstyle = 'inline'; %>
    
<% } %>   <!-- end if -->


<table>
<tr>
<td>

	
<style>
.form-group {
  width:400px;
display:inline-block;
}

</style>	
	



<div class="card border-primary" style="max-width: 100%;height:145px;">
  <div class="card-body">
    <p class="card-text">
      <center>Select Genomes by Alphabet: <br></center> 
		<a id='A' href='genome_table?k=A'>A</a>|<a id='B' href='genome_table?k=B'>B</a>|<a id='C' href='genome_table?k=C'>C</a>|<a id='D' href='genome_table?k=D'>D</a>|<a id='E' href='genome_table?k=E'>E</a>|<a id='F' href='genome_table?k=F'>F</a>|<a id='G' href='genome_table?k=G'>G</a>|<a id='H' href='genome_table?k=H'>H</a>|<a id='I' href='genome_table?k=I'>I</a>|<a id='J' href='genome_table?k=J'>J</a>|<a id='K' href='genome_table?k=K'>K</a>|<a id='L' href='genome_table?k=L'>L</a>|<a id='M' href='genome_table?k=M'>M</a>|<a id='N' href='genome_table?k=N'>N</a>|<a id='O' href='genome_table?k=O'>O</a>|<a id='P' href='genome_table?k=P'>P</a>|<a id='Q' style='color:grey;'>Q</a>|<a id='R' href='genome_table?k=R'>R</a>|<a id='S' href='genome_table?k=S'>S</a>|<a id='T' href='genome_table?k=T'>T</a>|<a id='U' style='color:grey;'>U</a>|<a id='V' href='genome_table?k=V'>V</a>|<a id='W' href='genome_table?k=W'>W</a>|<a id='X' style='color:grey;'>X</a>|<a id='Y' href='genome_table?k=Y'>Y</a>|<a id='Z' style='color:grey;'>Z</a>
    <br><center><small>Revert back to:</small> <a id='all' href='genome_table?k='>All Entries</a></center>
    </p>
    
  </div>
</div>


	 
	 
</td><td>


	
  <div id='genome-search' class="card border-primary" style="max-width: 100%;height:145px;">
	<div class="card-body">  
	<p class="card-text col-sm-6">
	<form  name='' method='POST' action=''>
	  
	  <input class="btn btn-secondary btn-sm float-right" type='submit' value='Search'> 
	  
	  Search Genomes:&nbsp;&nbsp;
	  <span class='' >
	    <input class="" type='text' name='gen_srch' maxlength='18' size='20'>
	    <input class="btn btn-secondary btn-sm" type='button' value='Clear'> <a href='#' id='goptions' onclick='toggle_options()'>Options [+]</a>
	  </span>
	  <div class='' id='gen_options' style='display:none;font-size:12px;border-top:1px solid orange;border-bottom:1px solid orange;padding:3px 3px 3px 0;"'>
	    <br>&nbsp;&nbsp;&nbsp;In:
	    <select>
	      <optgroup>
	      <option>All Fields</option>
	      <option>Taxon ID</option>
	      <option>Genus</option>
	      <option>Species</option>
	      <option>Culture Collection</option>
	      <option>Isolation Origin</option>
	      <option>Sequence Status</option>
	      <option>Sequence Center</option>
	      <option>Seq ID</option>
	      </optgroup>
	    </select>
	    Matching:
	    <select>
	      <option>All Words</option>
	      <option>ANY Words</option>
	      <option>Exact Phrase</option>
	    </select>
	    <select>
	      <option>Partial Field</option>
	      <option>Whole Field</option>
	    </select>
	  </div>
	  
	  <br>Sequencing Status: 
	  <input type='checkbox' class='filter_ckbx' id='status_all' name='status_all' \> All&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_complete' name='status_complete' \> Complete&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_coverage' name='status_coverage' \> High Coverages&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='status_survey' name='status_survey' \> Survey&nbsp;
	 
	  <br>Annotation: 
	  <input type='checkbox' class='filter_ckbx' id='anno_all' name='anno_all' \> All&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='anno_both' name='anno_both' \> HOMD with Static&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='anno_homd' name='anno_homd' \> HOMD only&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='anno_static' name='anno_static' \> Static only&nbsp;
	  <input type='checkbox' class='filter_ckbx' id='anno_non' name='anno_non' \> non-oral/nasal&nbsp;
		  
	</form>
	</p>
	</div>  <!-- end card body -->
  </div>	 <!--  end card-->
	 	 


</td></tr>
<tr><td colspan='2'>
<div id='phylum-filter' >
	  Navigate Genomes by Phylum:&nbsp;&nbsp;
	  <select   onchange="location = this.value;">
	  <optgroup>
	  <option value='genome_table'>Select a Phylum</option>
	  <% for(n in phyla) { %>
	    <% if(phyla[n] === phylum){ %>
	      <option selected value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
	    <% }else{ %>
	      <option value='genome_table?phylum=<%= phyla[n] %>'><%= phyla[n] %></option>
	    <% } %>
	  <% } %>
	  </optgroup>
	  </select>
    </div>  <!-- end genus-filter -->
</td></tr>
</table>
		
