
<!-- 
<div id='masthead'>
  <img id='' src='../images/homd_banner.png' alt='HOMD Banner' \>
  <img id='forsythlogo' src='../images/forsyth_logo.png' alt='forsyth_logo' \>

</div>
 -->



<table cellspacing="0" id="masthead">
	<tr>
	  <td>
		<img id='' src='../images/homd_banner.png' alt='HOMD Banner' \>
	  </td>
	  <td>
		<img id='' src='../images/forsyth_logo.png' alt='forsyth_logo' \>
	  </td>
	</tr>
</table>
