
<table id="masthead" style='width:100%;background:white;'>
	<tr>
	  <td>
		<span id='homd_banner'><a href="/"><img  src='/images/homd_banner.png' alt='HOMD Banner' height='100'\></a></span>
	  </td>
	  <td>
		<span id='forsyth_logo'><a href="https://www.forsyth.org" target='_blank'><img id='' src='/images/forsyth_logo.png' alt='HOMD is hosted at the Forsyth Institute' \></a></span>
	  </td>
	</tr>
</table>
