<div id='masthead'>
	<div id='header-image-col1' >
	<span id='homd_banner'><a href="/"><img id='homd_logo_img' src='/images/homd-simple-06.png' alt='HOMD Banner'  \></a></span>
	</div>

	<div id='header-image-col2' >
	<a href="https://www.forsyth.org" target='_blank'><img id='forsyth_logo_img' src='/images/forsyth-logo-with-seal_white-type_new.png' alt='HOMD is hosted at the Forsyth Institute'  \></a>
	</div>
</div>
