<div id='masthead'>
<a href="/"><img  src='/images/homdLogo-5.png' alt='HOMD Banner'  \></a>
</div>
<!-- 
<div id='mt2'>
<table id="masthead" >
	<tr>
	  <td>
		<span id='homd_banner'><a href="/"><img  src='/images/homdLogo-1.png' alt='HOMD Banner'  \></a></span>
	  </td>
	  <td>
		<span id='forsyth_logo'><a href="https://www.forsyth.org" target='_blank'><img id='' src='/images/forsyth-logo-with-seal_white-type_new.png' alt='HOMD is hosted at the Forsyth Institute'  \></a></span>
	  </td>
	</tr>
</table>
</div>
 -->