
<!-- 
<div id='masthead'>
  <img id='' src='../images/homd_banner.png' alt='HOMD Banner' \>
  <img id='forsythlogo' src='../images/forsyth_logo.png' alt='forsyth_logo' \>

</div>
 -->



<table id="masthead">
	<tr>
	  <td>
		<a href="/"><img id='homd_banner' src='/images/homd_banner.png' alt='HOMD Banner' \></a>
	  </td>
	  <td>
		<a href="https://www.forsyth.org" target='_blank'><img id='forsyth_logo' src='/images/forsyth_logo.png' alt='HOMD is hosted at the Forsyth Institute' \></a>
	  </td>
	</tr>
</table>
