<div id='masthead'>
	<div id='header-image-col1' >
	  <span id='homd_banner'><a href="/"><img id='homd_logo_img' src='/images/newbanner_demo/homd_new_banner_7.png' alt='HOMD Banner'  \></a></span>
	</div>
	
</div>
