<div id='masthead'>
   <div id='header-image-col1' >
     <span id='homd_banner'><a href="/"><img id='homd_logo_img' src='/images/homd_banner_devel_small.png' alt='HOMD Banner'  \></a></span>
   </div>
</div>
