<div id='masthead' class="row">
  
  <div id='col1' class="column">
    <span id='homd_banner'><a href="/"><img id='homd_logo_img' src='/images/homdLogo-3.png' alt='HOMD Banner'  \></a></span>
  </div>
  
  <div id='col2' class="column">
    <a href="https://www.forsyth.org" target='_blank'><img id='forsyth_logo_img' src='/images/forsyth-logo-with-seal_white-type_new.png' alt='HOMD is hosted at the Forsyth Institute'  \></a>
  </div>
  
</div>


<!-- 
<div id='mt2'>
<table id="masthead" >
	<tr>
	  <td>
		<span id='homd_banner'><a href="/"><img  src='/images/homdLogo-1.png' alt='HOMD Banner'  \></a></span>
	  </td>
	  <td>
		<span id='forsyth_logo'><a href="https://www.forsyth.org" target='_blank'><img id='' src='/images/forsyth-logo-with-seal_white-type_new.png' alt='HOMD is hosted at the Forsyth Institute'  \></a></span>
	  </td>
	</tr>
</table>
</div>
 -->