<div class='title'>Welcome to eHOMD</div>
<br>
<p class='main-text'>
The goal of creating the expanded Human Oral Microbiome Database (<i>e</i>HOMD) is to provide the scientific community with comprehensive curated information o­n the bacterial species present in the human aerodigestive tract (ADT), which encompasses the upper digestive and upper respiratory tracts, including the oral cavity, pharynx, nasal passages, sinuses and esophagus. <i>e</i>HOMD should also serve well for the lower respiratory tract. Currently, <i>e</i>HOMD includes a total of 775 microbial species, 687 from version 14.51 of HOMD and 88 added in this expansion based o­n publicly available data o­n the microbiota of the aerodigestive tract outside of the mouth. Of all the species, 57% are officially named, 13% unnamed but cultivated and 30% are known o­nly as uncultivated phylotypes. O­ne important aspect of the <i>e</i>HOMD, is that it presents a provisional naming scheme for the currently unnamed taxa, based o­n the 16S rRNA sequence phylogeny, so that strain, clone and probe data from any laboratory can be directly linked to a stably named reference scheme. The <i>e</i>HOMD links sequence data with phenotypic, phylogenetic, clinical and bibliographic information. Genome sequences for aerodigestive tract bacteria determined as part of the HOMD project, the Human Microbiome Project and other sequencing projects are being added to the <i>e</i>HOMD as they become available. A total of 2074 oral/nasal genomes, representing 529 taxa (67% of all taxa, 95% of cultivated taxa) are currently available o­n <i>e</i>HOMD with annotations and can be viewed in a genome browser software. In addition, <i>e</i>HOMD includes 14 non-oral/non-nasal taxa to recruit reference genomes in phyla with no or few oral representatives (Chlorobi, Chloroflexi, GN02, TM7, SR1, WPPS-2. Hence, the total number of genomes are 2087 including non-oral/non-nasal taxa. The <i>e</i>HOMD site offers easy to use tools for viewing all publicly available ADT bacterial genomes. Welcome!
</p>
<br>
<p>
<b>Primary Investigators</b>: Tsute Chen, Floyd E. Dewhirst, Isabel Fernandez Escapa, Yanmei Huang, Katherin P. Lemon, Bruce J. Paster, and William G. Wade
</p>
<br>
<p>
<b>Current Research Contributors</b>: Erica Prosdocimi, Hayley Thompson, Nezar Al-hebshi, and Prasad Gajare.
</p>
<br>
<p>
<b>Past Research Contributors</b>: Oxana Baranova, Jessica Blanton, Anuj Camanocha, Derrick Fouts, Akila Ganesan, Jacques Izard, Taylor Joyce, Alice Kirega, Erin Klein, Abby Lakshmanan, Cori Leonetti, Maoxuan Lin, Emmanuel Mongodin, Alexandra Rybalka, Derek Spencer, Anne Tanner, Sonia Vartoukian, Griffin Weigle, Larry Yang, and Wen-Han Yu
</p>
<br>
<p>
<b>This project is supported by</b>: 
1) Grant R37-DE016937 
  "A Foundation for the Oral Microbiome and Metagenome" from 
  <a href='https://www.nidcr.nih.gov/' target='_blank'>The National Institute of Dental and Craniofacial Research</a>; 
2) A pilot grant 
  "<a href='https://catalyst.harvard.edu/pdf/pilotfunding/Human_Oral_Microbiome_2015_Awardees.pdf' target='_blank'>
  Expanding the HOMD to Include Nasal- and Skin-associated Bacteria</a>" 
  <a href='#'>funded</a> by <a href='https://catalyst.harvard.edu/' target='_blank'>Harvard Catalyst</a>
</p>

