<% var version_info = JSON.parse(ver_info) %> 
<% var cfg = JSON.parse(config) %> 

<ul id="nav" style='z-index:1'>

	<li id='first'><a class='main-topic' href="/" title="HOMD Home">Home</a></li>		
	
	<li><div class='main-topic'>Bacteria <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/taxa/tax_table">Taxon Table</a></li>
			<li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li>
			<li><a href="">View Taxonomy <font color="blue">&#187;</font></a>
			  <ul>
			    <li><a href="/taxa/life">Life Pages</a></li>
			    <li><a href="/taxa/tax_hierarchy">Dynamic Tree Hierarchy</a></li>
			    <li><a href="/taxa/tax_level">By Rank Level Selection</a></li>
			  </ul>
			</li>
			
			
			<li><a href="">16S rRNA RefSeq <font color="blue">&#187;</font></a>
			  <ul>
			    <li><a href="/refseq/refseq_blastn">BLASTN</a></li>
			    <li><a href="#" onclick="open_tree('refseq')">View 16S rRNA RefSeq Phylogenetic Tree</a></li>
			    
			    <li><a href="/download?scroll=refseq">Download RefSeq Data</a></li>
			    <li><a href="/help/template/?menu=help_ident&page=refseq_history&new=1">Version History</a></li>
			  </ul>
			  <li><a href="/download?scroll=taxon">Download Taxonomy Data</a></li>
			</li>
		</ul>
	</li>
	
	<li><div class='main-topic'>Phage <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/phage">Phage Home</a></li>
			<li><a href="/phage/phage_table">Phage Table</a></li>
			<li><a href="/phage/help">Phage Help Pages</a></li>
			<li><a href="/download?scroll=phage">Download Phage Data</a></li>
			<li><a href='/phage/search_questions'>Phage Search Questions</a></li>
		</ul>
	</li>	
	

	<li><div class='main-topic'>Genomic <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/genome/genome_table">Genome Table</a></li>
			<li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li>
			<li><a href="/genome/jbrowse">JBrowse Genome Viewer Tool</a></li>			
			<li><a href="">Genomic Trees <font color="blue">&#187;</font></a>
				<ul> 
				<li><a href="#" onclick="open_tree('conserved')">Conserved Protein Tree</a></li>
				<li><a href="#" onclick="open_tree('ribosomal')">Ribosomal Protein Tree</a></li>
				<li><a href="#" onclick="open_tree('16S_rRNA')">16S rRNA Gene Tree</a></li>
				
				
				</ul>
			</li>		
			<li><a href="/genome/explorer?blast=1">BLAST Against Genomes</a></li>
			<li><a href="https://anviserver.homd.info" target='_blank'>HOMD Anvi'o Server</a></li>	
			<li><a href="/download?scroll=genome">Download Genomic Data</a></li>
			<li><a href="/help/template?menu=help_genomes&page=refgenome_history&new=1">HOMD Reference Genome Version History</a></li>
		</ul>
	</li>	
<!--
	<li><div class='main-topic'>Ecology <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="">Link-1</a></li>
			<li><a href="">Link-2</a></li>
			<li><a href="">Link-3</a></li>
		</ul>
	</li>	
-->	
	<li><div class='main-topic'>Animal Microbiomes <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="https://momd.org/">Mouse (MOMD)</a></li>
			<!-- <li><a href="">Cat (FOMD)</a></li> -->
			<!-- <li><a href="">Dolphin (DOMD)</a></li> -->
		</ul>
	</li>	
    	


	<li><div class='main-topic'>Help <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="https://wiki.homd.info" target='_blank' rel="noopener noreferrer">HOMD Wiki Home</a></li>
			<!-- <li><a href="https://wiki.homd.info/help/user_guide" target='_blank'>User's Guide (in a new window)</a></li> -->
			<li><a href="https://wiki.homd.info/help/general/cite" target='_blank' rel="noopener noreferrer">How to Cite HOMD</a></li>
			<li><a href="https://wiki.homd.info/help/general/description" target='_blank' rel="noopener noreferrer">Project Description</a></li>
			<li><a href="https://wiki.homd.info/help/general/strains" target='_blank'>Strains and DNA Availability</a></li>
			<li><a href="https://wiki.homd.info/help/general/team" target='_blank' rel="noopener noreferrer">People</a></li>
			<li><a href="https://wiki.homd.info/help/general/contact" target='_blank' rel="noopener noreferrer">Contact Us</a></li>
			<li><a href="https://wiki.homd.info/help/general/mailing-list" target='_blank' rel="noopener noreferrer">Mailing List</a></li>
			<li><a href="http://www.homd.org/ftp/" target='_blank' rel="noopener noreferrer">HOMD FTP Site</a></li>
			<!-- <li><a href="/forum" target='_blank' rel="noopener noreferrer">Forum</a></li> -->
			<li><a href="https://wiki.homd.info/announcements/list" target='_blank' rel="noopener noreferrer">Announcements</a></li>
		  <li><a href="https://wiki.homd.info/pages/<%= pgname %>" target='_blank' rel="noopener noreferrer">About this Page</a></li>
		</ul>
	</li>		

	<span id='homd-search' >
	  <input type="text" placeholder="Search.."  id='search_text' value='' maxlength='18' size='20'  />
	  <input type="image" src='/images/search.png'  id="search_button" height='20' onclick='search()' />
    </span>
		<!-- <li><div title="Simplified page name for referencing purpose"><font color="#66FFFF"></font></div></li>	 -->
	
</ul>



