<% var version_info = JSON.parse(ver_info) %> 
<% var cfg = JSON.parse(config) %> 

<ul id="nav" style='z-index:1'>

	<li id='first'><a class='main-topic' href="/" title="HOMD Home">Home</a></li>		
	
	<li><div class='main-topic'>Bacteria <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/taxa/tax_table?page=1&k=all">Taxon Table</a></li>
			<li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li>
			<li><a href="">View Taxonomy <font color="blue">&#187;</font></a>
			  <ul>
			    <li><a href="/taxa/life">Taxonomic Life Pages</a></li>
			    <li><a href="/taxa/tax_hierarchy">Dynamic Tree</a></li>
			    <li><a href="/taxa/tax_level">Choose Ranks</a></li>
			  </ul>
			</li>
			
			<li><a href="/taxa/tax_download">Download Taxonomy Data</a></li>
		</ul>
	</li>
	
	<li><div class='main-topic'>Phage <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/phage">Phage Home</a></li>
			<li><a href="/phage/phage_table">Phage Table</a></li>
			<li><a href="/phage/help">Phage Help Pages</a></li>
		</ul>
	</li>	
	

	<li><div class='main-topic'>Genomic <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/genome/genome_table?otid=&page=1">Genome Table</a></li>
			<li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li>
			<li><a href="/genome/jbrowse">JBrowse Genome Viewer</a></li>			
			<li><a href="">Genomic Trees <font color="blue">&#187;</font></a>
				<ul> 
				<li><a href="/genome/phylo_phlan_tree">PhyloPhlAn Conserved Protein Tree</a></li>
				<li><a href="/genome/ribosomal_protein_tree">Ribosomal Protein Tree</a></li>
				<li><a href="/genome/rRNA_gene_tree">16S rRNA Gene Tree</a></li>
				</ul>
			</li>			
			<li><a href="/ftp/genome/PROKKA/current/">Download Genomic Data</a></li>
			<li><a href="/help/template?menu=help_genomes&page=refgenome_history&new=1">HOMD Reference Genome Version History</a></li>
		</ul>
	</li>	

	<li><div class='main-topic'>Ecology <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="">Link-1</a></li>
			<li><a href="">link-2</a></li>
			<li><a href="">link-3</a></li>
		</ul>
	</li>	
	
	<li><div class='main-topic'>Animal Microbiomes <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="">Mouse (MOMD)</a></li>
			<li><a href="">Cat (FOMD)</a></li>
			<li><a href="">Dolphin (DOMD)</a></li>
		</ul>
	</li>	



	<li><div class='main-topic'>Help <font color="#3399FF">&#5121;</font></div>
		<ul>
			<li><a href="/help/user_guide" target='_blank'>User's Guide (in a new window)</a></li>
			<li><a href="/help/template?menu=help_info&page=cite&new=1">How to Cite HOMD</a></li>
			<li><a href="/help/template?menu=help_info&page=pdescription&new=1">Project Description</a></li>
			<li><a href="/help/template?menu=help_info&page=dna&new=1">Strains and DNA Availability</a></li>
			<li><a href="/help/template?menu=help_info&page=team&new=1">People</a></li>
			<li><a href="/help/template?menu=help_info&page=contact&new=1">Contact Us</a></li>
			<li><a href="/help/template?menu=help_info&page=maillist&new=1">Mailing List</a></li>
			<li><a href="/help/template?menu=help_info&page=usage&new=1">Usage Statistics</a></li>
			<li><a href="/help/template?menu=help_info&page=sitemap&new=1">Site Map</a></li>
			<li><a href="/help/template?menu=help_info&page=announcements&new=1">Announcements</a></li>
		</ul>
	</li>		

	<span id='homd-search' >
	  <input type="text" placeholder="Search.."  id='search_text' value='' maxlength='18' size='20'  />
	  <input type="image" src='/images/search.png'  id="search_button" height='20' onclick='search()' />
    </span>
		<!-- <li><div title="Simplified page name for referencing purpose"><font color="#66FFFF"></font></div></li>	 -->
	
</ul>



