<!-- this is both the top and left menu -->  

<a href='/home'>Home</a><b>|</b>
<a href='/taxon_description'>Taxon Description</a><b>|</b>
<a href='/refseq'>16S rRNA RefSeq</a><b>|</b>
<a href='/genomes'>Genomes</a><b>|</b>
<a href='/proteomes'>Proteomes</a><b>|</b>
<a href='/tools'>HOMD Tools</a><b>|</b>
<a href='/download'>Download</a><b>|</b>
<a href='/info'>HOMD Information</a><b>|</b>


<!-- 
<ul>
	
	<li><a href="#">Taxon Description</a>
	  <ul>
	   <li><a href="#">Taxon Table</a></li>
	   <li><a href="#">Taxonomic Hierarchy</a></li>
	   <li><a href="#">Taxonomic Level</a></li>
	   <li><a href="#">Download Taxonomy Data</a></li>
	  </ul>
	</li>
	
	<li><a href="#">16S rRNA RefSeq</a>
	  <ul>
		<li><a href="#">Identify 16S rRNA using BLASTN</a></li>
		<li><a href="#">View 16S</a></li>
		<li><a href="#">Download</a></li>
		<li><a href="#">History</a></li>
	  </ul>
	</li>
	<li><a href="#">Genomes</a>
	  <ul>
	    <li><a href="#">Taxa with Annotated Genomes</a></li>
	    <li><a href="#">All Oral Genomes</a></li>
	    <li><a href="#">All Genomes</a></li>
	    <li><a href="#">HOMD JBrowse Genome Viewer</a>
	      <ul>
	        <li><a href="#">Select a Genome to view in JBrowse</a></li>
	        <li><a href="#">Upload your own reference sequence</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Genomic Trees</a>
	      <ul>
	        <li><a href="#">PhyloPhlAn Conserved Protein Tree</a></li>
	        <li><a href="#">Ribosomal Protein Tree</a></li>
	        <li><a href="#">16S rRNA gene Tree</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Download Genomic Data</a></li>
	    <li><a href="#">HOMD Reference Genome Version History</a></li>
	  </ul>
	</li>
	<li><a href="#">Proteomes</a>
	  <ul>
	    <li><a href="#">View Genomic Tree based on Conserved Proteins</a></li>
	    <li><a href="#">Download All Protein Sequences Annotated from Genomes</a></li>
	  </ul>
	</li>
	<li><a href="#">HOMD Tools</a>
	  <ul>
	    <li><a href="#">HOMD JBrowse Genome Viewer</a>
	      <ul>
	        <li><a href="#">Select a genome to view in JBrowse</a></li>
	        <li><a href="#">Upload your own reference sequence</a></li>
	      </ul>
	    </li>
	    <li><a href="#">View Genome Annotation</a></li>
	    <li><a href="#">BLAST Against HOMD Genomes</a>
	      <ul>
	        <li><a href="#">BLAST against a Genome</a></li>
	        <li><a href="#">BLAST against all Genomes</a></li>
	      </ul>
	    </li>
	  </ul>
	</li>
	<li><a href="#">Download</a>
	  <ul>
	    <li><a href="#">Download HOMD Data</a></li>
	    <li><a href="#">HOMD FTP Site</a></li>
	    <li><a href="#">HOMD Posters</a></li>
	    <li><a href="#">Oralgen</a>
	      <ul>
	        <li><a href="#">Oralgen Archive</a></li>
	        <li><a href="#">Oralgen Genome Info</a></li>
	      </ul>
	    </li>
	  </ul>
	</li>
	<li><a href="#">HOMD Information</a>
	  <ul>
	    <li><a href="#">How to cite HOMD</a></li>
	    <li><a href="#">Project Description</a></li>
	    <li><a href="#">Strains and DNA Availablity</a></li>
	    <li><a href="#">Team</a></li>
	    <li><a href="#">Contact Us</a></li>
	    <li><a href="#">Mailing List</a></li>
	    <li><a href="#">Help and Guides</a>
	      <ul>
	        <li><a href="#">User's Guide</a></li>
	        <li><a href="#">Hands-on Guide to HOMD</a></li>
	        <li><a href="#">Quick Tour to HOMD</a></li>
	      </ul>
	    </li>
	    <li><a href="#">Usage Statistics</a></li>
	    <li><a href="#">Site Map</a></li>
	  </ul>
	</li>
	
</ul>
 -->