
<ul id="nav" style='z-index:1'>

	<li><a href="/" title="HOMD Home">Home</a>	    
     <ul>
		<li><a href='/admin/login'>Login</a></li>
		<li><a href='/admin/register'>Register</a></li>
		<li><a href='/admin/reset'>Reset Password</a></li>	
	 </ul>
	</li>		
	
	<li><div>Taxonomy</div>
		<ul>
			<li><a href="/taxa/taxTable">Taxon Table</a></li>
			<li><a href="/taxa/taxHierarchy">Taxonomic Hierarchy</a></li>
			<li><a href="/taxa/taxLevel">Taxonomic Level</a></li>
			<li><a href="/taxa/taxDownload">Download Taxonomy Data</a></li>
		</ul>
	</li>
	
	<li><div>16S rRNA RefSeq</div>
		<ul>
			<li><a href="/refseqBLASTN">Identify 16S rRNA using BLASTN</a></li>
			<li><a href="/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg">View 16S rRNA RefSeq Phylogenetic Tree</a></li>
			<li><a href="/refseqDownload">Download 16S rRNA RefSeq & Taxonomy</a></li>
			<li><a href="/refseqVersionHistory">HOMD 16S rRNA RefSeq Version History</a></li>
		</ul>
	</li>	
	

	<li><div>Genomes</div>
		<ul>
			<li><a href="/genomes">Taxa with Annotated Genomes</a></li>
			<li><a href="/genomes/all_oral">All Oral Genomes</a></li>
			<li><a href="/genomes/all_homd">All Genomes</a></li>
			<li><a href="">HOMD JBrowse Genome Viewer <font color="red">&#187;</font></a>
				<ul>
				<li><a href="/?name=GenomeExpGM&gprog=jbrowse">Select an HOMD genome to view in JBrowse</a></li>
				<li><a href="/?name=myjbrowse">Upload your own reference sequence <font color="green">HOMD only!</font></a></li>
				</ul>
			</li>			
			<li><a href="">Genomic Trees <font color="red">&#187;</font></a>
				<ul> 
				<li><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg">PhyloPhlAn Conserved Protein Tree</a></li>
				<li><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Ribosomal_Protein_Tree.svg">Ribosomal Protein Tree</a></li>
				<li><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_16S_rRNA_Tree.svg">16S rRNA Gene Tree</a></li>
				</ul>
			</li>			
			<li><a href="/ftp/genomes/PROKKA/current/">Download Genomic Data</a></li>
			<li><a href="/?name=Article&file=index&toc=1&sid=157">HOMD Reference Genome Version History</a></li>
		</ul>
	</li>	

	<li><div>Proteomes</div>
		<ul>
			<li><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg">View genomic tree based on conserved proteins</a></li>
			<li><a href="/ftp/genomes/PROKKA/current/">Download All Protein Sequences Annotated from Genomes</a></li>
		</ul>
	</li>	
	
	<li><div>HOMD Tools</div>
		<ul>
			<li><a href="">HOMD JBrowse Genome Viewer <font color="red">&#187;</font></a>
				<ul>
				<li><a href="/?name=GenomeExpGM&gprog=jbrowse">Select an HOMD genome to view in JBrowse</a></li>
				<li><a href="/?name=myjbrowse">Upload your own reference sequence <font color="green">HOMD only!</font></a></li>
				</ul>
			</li>
			
			<li><a href="/?name=GenomeExpGM&gprog=danno&annodb=prokka_annot">Genome Annotations</a></li>
			<li><a href="">BLAST Against HOMD Genomes <font color="red">&#187;</font></a>
				<ul>
					<li><a href="/?name=GenomeExpGM&gprog=blast">BLAST against a genome</a></li>
					<li><a href="/?name=GenomeExpGM&gprog=blast&org=all_genome">BLAST against all genomes</a></li>
				</ul>		
			</li>
		</ul>
	</li>	




	<li><div>Download</div>
		<ul>
			<li><a href="/index.php?name=Download">Download HOMD Data</a></li>
			<li><a href="http://www.homd.org/ftp">HOMD FTP Site</a></li>
			<li><a href="/poster">HOMD Posters</a></li>		
			<li><a href="http://www.oralgen.org" target="_blank">Oralgen Archive <font color="red">&#187;</font> </a>
				<ul>
					<li><a href="http://www.oralgen.org" target="_blank">Oralgen Archive</a></li>
					<li><a href="http://www.homd.org/oralgen">Oralgen Genome Info</a></li>
				</ul>			
			</li>	
		</ul>
	</li>	

	<li><div>HOMD Information</div>
		<ul>
			<li><a href="/help/user_guide">User's Guide</a></li>
			<li><a href="/help/template?menu=help_info&page=cite&new=1">How to Cite HOMD</a></li>

	        <li><a href="/?name=Article&file=index&sid=59" title="Click for help on current page">How to Use This Page <font color="red">&#187;</font></a>
				<ul>
					<li><a href="/help/user_guide">User's Guide</a></li>
					<li><a href="/download/guide/Hands_on_Guide_to_HOMD_20090330.ppt">Hands on Guide to HOMD</a></li>
					<li><a href="/download/guide/HHOMD_HMS_TCHEN_2015.pptx">Quick Tour to HOMD 2015</a></li>
				</ul>
			</li>	

			<li><a href="/help/template?menu=help_info&page=pdescription&new=1">Project Description</a></li>
			<li><a href="/help/template?menu=help_info&page=dna&new=1">Strains and DNA Availability</a></li>
			<li><a href="/help/template?menu=help_info&page=team&new=1">People</a></li>
			<li><a href="/help/template?menu=help_info&page=contact&new=1">Contact Us</a></li>
			<li><a href="/help/template?menu=help_info&page=mailing&new=1">Mailing List</a></li>
			<li><a href="/help/template?menu=help_info&page=usage&new=1">Usage Statistics</a></li>
			<li><a href="/help/template?menu=help_info&page=sitemap&new=1">Site Map</a></li>
			<li><a href="/help/template?menu=help_info&page=announcements&new=1">Announcements</a></li>
		</ul>
	</li>		

	<li id='simple_page_name'></li>
		<!-- <li><div title="Simplified page name for referencing purpose"><font color="#66FFFF"></font></div></li>	 -->
	
</ul>
<div id='login-status'>
  <div id='' class="flash-message" >  	
        <% if (messages.success) { %>
          <div class="alert_flash_message_success"><%- messages.success %></div>
        <% }else if(messages.fail){ %>
          <div class="alert_flash_message_fail"><%- messages.fail %></div>
        <% } %>
  </div>
</div>

<div id='refseq-stats'>
   16S rRNA Refseq <a class="pn-sub" href="/?name=Article&toc=1&sid=96">V15.21</a> 
   Genomic RefSeq  <a class="pn-sub" href="?name=Article&file=index&toc=1&sid=157">V9.14</a>
</div>


