<% var version_info = JSON.parse(ver_info) %> 
<% var cfg = JSON.parse(config) %> 
<style>
  
</style>
<div id='nav-div' >
<ul id="nav" style='z-index:1'>

  <li id='first'><a class='main-topic' href="/" title="HOMD Home">HOME</a></li>   
  
  <li><a class='main-topic' href="">Taxonomy</a>
    <ul>
      <li><a href="/taxa/tax_table">Taxon Table</a></li>
      <li><a href="/taxa/life">Life Pages</a></li>
      <li><a href="/taxa/ecology">Ecology (Abundance)</a></li>
      <li><a href="/taxa/tax_hierarchy">Dynamic Tree</a></li>
      <li><a href="/taxa/tax_level">Rank Level Selection</a></li>
      
      <!-- <li><a href="/taxa/flags">Taxon Flags (in progress)</a></li> -->
      
      <li><a href="/download#taxon">Download Taxonomy Data</a></li>
      
    </ul>
  </li>
  <% if(cfg.ENV === 'development'){ %>
    <li><a class='main-topic' href="" >Phage</a>
      <ul>
        <!-- <li><a href="/phage">Phage Home</a></li> -->
        <li><a href="/phage/phage_table">Phage Table</a></li>
        <li><a href="/help/help-page?pagecode=phage">Phage Help Pages</a></li>
        <li><a href="/download#phage">Download Phage Data</a></li>
        <li><a href='/phage/search_questions'>Phage Search Questions</a></li>
      </ul>
    </li> 
  <% } %>

  <li><a class='main-topic' href="" >Genomics</a>
    <ul>
      <li><a href="/genome/genome_table">Genome Table</a></li>
      <!-- <li><a href="/taxa/tax_table?annot=1">Taxon Table<br>&nbsp;&nbsp;&nbsp;(only taxa w/ genomes)</a></li> -->
      <li><a href="/genome/jbrowse">JBrowse Genome Viewer Tool</a></li>     
      <li><a href="">Genomic Trees <font color="blue">&#187;</font></a>
        <ul> 
        <li><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg">Conserved Protein Tree</a></li>
        <li><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Ribosomal_Protein_Tree.svg">Ribosomal Protein Tree</a></li>
        <li><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_16S_rRNA_Tree.svg">16S rRNA Gene Tree</a></li>
        
        </ul>
      </li> 
      <li><a href="/genome/explorer?gid=&anno=prokka">Genome Explorer and Annotations</a></li>
      <li><a href="/genome/blast">BLAST<small>+</small></a></li>  
      
     
     <!--  <li><a href="https://anviserver.homd.info" target='_blank'>HOMD Anvi'o Server</a></li>   -->
      
      <li><a href="/download#genome">Download Genomic Data</a></li>
      
      <li><a href="/help/help-page?pagecode=genome/genome_version">HOMD Reference Genome Version History</a></li>
    
    </ul>
  </li> 

    <li><a class='main-topic' href="" >16S rRNA Microbiome</a>
    <ul>
          <li><a href="/refseq/refseq_blastn">BLASTN<small>+</small> (Identify 16S rRNA Sequences)</a></li>
          <li><a href="http://www.homd.org/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg">View 16S rRNA RefSeq Phylogenetic Tree</a></li>
          
          <li><a href="/download#refseq">Download RefSeq Data</a></li>
          
          <li><a href="/help/help-page?pagecode=refseq/refseq_version">Version History</a></li>
    </ul>
  </li> 
  <li><a class='main-topic' href="">Animal Microbiomes</a>
    <ul>
      <li><a href="https://momd.org/">Mouse (MOMD)</a></li>
      <!-- <li><a href="">Cat (FOMD)</a></li> -->
      <!-- <li><a href="">Dolphin (DOMD)</a></li> -->
    </ul>
  </li> 
      
   <li><a class='main-topic' href="">Downloads</a>
       <ul>
      <li><a href="/download">Download Batch HOMD Data</a></li>
      <li><a href="http://www.homd.org/ftp/" target='_blank' rel="noopener noreferrer">HOMD FTP Site</a></li>
      <li><a href="/poster">Posters</a></li>
      <li><a href="">Oralgen <font color="blue">&#187;</font></a>
         <ul> 
         <li><a href="http://www.oralgen.org/" target='_blank'>www.oralgen.org Archive</a></li>
         <li><a href="/oralgen">Oralgen Genome Info</a></li>
         
        
         </ul>
      </li>
    </ul>
   
   </li>

  <li><a class='main-topic' href="">Help</a>
    <ul>
      <li><a href="/help/index" >HOMD Help Content</a></li>
     <!--  <li><a href="https://wiki.homd.info" target='_blank' rel="noopener noreferrer">HOMD Wiki Home-obsolete</a></li> -->
      <!-- <li><a href="https://wiki.homd.info/help/user_guide" target='_blank'>User's Guide (in a new window)</a></li> -->
      <li><a href='/help/help-page?pagecode=cite' >How to Cite HOMD</a></li>
      <li><a href='/help/help-page?pagecode=description' >Project Description</a></li>
      <li><a href='/help/help-page?pagecode=strains'>Strains and DNA Availability</a></li>
      <li><a href='/help/help-page?pagecode=team'>People</a></li>
      <li><a href='/help/help-page?pagecode=contact'>Contact Us</a></li>
      <!-- <li><a href='/help/mailing'>Mailing List</a></li> -->
      
      <!-- <li><a href="/forum" target='_blank' rel="noopener noreferrer">Forum</a></li> -->
      <li><a href='/help/help-page?pagecode=announcement'>Announcements</a></li>
      <li><a href='/help/index'>Search Help</a></li>
    </ul>
    
  </li>   
  
  <% if(pgname && ['home','lost'].indexOf(pgname) == -1){ %>
      <li><a href='/help/help-page?pagecode=<%= pgname %>'><span class='small-link blue-text'>[Page-Help]</span></a></li>
  <% } %>
  <% if(pgname !== 'home'){ %>
  <span id='homd-search' >
    <input type="text" placeholder="Search.."  id='search_text' value='' maxlength='18' size='20'  />
    <input type="image" src='/images/search2.png'  id="search_button" height='15' onclick='search()' />
  </span>
  <% } %>
</ul>
</div>
<% if(pgname !== 'home'){ %>
<div id='version-info' >
      16S rRNA RefSeq: <a href="/help/help-page?pagecode=refseq/refseq_version">V<%= version_info.rna_ver %></a>
      &nbsp;&nbsp;&nbsp;Genomic RefSeq: <a href="/help/help-page?pagecode=genome/genome_version">V<%= version_info.gen_ver %></a>
</div>
<% } %>
