
<div id="row1">	

  <div id='column_left1'  >
	
	<div id='header-select' >
		  <small>start here:</small><br>
		  <a href='#' onclick='open_phage_header_select()'>Select up to 5 columns to view</a>
		  <div id='phage-column-choices'></div>
		  
		  
		  
	</div>  <!-- end header-select -->	
	
    </div>	 <!--  end col-left1-->
  
    <div id="column_right1" >
		<div class='alpha-select'>
		<!-- <form method='GET' action='phage_table' > -->
		  <center>
		   <small>Select Phage by Alphabet: 
			<% if(rank == 'genus'){ %>
			  <input type='radio' name='phage-by-alpha' value='family' onclick='deselect_letter()' />Family
			  <input type='radio' name='phage-by-alpha' checked value='genus' onclick='deselect_letter()' />Genus
			<% }else{ %>
			  <input type='radio' name='phage-by-alpha' checked value='family' onclick='deselect_letter()' />Family
			  <input type='radio' name='phage-by-alpha' value='genus' onclick='deselect_letter()' />Genus
			<% } %>
			
			<br>
			<span id='alpha-list'> 
			<a id='A' href='#' onclick="phage_alpha('A')">A</a>|<a id='B' href='#' onclick="phage_alpha('B')">B</a>|<a id='C' href='#' onclick="phage_alpha('C')">C</a>|<a id='D' href='#' onclick="phage_alpha('D')">D</a>|<a id='E' href='#' onclick="phage_alpha('E')">E</a>|<a id='F' href='#' onclick="phage_alpha('F')">F</a>|<a id='G' href='#' onclick="phage_alpha('G')">G</a>|<a id='H' href='#' onclick="phage_alpha('H')">H</a>|<a id='I' href='#' onclick="phage_alpha('I')">I</a>|<a id='J' href='#' onclick="phage_alpha('J')">J</a>|<a id='K' href='#' onclick="phage_alpha('K')">K</a>|<a id='L' href='#' onclick="phage_alpha('L')">L</a>|<a id='M' href='#' onclick="phage_alpha('M')">M</a>|<a id='N' href='#' onclick="phage_alpha('N')">N</a>|<a id='O' href='#' onclick="phage_alpha('O')">O</a>|<a id='P' href='#' onclick="phage_alpha('P')">P</a>|<a id='Q' href='#' onclick="phage_alpha('Q')">Q</a>|<a id='R' href='#' onclick="phage_alpha('R')">R</a>|<a id='S' href='#' onclick="phage_alpha('S')">S</a>|<a id='T' href='#' onclick="phage_alpha('T')">T</a>|<a id='U' href='#' onclick="phage_alpha('U')">U</a>|<a id='V' href='#' onclick="phage_alpha('V')">V</a>|<a id='W' href='#' onclick="phage_alpha('W')">W</a>|<a id='X' href='#' onclick="phage_alpha('X')">X</a>|<a id='Y' href='#' onclick="phage_alpha('Y')">Y</a>|<a id='Z' href='#' onclick="phage_alpha('Z')">Z</a>
		    </span>
		   </small>
		  </center>
		<!-- </form> -->
		</div>
	</div>
	 	 
</div>

<div id="row2">
	<span id='count_info'><%- count_text %></span>
	
	<div><center>Reload Table</center>
	   <small>with Original Sorting and Columns:
	   <a class="pill pill-brown" href='phage_table?reset=1'>Reload</a>
	   <small>
	</div> 


<form id='ptable_search' name='ptable_search' method='POST' action='search_phagetable' >
	  
	  
            Search This Table:
            <div class="">
              <input  id='phage_srch_text' type='text' placeholder="Search.." class='dropdown' name='phage_srch' maxlength='18' size='20'>
              <select class='dropdown' id='' class="" name='field' >
              <optgroup>
              <option value='all'>All Fields</option>
              <option value='phageid'>Phage-ID</option>
              <option value='pfamily'>Phage Family</option>
              <option value='pgenus'>Phage Genus</option>
              <option value='pspecies'>Phage Species</option>
              <option value='hostname'>Host Name</option>
              <option value='hostid'>Host Taxon-ID</option>
              <!-- 
<o             option value='strain'>Culture Collection</option>
              <option value='io'>Isolation Origin</option>
              <option value='status'>Sequence Status</option>
              <option value='seq_center'>Sequence Center</option>
              <option value='seqid'>Seq ID</option>
 -->
              </optgroup>
              </select>
 
              <input class="pill pill-brown float-right" type='button' value=' Go ' onclick='phage_table_search()'> 
            </div>
       
	  
	  

	</form>
	
	
</div>