<table cellpadding="0" cellspacing="0" width="100%" height ="" align="center" valign="top" border="0">
			<!--<tr><td align="left" valign="center" height="0"></td></tr>-->
			<tr><td><div class="menulines_top">Taxon Description</div></td></tr>
			<tr><td><a href="/taxa/tax_table" class="menulines"><img src="../images/icon_external.png" > Taxon Table</td></a></tr>
			<tr><td><a href="/taxa/tax_hierarchy" class="menulines"><img src="../images/icon_external.png" > Taxonomic Hierarchy</td></a></tr>
			<tr><td><a href="/taxa/tax_level" class="menulines"><img src="../images/icon_external.png" > Taxonomic Level</td></a></tr>
			<tr><td><a href="?name=Download&taxonly=1" class="menulines"><img src="../images/icon_external.png" > Download Taxonomy Data</td></a></tr>


			<tr><td><div class="menulines_top">16S rRNA RefSeq</div></td></tr>
			<tr><td><a href="?name=RNAblast&link=upload" class="menulines"><img src="../images/icon_external.png" > Identify 16S rRNA using BLASTN</a></td></tr>
			<tr><td><a href="/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg" class="menulines"><img src="../images/icon_external.png" > View 16S rRNA RefSeq Phylogenetic Tree</a></td></tr>
			<tr><td><a href="?name=seqDownload&type=R" class="menulines"><img src="../images/icon_external.png" > Download RefSeq & Taxonomy</a></td></tr>
			<tr><td><a href="/?name=Article&toc=1&sid=96" class="menulines"><img src="../images/icon_external.png" > HOMD 16S rRNA RefSeq Version History</a></td></tr>
				
			
			<tr><td><div class="menulines_top">Genomes</div></td></tr>
			<tr><td><a href="index.php?name=HOMD&annot=1" class="menulines"><img src="../images/icon_external.png" > Taxa with Annotated Genomes</td></a></tr>
			<tr><td><a href="/genome/genome_table&otid=alloral" class="menulines"><img src="../images/icon_external.png" > All Oral Genomes</td></a></tr>
			<tr><td><a href="/genome/genome_table&otid=all" class="menulines"><img src="../images/icon_external.png" > All Genomes</td></a></tr>

				<tr><td><a onclick="expandcontent_simple(this, 'jbrowse1')" class="menulines"><img src="../images/icon_external.png" > HOMD JBrowse Genome Viewer <font color="red">&#187;</font></a></td></tr>
				<tr id="jbrowse1" style="display:none"><td>
					<table cellpadding="0" cellspacing="0">
					<tr><td><a href="/?name=GenomeExpGM&gprog=jbrowse" title="Upload your own sequence to view in JBrowse"  class="menulines_sub">Select a genome to view in JBrowse</a></td></tr>		
					<tr><td><a href="/index.php?name=myjbrowse" title="Upload your own sequence to view in JBrowse"  class="menulines_sub">Upload your own reference sequence <font color="green">HOMD only!</font></a></td></tr>		
					</table>
				</td></tr>			
			
			
			<tr><td><a onclick="expandcontent_simple(this, 'genome')" class="menulines"><img src="../images/icon_external.png" > Genomic Trees <font color="red">&#187;</font></a></td></tr>
			<tr id="genome" style="display:none"><td>
				<table cellpadding="0" cellspacing="0">
				<tr><td><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg" title="PhloPhlAn conserved protein tree of all genomes"  class="menulines_sub">PhyloPhlAn Conserved Protein Tree</a></td></tr>		
				<tr><td><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Ribosomal_Protein_Tree.svg" title="Phylogenetic tree based on ribosomal proteins annotated in genomes"  class="menulines_sub">Ribosomal Protein Tree</a></td></tr>		
            <tr><td><a href="ftp/phylogenetic_trees/genome/current/eHOMD_16S_rRNA_Tree.svg" title="Phylogenetic tree based on 16S rRNA genes annotated in genomes"  class="menulines_sub">16S rRNA Gene Tree</a></td></tr>		

				</table>
			</td></tr>			
			
			
			<tr><td><a href="/ftp/genomes/PROKKA/current/" class="menulines"><img src="../images/icon_external.png" > Download Genomic Data</td></a></tr>
			<tr><td><a href="?name=Article&file=index&toc=1&sid=157" class="menulines"><img src="../images/icon_external.png" > HOMD Reference Genome Version History</td></a></tr>

			<tr><td><div class="menulines_top">Proteomes</div></td></tr>
			<tr><td align="left" valign="left"><a href="/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg" class="menulines"><img src="../images/icon_external.png" > View genomic tree based on conserved proteins</td></a></tr>
			<tr><td align="left" valign="left"><a href="/ftp/genomes/PROKKA/current/" class="menulines"><img src="../images/icon_external.png" > Download All Protein Sequences Annotated from Genomes</td></a></tr>
			

			<tr><td><div class="menulines_top">HOMD Tools</div></td></tr>
				<tr><td><a onclick="expandcontent_simple(this, 'jbrowse')" class="menulines"><img src="../images/icon_external.png" > HOMD JBrowse Genome Viewer <font color="red">&#187;</font></a></td></tr>
				<tr id="jbrowse" style="display:none"><td>
					<table cellpadding="0" cellspacing="0">
					<tr><td><a href="/?name=GenomeExpGM&gprog=jbrowse" title="Upload your own sequence to view in JBrowse"  class="menulines_sub">Select a genome to view in JBrowse</a></td></tr>		
					<tr><td><a href="/index.php?name=myjbrowse" title="Upload your own sequence to view in JBrowse"  class="menulines_sub">Upload your own reference sequence <font color="green">HOMD only!</font></a></td></tr>		
					</table>
				</td></tr>
				<tr><td><a href="/?name=GenomeExpGM&gprog=danno&annodb=prokka_annot" class="menulines"><img src="../images/icon_external.png" > View Genome Annotation</a></td></tr>
				<tr><td><a onclick="expandcontent_simple(this, 'blast')" class="menulines"><img src="../images/icon_external.png"> BLAST Against HOMD Genomes <font color="red">&#187;</font></a></td></tr>
				<tr id="blast" style="display:none"><td>
					<table cellpadding="0" cellspacing="0">
					<tr><td><a href="/?name=GenomeExpGM&gprog=blast" class="menulines_sub">BLAST against a genome</a></td></tr>		
					<tr><td><a href="/?name=GenomeExpGM&gprog=blast&org=all_genome" class="menulines_sub">BLAST against all genomes</a></td></tr>		
					</table>
				</td></tr>				





			<tr><td><div class="menulines_top">Download</div></td></tr>
				<tr><td><a href="?name=Download" class="menulines"><img src="../images/icon_external.png"> Download HOMD Data</a></td></tr>
				<tr><td><a class="menulines" href="http://www.homd.org/ftp"><img src="../images/icon_external.png"> HOMD FTP Site </a> </td></tr>
				<tr><td><a href="/poster" class="menulines"><img src="../images/icon_external.png"> HOMD Posters</a></td></tr>
				<tr><td><a onclick="expandcontent_simple(this, 'oralgen')" class="menulines"><img src="../images/icon_external.png"> Oralgen <font color="red">&#187;</font></a></td></tr>
				<tr id="oralgen" style="display:none"><td>
					<table cellpadding="0" cellspacing="0">
					<tr><td><a href="http://www.oralgen.org" class="menulines_sub" target="_blank">Oralgen Archive</a></td></tr>		
					<tr><td><a href="/oralgen" class="menulines_sub">Oralgen Genome Info</a></td></tr>		
					</table>
				</td></tr>					

















			<tr><td><div class="menulines_top">HOMD Information</div></td></tr>
				<tr><td><a href="modules.php?name=Article&toc=1&sid=89" class="menulines"><img src="../images/icon_external.png" > How to cite HOMD</a></td></tr>					
				<tr><td><a href="modules.php?name=Article&toc=1&sid=3" class="menulines"><img src="../images/icon_external.png" > Project Description</a></td></tr>
				<tr><td><a href="modules.php?name=Article&toc=1&sid=101" class="menulines"><img src="../images/icon_external.png" > Strains and DNA Availability</a></td></tr>				<tr><td><a href="modules.php?name=Article&sid=4" class="menulines"><img src="../images/icon_external.png" > Team</a></td></tr>
				<tr><td><a href="modules.php?name=Article&toc=1&sid=27" class="menulines"><img src="../images/icon_external.png" > Contact Us</a></td></tr>
				<tr><td><a href="modules.php?name=Article&toc=1&sid=67" class="menulines"><img src="../images/icon_external.png" > Mailing List</a></td></tr>
				<tr><td><a onclick="expandcontent_simple(this, 'guide')" class="menulines"><img src="../images/icon_external.png"> Help & Guides <font color="red">&#187;</font></a></td></tr>

				<tr id="guide" style="display:none"><td>
					<table cellpadding="0" cellspacing="0">
					<tr><td><a href="modules.php?name=Article" class="menulines_sub"><img src="../images/icon_external.png" > User's Guide</a></td></tr>
					<tr><td><a href="download/guide/Hands_on_Guide_to_HOMD_20090330.ppt" class="menulines_sub" title="Download Powerpoint slides"><img src="../images/icon_external.png" > Hands-on Guide to HOMD</a></td></tr>				
					<tr><td><a href="download/guide/HOMD_HMS_TCHEN_2015.pptx" class="menulines_sub" title="Download Powerpoint slides"><img src="../images/icon_external.png" > Quick Tour to HOMD 2015</a></td></tr>				
					</table>
				</td></tr>
								
			
				<tr><td><a href="index.php?name=LinkModules&link=statistics" class="menulines"><img src="../images/icon_external.png" > Usage Statistics</a></td></tr>
				<tr><td><a href="?name=HOME&link=smap" class="menulines"><img src="../images/icon_external.png" > Site Map</a></td></tr>
			






			
			</table>