<ul>
	
	<li><h4>Taxon Description</h4>
	  <ul>
	   <li><a href="/tax_table">Taxon Table</a></li>
	   <li><a href="/tax_hierarchy">Taxonomic Hierarchy</a></li>
	   <li><a href="/tax_level">Taxonomic Level</a></li>
	   <li><a href="/tax_download">Download Taxonomy Data</a></li>
	  </ul>
	</li>
	
	<li><h4>16S rRNA RefSeq</h4>
	  <ul>
		<li><a href="/refseq_blatn">Identify 16S rRNA using BLASTN</a></li>
		<li><a href="/refseq_view16S">View 16S</a></li>
		<li><a href="/refseq_download">Download</a></li>
		<li><a href="/refseq_history">History</a></li>
	  </ul>
	</li>
	<li><h4>Genomes</h4>
	  <ul>
	    <li><a href="/genomes_taxa">Taxa with Annotated Genomes</a></li>
	    <li><a href="/genomes_oral">All Oral Genomes</a></li>
	    <li><a href="/genomes_all">All Genomes</a></li>
	    <li><a href="#" class='' id=''>HOMD JBrowse Genome Viewer</a>
	      <ul>
	        <li><a href="jbrowse_select">Select a Genome to view in JBrowse</a></li>
	        <li><a href="jbrowse_upload">Upload your own reference sequence</a></li>
	      </ul>
	    </li>
	    <li><a href="#" class='' id=''>Genomic Trees</a>
	      <ul>
	        <li><a href="/genomes_phylophlan_tree">PhyloPhlAn Conserved Protein Tree</a></li>
	        <li><a href="/genomes_protein_tree">Ribosomal Protein Tree</a></li>
	        <li><a href="/genomes_rna_gene_tree">16S rRNA gene Tree</a></li>
	      </ul>
	    </li>
	    <li><a href="/genomes_download">Download Genomic Data</a></li>
	    <li><a href="/genomes_version_history">HOMD Reference Genome Version History</a></li>
	  </ul>
	</li>
	<li><h4>Proteomes</h4>
	  <ul>
	    <li><a href="/proteomes_view_tree">View Genomic Tree based on Conserved Proteins</a></li>
	    <li><a href="/proteomes_download">Download All Protein Sequences Annotated from Genomes</a></li>
	  </ul>
	</li>
	<li><h4>HOMD Tools</h4>
	  <ul>
	    <li><a href="#" class='' id=''>HOMD JBrowse Genome Viewer</a>
	      <ul>
	        <li><a href="/jbrowse_select">Select a genome to view in JBrowse</a></li>
	        <li><a href="/jbrowse_upload">Upload your own reference sequence</a></li>
	      </ul>
	    </li>
	    <li><a href="/tools_view_annotation">View Genome Annotation</a></li>
	    <li><a href="#" class='' id=''>BLAST Against HOMD Genomes</a>
	      <ul>
	        <li><a href="/blast_one">BLAST against a Genome</a></li>
	        <li><a href="/blast_all">BLAST against all Genomes</a></li>
	      </ul>
	    </li>
	  </ul>
	</li>
	<li><h4>Download</h4>
	  <ul>
	    <li><a href="/download_">Download HOMD Data</a></li>
	    <li><a href="#">HOMD FTP Site</a></li>
	    <li><a href="#">HOMD Posters</a></li>
	    <li><a href="#" class='' id=''>Oralgen</a>
	      <ul>
	        <li><a href="http://www.oralgen.org/" target='_blank'>Oralgen Archive</a></li>
	        <li><a href="oralgen_info">Oralgen Genome Info</a></li>
	      </ul>
	    </li>
	  </ul>
	</li>
	<li><h4>HOMD Information</h4>
	  <ul>
	    <li><a href="/howto_cite">How to cite HOMD</a></li>
	    <li><a href="/homd_description">Project Description</a></li>
	    <li><a href="/strains_availability">Strains and DNA Availablity</a></li>
	    <li><a href="/team">Team</a></li>
	    <li><a href="/contact_us">Contact Us</a></li>
	    <li><a href="/mailing_list">Mailing List</a></li>
	    <li><a href="#" class='' id=''>Help and Guides</a>
	      <ul>
	        <li><a href="/users_guide">User's Guide</a></li>
	        <li><a href="/hands_on">Hands-on Guide to HOMD</a></li>
	        <li><a href="tour">Quick Tour to HOMD</a></li>
	      </ul>
	    </li>
	    <li><a href="statistics">Usage Statistics</a></li>
	    <li><a href="site_map">Site Map</a></li>
	  </ul>
	</li>
	
</ul>