



<div id="row2">
  
  
  <div id="column_left2">
      <div id='taxa-count'>
         <span id='total-count'><strong>Total:</strong> <span><%= tcount %> </span></span>
     
         (<span id='showing-count'><strong>Showing <span><%= count %></span></strong> Taxa</span>)
       
         <%- page_form %>
       </div>
 
  </div>
  
  
  
  
  
  <div id="column_right2">
      <div id='taxa-search' >
       <form class='form-inline' id='ttable_search' name='ttable_search' method='POST' action='search_taxtable' >
            <fieldset>
            Search This Table:
            <div class="">
              <input type='text'  class='dropdown' name='tax_srch' maxlength='18' size='20'>
              <select class='dropdown' id='' class="" name='field' >
                <option value="all">All Fields</option>
                <option value="taxid">Taxon ID</option>
                <option value="genus">Genus</option>
                <option value="species">Species</option>
                <option value="synonyms">Synonyms</option>
                <option value="type">Type Strains</option>
                <option value="rrna">16S rRNA ID</option>
              </select>
        
              &nbsp;Matching:
              <select class='dropdown'  name='match'>
                <option value="all">ALL words</option>
                <option value="any">ANY words</option>
                <option value="exact">Exact phrase</option>
              </select>
              <select class='dropdown'  name='sub'>
                <option value="partial">Partial field</option>
                <option value="whole">Whole field</option>
              </select>
              <input class="pill pill-brown" type='button' value=' Go ' onclick='tax_table_search()'>
            </div>
            </fieldset>
         </form>
      </div>
  </div>
  
 
</div>





