

<div class="form-popup" id="myForm">
  <form id='adv_tax_filter_form' name='adv_tax_filter_form' method='POST' action='tax_table'>
    <table id='adv_filter_table' border='1'>

    <tr><td><button type="submit" class="btn">Submit</button></td></tr>
    <tr><td><button type="button" class="btn cancel" onclick="closeForm()">Close</button></td></tr>
    </table>
  </form>
</div>