
<div id="row1">


	<div id="column_left1" >
		<p class="card-text">
			<center>Select Genus by Alphabet: <br>
			<a id='A' href='tax_table?k=A'>A</a>|<a id='B' href='tax_table?k=B'>B</a>|<a id='C' href='tax_table?k=C'>C</a>|<a id='D' href='tax_table?k=D'>D</a>|<a id='E' href='tax_table?k=E'>E</a>|<a id='F' href='tax_table?k=F'>F</a>|<a id='G' href='tax_table?k=G'>G</a>|<a id='H' href='tax_table?k=H'>H</a>|<a id='I' href='tax_table?k=I'>I</a>|<a id='J' href='tax_table?k=J'>J</a>|<a id='K' href='tax_table?k=K'>K</a>|<a id='L' href='tax_table?k=L'>L</a>|<a id='M' href='tax_table?k=M'>M</a>|<a id='N' href='tax_table?k=N'>N</a>|<a id='O' href='tax_table?k=O'>O</a>|<a id='P' href='tax_table?k=P'>P</a>|<a id='Q' style='color:grey;'>Q</a>|<a id='R' href='tax_table?k=R'>R</a>|<a id='S' href='tax_table?k=S'>S</a>|<a id='T' href='tax_table?k=T'>T</a>|<a id='U' style='color:grey;'>U</a>|<a id='V' href='tax_table?k=V'>V</a>|<a id='W' href='tax_table?k=W'>W</a>|<a id='X' style='color:grey;'>X</a>|<a id='Y' href='tax_table?k=Y'>Y</a>|<a id='Z' style='color:grey;'>Z</a>
			<br><small>Revert back to:</small> <a id='all' href='tax_table?k=all&page=1'>All Entries</a> <small>(w/ pages)</small>
			<br><small>Revert back to: <a id='allall' href='tax_table?k=allall&page=0'>All Entries</a> (single page)</small>
			</center>
		</p>
	</div>
	
	
	<div id='column_right1'  >
    
        <center><span id='filter-head'>Filter by Status and Body Site:</span></center>
    
        <form id='tax_filter_form' name='tax_filter_form' method='POST' action='tax_table'>
         <table>
         <tr><td>
         <div id='status-div' style=''>
             <span class='filter-title'>Status</span>: 
     
             <input type='checkbox' class='filter_ckbx' id='named' name='named' \> Named&nbsp;
             <input type='checkbox' class='filter_ckbx' id='unnamed' name='unnamed' \> Unnamed&nbsp;
             <input type='checkbox' class='filter_ckbx' id='phylotype' name='phylotype' \> Phylotypes&nbsp;
             <input type='checkbox' class='filter_ckbx' id='lost' name='lost' \> Lost&nbsp;
             <input type='checkbox' class='filter_ckbx' id='dropped' name='dropped' \> Dropped&nbsp;
         </div>
         </td><td id='radio_btns'>
         <small>
          <input type='radio' id='valid1' name='valid' value='only_valid'  onclick="change_valid('only')"\> All Valid Taxa&nbsp;
          <input type='radio' id='valid2' name='valid' value='all'  onclick="change_valid('all')"\> All&nbsp;
         </small>
         </td></tr>
         <tr><td>
         <div id='bodysite-div' style=''>
             <span class='filter-title'>Body Site</span>: 
     
             <input type='checkbox' class='filter_ckbx ' id='oral' name='oral' \> Oral&nbsp;
             <input type='checkbox' class='filter_ckbx' id='nasal' name='nasal' \> Nasal&nbsp;
             <input type='checkbox' class='filter_ckbx' id='skin' name='skin' \> Skin&nbsp;
             <input type='checkbox' class='filter_ckbx' id='vaginal' name='vaginal' \> Vaginal&nbsp;
             <input type='checkbox' class='filter_ckbx' id='unassigned' name='unassigned' \> Unassigned&nbsp;
             <input type='checkbox' class='filter_ckbx' id='nonoralref' name='nonoralref' \> NonOralRef&nbsp;
         </div>
         </td><td>
         <input class="pill pill-brown" type='button' value=' Show ' onclick="check_then_post_filter(this.form)">
         <input class="pill pill-brown" type='button' value=' Clear All ' onclick='clear_filter_form()'>
         </td></tr>
         </table>
        </form>
    
   </div>  <!-- End column_right1 -->
	
</div>
	
		 

		 
