<% var fstyle = 'none'; %>
<% if(show_filters){ %>
<%     fstyle = 'inline'; %> 
<% }else{ %>   <!-- end if -->
<% 		fstyle = 'none'; %>
      <div id='showing-count'>Showing: <%= count %> Taxa</div>
<% } %>




<div class="row">
  <div class="column left">
      <div id='taxa-count'>
         <span id='total-count'><strong>Total:</strong> <span><%= tcount %> Taxa</span></span>
     
         (<span id='showing-count'><strong>Showing</strong> <span><%= count %></span></span>)
       </div>
  </div>
  <div class="column middle">
      <div id='taxa-page' >
              <%- page_form %>
        </div>

  </div>
  <div class="column right">
      <div id='taxa-search' >
       <form id='' class='form-inline' name='' method='POST' action=''>
            <fieldset>
            Search This table:
            <div class="">
              <input type='text' class="" name='tax_srch' maxlength='18' size='20'>
              <select id='' class="" name='field' >
                <option value="all">All Fields</option>
                <option value="taxid">Taxon ID</option>
                <option value="genus">Genus</option>
                <option value="species">Species</option>
                <option value="synonyms">Synonyms</option>
                <option value="type">Type Strains</option>
                <option value="rrna">16S rRNA ID</option>
              </select>
        
              &nbsp;Matching:
              <select id='' class="" name='match'>
                <option value="all">ALL words</option>
                <option value="any">ANY words</option>
                <option value="exact">Exact phrase</option>
              </select>
              <select id='' class="" name='sub'>
                <option value="partial">Partial field</option>
                <option value="whole">Whole field</option>
              </select>
              <input class="" type='submit' value=' Go '>
            </div>
            </fieldset>
         </form>
      </div>
  </div>
</div>





