<% var fstyle = 'none'; %>
<% if(show_filters){ %>
<%     fstyle = 'inline'; %> 
<% }else{ %>   <!-- end if -->
<% 		fstyle = 'none'; %>
      <div id='showing-count'>Showing: <%= count %> Taxa</div>
<% } %>



<table style='width:120%;' >
<tr><td>
		   
	<div id='taxa-count'>
	 <div id='total-count'><strong>Total:</strong> <span class='text-danger'><%= tcount %> Taxa</span></div>
	 
	 <div id='showing-count'><strong>Showing</strong> <span class='text-danger'><%= count %></span></div>
   </div>

</td><td>
		   
	<span id='taxa-sort' class='text-warning'>
		   Toggle/Sort table by clicking on header label
	</span>

</td><td>

  <div id='taxon-search' >
   <form id='' class='form-inline' name='' method='POST' action=''>
		<fieldset>
		Search This table:
		<div class="">
		  <input type='text' class="" name='tax_srch' maxlength='18' size='20'>
		  <select id='' class="" name='field' >
			<option value="all">All Fields</option>
			<option value="taxid">Taxon ID</option>
			<option value="genus">Genus</option>
			<option value="species">Species</option>
			<option value="synonyms">Synonyms</option>
			<option value="type">Type Strains</option>
			<option value="rrna">16S rRNA ID</option>
		  </select>
		
		  &nbsp;Matching:
		  <select id='' class="" name='match'>
			<option value="all">ALL words</option>
			<option value="any">ANY words</option>
			<option value="exact">Exact phrase</option>
		  </select>
		  <select id='' class="" name='sub'>
			<option value="partial">Partial field</option>
			<option value="whole">Whole field</option>
		  </select>
		  <input class="" type='submit' value=' Go '>
	    </div>
	    </fieldset>
   </form>
</div>
  


</td></tr>
</table>

	