<style>
.advanced-filter-btn{
   
   padding: 3px 4px 2px 4px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 0px 0px;
   cursor: pointer;
   font-size: 14px;
   border-radius: 16px;
   background-color: brown;
   border: 1px solid black;
   color: white;
}
</style>
<div id='filter_form_div'>

<form id='tax_filter_form' name='tax_filter_form' method='POST' action='tax_table'>
<table id='main_table'>
<tr><td valign='top'> 

<div class='alpha-select' >
        <br>
        <small><span class='filter-title'>Genus by Alphabet:</span>
        [<a class='noletter' id='0' onclick="letter_submit('0');"><small>All</small></a>]
        <br>
        <span class='alpha-list'>
        <a class='letter' id='A' onclick="letter_submit('A');">A</a>|<a class='letter' id='B' onclick="letter_submit('B');">B</a>|<a class='letter' id='C' onclick="letter_submit('C');">C</a>|<a class='letter' id='D' onclick="letter_submit('D');">D</a>|<a class='letter' id='E' onclick="letter_submit('E');">E</a>|<a class='letter' id='F' onclick="letter_submit('F');">F</a>|<a class='letter' id='G' onclick="letter_submit('G');">G</a>|<a class='letter' id='H' onclick="letter_submit('H');">H</a>|<a class='letter' id='I' onclick="letter_submit('I');">I</a>|<a class='letter' id='J' onclick="letter_submit('J');">J</a>|<a class='letter' id='K' onclick="letter_submit('K');">K</a>|<a class='letter' id='L' onclick="letter_submit('L');">L</a>|<a class='letter' id='M' onclick="letter_submit('M');">M</a>
        <br><a class='letter' id='N' onclick="letter_submit('N');">N</a>|<a class='letter' id='O' onclick="letter_submit('O');">O</a>|<a class='letter' id='P' onclick="letter_submit('P');">P</a>|<a class='letter' id='Q' onclick="letter_submit('Q');">Q</a>|<a class='letter' id='R' onclick="letter_submit('R');">R</a>|<a class='letter' id='S' onclick="letter_submit('S');">S</a>|<a class='letter' id='T' onclick="letter_submit('T');">T</a>|<a class='letter' id='U' onclick="letter_submit('U');">U</a>|<a class='letter' id='V' onclick="letter_submit('V');">V</a>|<a class='letter' id='W' onclick="letter_submit('W');">W</a>|<a class='letter' id='X' onclick="letter_submit('X');">X</a>|<a class='letter' id='Y' onclick="letter_submit('Y');">Y</a>|<a class='letter' id='Z' onclick="letter_submit('Z');">Z</a>
        
        </span>
        </small>
</div>
<br>
<div class='alpha-select' >
        
        <small><span class='filter-title'>Phylum:</span>
        <br>
        <select id='phylum_select' placeholder="Select a Phylum" class='dropdown' name='phylum' onchange="phylum_submit(this.value)">
        <optgroup>
          <option value='0'>Select a Phylum</option>
          <% for(n in phyla) { %>
            <% if(phyla[n] === statusfltr.phylum){ %>
              <option selected value='<%= phyla[n] %>'><%= phyla[n] %></option>
            <% }else{ %>
              <option value='<%= phyla[n] %>'><%= phyla[n] %></option>
            <% } %>
          <% } %>
        </optgroup>
        </select>
        </small>
</div>
</td><td valign='top'>  

<div id='reset_div'>
  <a class='button' id='reset' href='reset_ttable'>Reset Filters</a> 
</div> 

</td><td>
        
<table id='filter_table' border='1'>
<tr>
<td class=''>
       <center>
         <span style='float:right;' class="advanced-filter-btn" onclick="openAdvancedForm()">Open Advanced Filter</span>
       </center>
</td>
</tr>
<tr>

<td>
      
         
         <small>
            
            
            <span class='filter-title' id='body_site_title'>Primary Body Site:</span>&nbsp;&nbsp;
            
            
            <% if(statusfltr.site.oral === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='oral' name='oral' onclick='update_sb()'\> Oral&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='oral' name='oral' onclick='update_sb()'\> Oral&nbsp;
            <% } %>
            <% if(statusfltr.site.nasal === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='nasal' name='nasal' onclick='update_sb()' \> Nasal&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='nasal' name='nasal' onclick='update_sb()' \> Nasal&nbsp;
            <% } %>
            <% if(statusfltr.site.skin === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='skin' name='skin' onclick='update_sb()' \> Skin&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='skin' name='skin' onclick='update_sb()' \> Skin&nbsp;
            <% } %>
            <% if(statusfltr.site.gut === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='gut' name='gut' onclick='update_sb()' \> Gut&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='gut' name='gut' onclick='update_sb()' \> Gut&nbsp;
            <% } %>
            <% if(statusfltr.site.vaginal === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='vaginal' name='vaginal' onclick='update_sb()' \> Vaginal&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='vaginal' name='vaginal' onclick='update_sb()' \> Vaginal&nbsp;
            <% } %>
            
            <% if(statusfltr.site.pathogen === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='pathogen' name='pathogen' onclick='update_sb()' \> Pathogen&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='pathogen' name='pathogen' onclick='update_sb()' \> Pathogen&nbsp;
            <% } %>
            <% if(statusfltr.site.enviro === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='enviro' name='enviro' onclick='update_sb()' \> Environmental&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='enviro' name='enviro' onclick='update_sb()' \> Environmental&nbsp;
            <% } %>
            
            <% if(statusfltr.site.ref === 'on'){ %>
                <input title='Was NonOralRef' type='checkbox' checked class='filter_ckbx' id='ref' name='ref' onclick='update_sb()' \> Reference&nbsp;
            <% }else{ %>
                <input title='Was NonOralRef' type='checkbox' class='filter_ckbx' id='ref' name='ref' onclick='update_sb()' \> Reference&nbsp;
            <% } %>
            
            <% if(statusfltr.site.unassigned === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='unassigned' name='unassigned' onclick='update_sb()' \> Unassigned&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='unassigned' name='unassigned' onclick='update_sb()' \> Unassigned&nbsp;
            <% } %> 
            
            <small><span  id='toggle_cb_sites_span'><a class="pill pill-aqua" href='#' onclick="toggle_cb_sites('off')">Toggle CheckBoxes On/Off</a></span></small>
             
             
         </small>
</td>
</tr>
<tr>
<td>
         <small>
            <span class='filter-title'>Body Site Abundance</span>:&nbsp;&nbsp;
            <% if(statusfltr.abund.high_abund === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='high_abund' name='high_abund' onclick='update_sb()'\> High&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='high_abund' name='high_abund' onclick='update_sb()'\> High&nbsp;
            <% } %>
            
            <% if(statusfltr.abund.medium_abund === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='medium_abund' name='medium_abund' onclick='update_sb()' \> Medium&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='medium_abund' name='medium_abund' onclick='update_sb()' \> Medium&nbsp;
            <% } %>
            
            <% if(statusfltr.abund.low_abund === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='low_abund' name='low_abund' onclick='update_sb()' \> Low&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='low_abund' name='low_abund' onclick='update_sb()' \> Low&nbsp;
            <% } %>
            
            <% if(statusfltr.abund.scarce_abund === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='scarce_abund' name='scarce_abund' onclick='update_sb()' \> Scarce&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='scarce_abund' name='scarce_abund' onclick='update_sb()' \> Scarce&nbsp;
            <% } %>
            
            <% if(statusfltr.abund.nodata_abund === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='nodata_abund' name='nodata_abund' onclick='update_sb()' \> No Data&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='nodata_abund' name='nodata_abund' onclick='update_sb()' \> No Data&nbsp;
            <% } %>
            <span  id='toggle_cb_abund_span'><a class="pill pill-aqua" href='#' onclick="toggle_cb_abund('off')">Toggle CheckBoxes On/Off</a></span>
         </small>
</td>
</tr>
<tr>
<td>
         <small>
            <span class='filter-title'>Status</span>:&nbsp;&nbsp;
            <% if(statusfltr.status.named_cultivated === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='named_cultivated' name='named_cultivated' onclick='update_sb()'\> Named/Cultivated&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='named_cultivated' name='named_cultivated' onclick='update_sb()'\> Named/Cultivated&nbsp;
            <% } %>
            <% if(statusfltr.status.named_uncultivated === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='named_uncultivated' name='named_uncultivated' onclick='update_sb()' \> Named/Uncultivated&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='named_uncultivated' name='named_uncultivated' onclick='update_sb()' \> Named/Uncultivated&nbsp;
            <% } %>
            <% if(statusfltr.status.unnamed_cultivated === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='unnamed_cultivated' name='unnamed_cultivated' onclick='update_sb()' \> Unnamed/Cultivated&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='unnamed_cultivated' name='unnamed_cultivated' onclick='update_sb()' \> Unnamed/Cultivated&nbsp;
            <% } %>
            <% if(statusfltr.status.phylotype === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='phylotype' name='phylotype' onclick='update_sb()' \> Phylotype&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='phylotype' name='phylotype' onclick='update_sb()' \> Phylotype&nbsp;
            <% } %>
            <% if(statusfltr.status.dropped === 'on'){ %>
                <input type='checkbox' checked class='filter_ckbx' id='dropped' name='dropped' onclick='update_sb()' \> Dropped&nbsp;
            <% }else{ %>
                <input type='checkbox' class='filter_ckbx' id='dropped' name='dropped' onclick='update_sb()' \> Dropped&nbsp;
            <% } %>

            
             
             <small><span  id='toggle_cb_status_span'><a class="pill pill-aqua" href='#' onclick="toggle_cb_status('off')">Toggle CheckBoxes On/Off</a></span></small>
         </small>
</td>
</tr>









 <tr><td>
 <button id='form_btn' type='submit' class='button' value='Submit'>Apply</button>
 </td></tr>
</table>

</td></tr>  
</table>
</form> 





