<div id='userdoc_div' class="center-box">
Table of Contents UNUSED UNUSED UNUSED UNUSED UNUSED
<table id='userdoc_table'>

<tr><td>

	
	<table class='userdoc_tables'>
	<tr><td class='table_header'>General Documentation</td></tr>

	<tr><td class='header_row'>HOMD Information</td></tr>
	<tr><td class='menu-item'><a class="" href="/help/home-page">HOMD Homepage</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/pdescription">Project Description</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/team">Team</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/mailing">HOMD Mailing List</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/contact">Contact Us</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/cite">How to cite the Human Oral Microbiome Database</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/dna">Strains and DNA Availability</a></td></tr>
	<tr><td class='menu-item'><a href="/help/announcements">Announcements</a></td></tr>
	</table>

	
</td><td>

	<table class='userdoc_tables'>
	<tr><td class='table_header'>User Documentation</td></tr>
	<tr><td class='header_row'>Overview</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Features of the HOMD User Documentation</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Guide to the HOMD Home Page</a></td></tr>

	<tr><td class='header_row'>Taxon Description</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Introduction to the HOMD Taxonomy Database</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Taxon Table</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Taxonomic Hierarchy</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Taxonomic Level</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD Taxon Description</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD 16S rRNA Phylogenic Trees</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">16S rRNA Alignment</a></td></tr>

	<tr><td class='header_row'>Identify 16S rRNA Sequence</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Identify 16S rRNA Sequence by BLAST Search</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD 16S rRNA Gene Reference Sequence Version History</a></td></tr>

	<tr><td class='header_row'>Genomes</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">The Human Oral Microbial Genomes in HOMD</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Genome Tables</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD Reference Genomes Version History</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Sequence Meta Information: NCBI Table Fields Description</a></td></tr>

	<tr><td class='header_row'>Tools & Download</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Genomics Tools Overview</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD Genome Viewer</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD JBrowse Genome Viewer</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Dynamic Genome Annotation</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">+Blast Against Genomes</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">HOMD Dynamic Genomic BLAST</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">KEGG Pathway</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Gene Ontology</a></td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Sequence Batch Download</a></td></tr>

	<tr><td class='header_row'>Database Search</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">Meta-Database Search</a></td></tr>
	</table>
	
</td><td>
	
	<table class='userdoc_tables'>
	<tr><td class='table_header'>Search Documentation</td></tr>
    <form>
		<tr><td class='menu-item'>Input Keywords:</td></tr>
		<tr><td class='menu-item'><input type='text' maxlength='100' size='35'></td></tr>
		<tr><td class='menu-item'><input type='checkbox'> Title&nbsp;&nbsp;&nbsp;<input type='checkbox'> Content</td></tr>
		<tr><td class='menu-item' nowrap>
		<select name="search-match1" id="search-match1">
		  <option value="any">Match any words</option>
		  <option value="all">Match all words</option>
		  <option value="exact">Match exact phrase</option>
		</select>
		
		<select name="search-match2" id="search-match2">
		  <option value="partial">Partially</option>
		  <option value="whole">In whole field</option>
		</select>
		</td></tr>
		<tr><td class='menu-item'><input type='submit' value='Go'></td></tr>
	</form>
	</table>

	
</td></tr>
</table>
</div>