<div id='userdoc_div' class="center-box">
Table of Contents
<table id='userdoc_table'>

<tr><td>

	
	<table class='userdoc_tables'>
	<tr><td class='table_header'>General Documentation</td></tr>

	<tr><td class='header_row'>HOMD Information</td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=homepage&new=1">HOMD Homepage</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=pdescription&new=1">Project Description</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=team&new=1">Team</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=mailing&new=1">HOMD Mailing List</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=contact&new=1">Contact Us</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=cite&new=1">How to cite the Human Oral Microbiome Database</a></td></tr>
	<tr><td class='menu-item'><a class="" href="/help/template?menu=help_info&page=dna&new=1">Strains and DNA Availability</a></td></tr>

	<tr><td class='header_row'>Announcements</td></tr>
	<tr><td class='menu-item'><a href="/help/stub">none</a></td></tr>
	</table>

	
</td><td>

	<table class='userdoc_tables'>
	<tr><td class='table_header'>User Documentation</td></tr>
	<tr><td class='header_row'>Overview</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_overview&page=features&new=1">Features of the HOMD User Documentation</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_overview&page=guide&new=1">Guide to the HOMD Home Page</a></td></tr>

	<tr><td class='header_row'>Taxon Description</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=intro&new=1">Introduction to the HOMD Taxonomy Database</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=taxtable&new=1">Taxon Table</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=hierarchy&new=1">Taxonomic Hierarchy</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=level&new=1">Taxonomic Level</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=tdescriptio&new=1n">HOMD Taxon Description</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=trees&new=1">HOMD 16S rRNA Phylogenic Trees</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_taxon&page=align&new=1">16S rRNA Alignment</a></td></tr>

	<tr><td class='header_row'>Identify 16S rRNA Sequence</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_ident&page=blast&new=1">Identify 16S rRNA Sequences by BLAST Search</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_ident&page=refseq_history&new=1">HOMD 16S rRNA Gene Reference Sequence Version History</a></td></tr>

	<tr><td class='header_row'>Genomes</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_genomes&page=homd&new=1">The Human Oral Microbial Genomes in HOMD</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_genomes&page=gtables&new=1">Genome Tables</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_genomes&page=refgenome_history&new=1">HOMD Reference Genomes Version History</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_genomes&page=meta&new=1">Sequence Meta Information: NCBI Table Fields Description</a></td></tr>

	<tr><td class='header_row'>Tools & Download</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=toverview&new=1">Genomics Tools Overview</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=gviewer&new=1">HOMD Genome Viewer</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=jviewer&new=1">HOMD JBrowse Genome Viewer</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=genome_annotation&new=1">Dynamic Genome Annotation</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=fixme">++Blast Against Genomes</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=genome_blast&new=1">HOMD Dynamic Genomic BLAST</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=kegg&new=1">KEGG Pathway</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=ontology&new=1">Gene Ontology</a></td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_tools&page=seqdownload&new=1">Sequence Batch Download</a></td></tr>

	<tr><td class='header_row'>Database Search</td></tr>
	<tr><td class='menu-item'><a href="/help/template?menu=help_overview&page=">Meta-Database Search</a></td></tr>
	</table>
	
</td><td>
	
	<table class='userdoc_tables'>
	<tr><td class='table_header'>Search Documentation</td></tr>
    <form>
		<tr><td class='menu-item'>Input Keywords:</td></tr>
		<tr><td class='menu-item'><input type='text' maxlength='100' size='35'></td></tr>
		<tr><td class='menu-item'><input type='checkbox'> Title&nbsp;&nbsp;&nbsp;<input type='checkbox'> Content</td></tr>
		<tr><td class='menu-item' nowrap>
		<select name="search-match1" id="search-match1">
		  <option value="any">Match any words</option>
		  <option value="all">Match all words</option>
		  <option value="exact">Match exact phrase</option>
		</select>
		
		<select name="search-match2" id="search-match2">
		  <option value="partial">Partially</option>
		  <option value="whole">In whole field</option>
		</select>
		</td></tr>
		<tr><td class='menu-item'><input type='submit' value='Go'></td></tr>
	</form>
	</table>

	
</td></tr>
</table>
</div>