<h3 id=''>Table of Contents:</h3>

    
    
<ul   id="accordion" class="accordion">
	  <div style='text-align:center;background:#006699;color:white;'><h3>User Documentation</h3></div>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Overview<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>Features of the HOMD User Documentation</a></li>
	        <li><a href='/help/stub'>Guide to the HOMD Home Page</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Taxon Description<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>Introduction to the HOMD Taxonomy Database</a></li>
	        <li><a href='/help/stub'>Taxon Table</a></li>
	        <li><a href='/help/stub'>Taxonomic Hierarchy</a></li>
	        <li><a href='/help/stub'>Taxonomic Level</a></li>
	        <li><a href='/help/stub'>HOMD Taxon Description</a></li>
	        <li><a href='/help/stub'>HOMD 16S rRNA Phylogenic Trees</a></li>
	        <li><a href='/help/stub'>16S rRNA Alignment</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Identify 16S rRNA Sequence<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>Identify 16S rRNA Sequence by BLAST Search</a></li>
	        <li><a href='/help/stub'>HOMD 16S rRNA Gene Reference Sequence Version History</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Genomes<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>The Human Oral Microbial Genomes in HOMD</a></li>
	        <li><a href='/help/stub'>Genome Tables</a></li>
	        <li><a href='/help/stub'>HOMD Reference Genomes Version History</a></li>
	        <li><a href='/help/stub'>Sequence Meta Information</a>
	          <ul>
	            <li><a href='/help/stub'>NCBI Table Fields Description</a></li>
	          </ul>
	        </li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Tools & Download<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>Genomics Tools Overview</a></li>
	        <li><a href='/help/stub'>HOMD Genome Viewer</a></li>
	        <li><a href='/help/stub'>HOMD JBrowse Genome Viewer</a></li>
	        <li><a href='/help/stub'>Dynamic Genome Annotation</a></li>
	        <li><a href='/help/stub'>Blast Against Genomes</a></li>
	        <li><a href='/help/stub'>HOMD Dynamic Genomic BLAST</a></li>
	        <li><a href='/help/stub'>KEGG Pathway</a></li>
	        <li><a href='/help/stub'>Gene Ontology</a></li>
	        <li><a href='/help/stub'>Sequence Batch Download</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Database Search<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/meta_search'>Meta-Database Search</a></li>
	      </ul>
	</li>
	<li>
	  
		<div style='text-align:center;background:#006699;color:white;'><h3>General Documentation</h3></div>
	  	
	    <div class="link"><i class="fa fa-sitemap"></i>HOMD Information<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/home-page'>HOMD Homepage</a></li>
	        <li><a href='/help/stub'>Project Description</a></li>
	        <li><a href='/help/stub'>Team</a></li>
	        <li><a href='/help/stub'>HOMD Mailing List</a></li>
	        <li><a href='/help/stub'>Contact Us</a></li>
	        <li><a href='/help/stub'>How to cite the Human Oral Microbiome Database</a></li>
	        <li><a href='/help/stub'>Strains and DNA Availability</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Announcement<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a href='/help/stub'>none</a></li>
	      </ul>
	</li>
	  
</ul>