

<ul id="accordion" class="accordion">
	<div style='text-align:center;background:lightblue;color:black;font-size:13px;font-weight:bold;'>Table of Contents:</div>
	<div style='text-align:center;background:#006699;color:white;font-size:14px;'>User Documentation</div>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Overview<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_overview'>
	        <li id=''><a id='help_overview--features' href='#' onclick="ajax(this)">Features of the HOMD User Documentation</a></li>
	        <li id=''><a id='help_overview--guide' href='#' onclick="ajax(this)">Guide to the HOMD Home Page</a></li>
	      </ul>
	</li>
	
	
	
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Taxon Description<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_taxon'>
	        <li id=''><a id='help_taxon--intro' href='#' onclick="ajax(this)">Introduction to the HOMD Taxonomy Database</a></li>
	        <li id=''><a id='help_taxon--taxtable' href='#' onclick="ajax(this)">Taxon Table</a></li>
	        <li id=''><a id='help_taxon--hierarchy' href='#' onclick="ajax(this)">Taxonomic Hierarchy</a></li>
	        <li id=''><a id='help_taxon--level' href='#' onclick="ajax(this)">Taxonomic Level</a></li>
	        <li id=''><a id='help_taxon--tdescription' href='#' onclick="ajax(this)">HOMD Taxon Description</a></li>
	        <li id=''><a id='help_taxon--trees' href='#' onclick="ajax(this)">HOMD 16S rRNA Phylogenic Trees</a></li>
	        <li id=''><a id='help_taxon--align' href='#' onclick="ajax(this)">16S rRNA Alignment</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Identify 16S rRNA Seqs<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_ident'>
	        <li id=''><a id='help_ident--blast' href='#' onclick="ajax(this)">Identify 16S rRNA Sequences by BLAST Search</a></li>
	        <li id=''><a id='help_ident--refseq_history' href='#=' onclick="ajax(this)">HOMD 16S rRNA Gene Reference Sequence Version History</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Genomes<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_genomes'>
	        <li id=''><a id='help_genomes--homd' href='#' onclick="ajax(this)">The Human Oral Microbial Genomes in HOMD</a></li>
	        <li id=''><a id='help_genomes--gtables' href='#' onclick="ajax(this)">Genome Tables</a></li>
	        <li id=''><a id='help_genomes--refgenome_history' href='#' onclick="ajax(this)">HOMD Reference Genomes Version History</a></li>
	        <li id=''><a id='help_genomes--meta' href='#' onclick="ajax(this)">Sequence Meta Information: NCBI Table Fields Description</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Tools & Download<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_tools'>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">Genomics Tools Overview</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">HOMD Genome Viewer</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">HOMD JBrowse Genome Viewer</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">Dynamic Genome Annotation</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">++Blast Against Genomes</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">HOMD Dynamic Genomic BLAST</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">KEGG Pathway</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">Gene Ontology</a></li>
	        <li id=''><a id='help_tools--' href='#' onclick="ajax(this)">Sequence Batch Download</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Database Search<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu">
	        <li><a  id='' href='#' onclick="ajax(this)">Meta-Database Search</a></li>
	      </ul>
	</li>
	<li>
	  
		<div style='text-align:center;background:#006699;color:white;font-size:14px;'>General Documentation</div>
	  	
	    <div class="link"><i class="fa fa-sitemap"></i>HOMD Information<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_info'>
	        <li id=''><a href='#' id='help_info--homepage' onclick="ajax(this)">HOMD Homepage</a></li>
	        <li id=''><a id='help_info--pdescription' href='#' onclick="ajax(this)">Project Description</a></li>
	        <li id=''><a id='help_info--team' href='#' onclick="ajax(this)">Team</a></li>
	        <li id=''><a id='help_info--maillist' href='#' onclick="ajax(this)">HOMD Mailing List</a></li>
	        <li id=''><a id='help_info--contact'  href='#' onclick="ajax(this)">Contact Us</a></li>
	        <li id=''><a id='help_info--cite' href='#' onclick="ajax(this)">How to cite the Human Oral Microbiome Database</a></li>
	        <li id=''><a id='help_info--available' href='#' onclick="ajax(this)">Strains and DNA Availability</a></li>
	      </ul>
	</li>
	<li>
	    <div class="link"><i class="fa fa-sitemap"></i>Announcements<i class="fa fa-chevron-down"></i></div>
	      <ul class="submenu" id='help_announcements'>
	        <li><a href='/help/stub'>none</a></li>
	      </ul>
	</li>
	  
</ul>