#center70pct_div {
   
   width:70%;
   padding:25px 0;
   text-align:left;
}
#other70 {
   border:1px solid black;
   background:var(--div-bg01);
   padding:5px;
 
}
.block-title {
  background:#00659c;
  color: white;
  text-align:center;
  padding:2px;
  margin:2px;
}
.adjust_block{
    padding: 10px 0;
    
}

.textinput {
            
  width: 95%;
  min-height: 100px;
  resize: none;
  border: 1px solid grey;
}