#gnom-table {
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
  width:100%;
}
#gnom-table th{
  color:white;
  background: var(--table-header-bg);
  padding:5px;
  font-size:13px;
  text-align: center;
  
}
#gnom-table td{
  padding:3px 2px;
  font-size:small;
  font-weight:bold;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#genome-box{
   height:700px;
   overflow:auto;
   padding:10px 10px 20px 10px;
   border:1px solid gray;
   margin-top:5px;
}
#gnom-table .badge{
  
  font-size:0.8em;
  
}
.linkout a
{
 color: blue;
}
#gnom-table tr:nth-child(even) { 
    background-color: var(--table-row-even2); 
 } 
 #gnom-table tr:hover { 
    background-color: #dce7f5; 
 } 






.red {
	color: #cc0000;
}
.red1_btn {
  border: 1px solid red;
}
.red1_btn a {
  color: red;
}
.red2_btn {
  border: 1px solid #cc0000;
}
.red2_btn a {
  color: #cc0000;
}
.green_btn{
  border: 1px solid green;
}
.green_btn a {
  color: green;
}
.blue1_btn{
    border: 1px solid blue;
}
.blue1_btn a {
    color: blue;
}
.blue2_btn{
    border: 1px solid #3a6696;
}
.blue2_btn a {
    color: #3a6696;
}
.purple_btn{
    border: 1px solid purple;
}
.purple_btn a {
    color:purple
}

#gnom-table .col0{
   width: 40px;
}
#gnom-table .col1{
   width: 120px;
}
#gnom-table .col2 {
    width: 70px;
}
#gnom-table .col3 {
    /*  Organism  */
    width:180px;
}
#gnom-table .col4 {
    /* Strain  */
    width:240px;
}
#gnom-table .col5 {
    width: 50px;
}
#gnom-table .col6 {
    width: 120px;
}
#gnom-table .col7 {
    width: 50px;
}
#gnom-table .col8 {
    width: 70px;
}
#gnom-table .col9{
   width: 50px;
}
#gnom-table .col10{
   width: 230px;
}
#gnom-table .col11 {
    width: 130px;
}

.tax_name{
  font-size:x-small;
  font-style:italic;
  font-weight:bold;
  
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.left {
    text-align:left;
}
#phylum-filter{
  padding:15px 0 0 0;
  
}
#phylum-filter select {
  font-size:12px;
}

#navigate-alpha {
   
   margin-top:0px;
   padding-left:3px;
 }

#count_info{
   /* font-weight:bold; */
   
   
}
#gen_options{
    display:none;
    font-size:12px;
    border-top:1px solid orange;
    border-bottom:1px solid orange;
    padding:5px 3px;
    margin:5px 0;
}
#gen_options optgroup { 
    font-size: 10px; 
}



