#gnom-table {
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
}
#gnom-table th{
  color:white;
  background:#006699;
  padding:5px;
  font-size:13px;
  text-align: center;
  
}
#gnom-table td{
  padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#gnom-table .badge{
  
  font-size:0.8em;
  
}
.linkout a
{
 color: blue;
}
#gnom-table tr:nth-child(even) { 
    background-color: #ffffcd; 
 } 
 #gnom-table tr:hover { 
    background-color: #dce7f5; 
 } 
#gnomdesc-table tr:nth-child(even) { 
    background-color: #ffffcd; 
 } 

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
        content: " \25B4\25BE" 
    }
.red {
	color: #cc0000;
}
.red1_btn {
  border: 1px solid red;
}
.red1_btn a {
  color: red;
}
.red2_btn {
  border: 1px solid #cc0000;
}
.red2_btn a {
  color: #cc0000;
}
.green_btn{
  border: 1px solid green;
}
.green_btn a {
  color: green;
}
.blue1_btn{
    border: 1px solid blue;
}
.blue1_btn a {
    color: blue;
}
.blue2_btn{
    border: 1px solid #3a6696;
}
.blue2_btn a {
    color: #3a6696;
}
.purple_btn{
    border: 1px solid purple;
}
.purple_btn a {
    color:purple
}


.col1{
   width: 50px;
}
.col2 {
    width: 80px;
}
.col3 {
    width: 120px;
}
.col4 {
    width: 160px;
}
.col9{
   width: 270px;
}
.col10{
   width: 145px;
}


.tax_name{
  font-size:x-small;
  font-style:italic;
  font-weight:bold;
  
}
.center {
    text-align:center;
}
#genome-filter-div {
   
}
#left-genome-filter{
  /* float:left; */
  width:100%;
  /* border:1px solid red; */
}
#right-genome-filter{
  /* float:right; */
  /* width:400px; */
  /* border:1px solid red; */
  padding-left:170px;
}
#genus-filter{
  padding-left:3px;
}
#genome-search {
   
   padding:5px;
   background:lightgrey;
   padding-right:25px;
   margin-bottom:2px;
   border: 1px solid black;
   /* margin-top:10px; */

   font-size:small;
 }
#navigate-alpha {
   
   margin-top:0px;
   padding-left:3px;
 }
#table_div{
   border:1px solid green;
   margin-top:0px;
}
#count_info{
   font-weight:bold;
   
   padding:15px;
}
#gen_options optgroup { font-size: 10px; }