* {
	margin:0;
	padding:0;
	border:0;
	list-style: none;
}
a { text-decoration: none; }
p {
   text-indent: 45px;
}
#wrapper {
	border: 1px solid #000;
	width: 1200px;
	margin: auto;
}
.page-content {
  padding:5px;
  margin:5px;
  background:white;
  min-height:500px;
  
}
.intro-content{
   padding:20px;
}
input[type=radio] {
    height: .8em;
}
.title{
   padding:10px 0;
   background:steelblue;
   font-size:20px;
   text-align:center;
   color:white;
}

/* header images masthead */
#masthead {
  width:1200px;
  background:black;
  
}
#masthead img {
  height:50px;
  padding:0;
  margin:0;
} 

#download_browser_text_excel {
  float:right;
  top:2px;
  font-size:12px;
}
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 50%;
  padding: 0px;
}
#col1 {
float: left;
  width: 75%;
  padding: 0;
  /* overflow:auto; */
}

#col2 {
  overflow:auto;
  
  margin-top:5px;
  width: 100px;
  height: 20px;
  float:right;
}

#col2 a img{
    width: auto;
    height: 100%; 
}
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/*    End of header images CSS */
   
   
#footer {
   border:1px solid black;
   padding:10px 30px;
   margin:5px;
} 
 /* Navbar container */


/* The navigation menu */
/* BGcolor:  #99cfe0 */
#nav {
   /* text-align: left; */
   height:38px;
   position:relative;
   left: 0px;
   border-top:1px solid black;
   border-bottom:1px solid black;
}
#nav ul {
	margin:1px;
	padding:0px;
	/* width:80%; */
	background-color:#99cfe0;	
	
	left:0px;
	border:1px solid black;
	
    display:none;
    position:absolute;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
   
}
#nav ul ul{
	position:absolute;
	left:100%;top:0px;
	border-top-right-radius:10px;
    border-top-left-radius:10px;
}


#nav li{
	display:block;
	float:left;	
	padding: 0px 0px 15px 0px;
	
	
}

#nav a,#nav div{
	display:block;
	text-decoration:none;
	padding:10px 10px 12px 10px;
	
	font:bold 12px Verdana;
	color: black;
	background-color: white;
	
	
}

###nav a,###nav div{
	display:block;
	text-decoration:none;
	padding:2px 4px 2px 4px;
	
	font:bold 12px Verdana;
	color: black;
	background-color: white;
	
}

#nav div{
	cursor: default;
}

#nav ul li {
	float:none;
	text-align:left;
	white-space:nowrap;
	padding:2px 0;
	margin:2px 0;	
}
#nav ul li a{
	padding:8px;
}
#nav li:hover{
	position:relative;
	
}

#nav li a:hover, #nav li div:hover{
	position:relative;
	background-color: #99cfe0;
	text-decoration:none;
}

#nav li ul li a{
	position:relative;
	background-color:#99cfe0;
	font:bold 13px Verdana;
	color: black;
	text-decoration:none;
	
	top: 1px;	
}


#nav li ul li:hover>a {
	display: block;
	background-color:#556b2f;
	color: #ffba3b;
	
	
}

#nav li ul li ul a{
	position:relative;
	background-color:#99cfe0;
	font:bold 13px Verdana;
	color: black;
	text-decoration:none;
	top: 1px;	
}
#nav li ul li ul a:hover{
	color:#ffba3b;
	background-color:#556b2f;	
}
/*  nav search: */
 #menu-search {
  display: flex;
  flex-wrap: wrap;
  /* width: 20%; */
  position: absolute;
  top: 50%;
  right: 30px;
  
  transform: translate(-50%, -50%);
  
  /* border:1px solid grey; */
}
#menu-search input[type=text] {
  width:150px;
  font-size:15px;
  border:1px solid grey;
  border-radius:3px;
}
#menu-search input[type=image] {
  height:30px;
}

.text-danger{
   color:orange;
}
/* Pill BUTTONS */

.pill {
  padding: 0px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 0px;
  cursor: pointer;
  font-size:11px;
  border-radius: 16px;
}
.pill-brown {
  background-color: brown;
  border: 1px solid black;
  color: white;
}
.pill-indigo {
  background-color: indigo;
  border: 1px solid black;
  color: white;
}
.pill-khaki {
  background-color: khaki;
  border:  1px solid black;;
  color: black;
}
.pill-lightseagreen {
  background-color: lightseagreen;
  border:  1px solid black;;
  color: black;
}
.pill-mediumorchid {
  background-color: MediumOrchid;
  border:  1px solid black;;
  color: white;
}
.pill-midnightblue {
  background-color: midnightblue;
  border:  1px solid black;;
  color: white;
}
.pill-slateblue {
  background-color: SlateBlue;
  border:  1px solid black;;
  color: white;
}
.pill-orange {
  background-color: orange;
  border: 1px solid black;
  color: black;
}
.pill-green {
  background-color: green;
  border: 1px solid black;
  color: white;
}

/* For genome table AND Taxon Table alphabet srch */
#row1 {
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  padding:20px 0;
  width:100%;
}
#column_left1{
   padding:10px;
   border:1px solid red;
}
#column_right1 {
  padding:10px 50px;
  border:1px solid red;
}


.red-text{
  color:red;
}
.blue-text{
  color:blue;
}
.green-text{
  color:green;
}

.dropdown{
  border:1px solid brown;
  padding:1px;
  border-radius: 3px;
}