* {margin: 0; padding: 0; }
html {
  background: lightgrey; 
}
body {
  
  font: small Verdana, Arial, Helvetica, sans-serif;
  margin: auto;
  padding: 0 2px 20px 2px;
  width: 1200px;
  background: white;  
  
}
a { text-decoration: none; }
#header { background: white; }
table { width: 100%; }
th, td { padding: 0; }

/* ####forsythlogo {position:absolute; top:0; right:0;} */
/* 
.main-text {
  
}
 */

.main-text::first-letter {
  font-size: 300%;
  color: #00659c;
}

ul li { list-style: none; }

.flash-message {
   float:left;
   color:orange;
}

#left-sidebar {
  position: relative;
  float: left;
  top: 35px;
  left: 5px;
  width: 200px;
  background: tan;
  padding: 0;
  margin: 10px;
  /* border: 1px solid #600; */
  
}
#left-sidebar ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}
#right-sidebar {
  position: relative;
  float: right;
  top: 35px;
  right: 5px;
  width: 200px;
  background: tan;
  padding: 0;
  margin:10px;
  border: 1px solid #600;
  
}
#right-sidebar ul {
  list-style: none;
  margin: 1em;
  padding: 0;
}
#footer {
    text-align: center;
    font: x-small "Lucida Grande", Helvetica, arial, sans-serif;
    color: grey; 
    border: 1px solid gray;
    margin: 0 80px 2em 80px;
    padding: 5px;   
}

.pull_right{
   
}
.home-content{
  margin: 30px 230px 2em 230px;
  padding: 10px 20px 0 40px; 
  /* border: 1px solid red; */
  font:  Arial, sans-serif;
  font-size: small;
  text-align: justify;
  line-height: 22px;
}
.wide-content{
  margin: 30px 10px 2em 10px;
  padding: 5px 15px 5px 15px;
  /* border: 1px solid red; */
  font:  Arial, sans-serif;
  font-size: small;
  text-align: justify;
  line-height: 22px;
  /* text-align:center; */
  
}
.title {
   background: #00659c; 
   font-weight: bold;
   color: white;
   padding: 1px 0 1px 10px;
}
.admin-box {  /* Login Pages Boxes */
  background:lightgrey;
  margin:auto;
  width:250px;
  padding:10px;
}


/****for css menu****/
#login-status {  /* In header/menu bar */
  position:absolute;  
	background: grey; 
	right:400px; 
	margin-top:3px;
	/* text-align: right; */
	z-index: 10;
}

#navbar {
  background:#BED6EC;
  width:100%;
  height: 20px;
  
  /* border: 1px solid red; */
  text-align: left;
}
#refseq-stats { 
	position:relative;  
	background: #BED6EC; 
	color: grey;
	/* right:100px;  */
	white-space:nowrap;
	/* width:0px;  */
	float:right;
	right:-200px;
	top: -20px;
	
	/* border:1px solid red; */
	
}
#nav {
   /* text-align: left; */
   
   position:relative;
   left: -210px;
}
#nav ul {
	margin:0px;
	padding:0px;
	/* width:80%; */
	background-color:white;	
	position:relative;
	left:-1px;top:1px;
	
	
}
#nav ul{display:none;position:absolute;left:0px;top:95%;}
#nav ul ul{position:absolute;left:100%;top:0px;}
#nav li:hover>ul{display:block;}
#nav li ul li:hover>ul{display:block;}

#nav li{
	display:block;
	float:left;	
	padding: 1px 1px 3px 1px;
}
#nav a,#nav div{
	display:block;
	text-decoration:none;
	padding:2px 4px 2px 4px;
	font:bold 11px Verdana;
	color: white;
	background-color: #006699;
	
}
#nav div{
	cursor: default;
	
}
#nav ul li {
	float:none;
	text-align:left;
	white-space:nowrap;
	padding:1px 1px 1px 1px;	
}
#nav li:hover{
	position:relative;
}

#nav li a:hover,#nav li div:hover{
	position:relative;
	font:bold 11px Verdana;
	color: yellow;
	background-color: #005782;
	text-decoration:none;
}

#nav li ul li a{
	position:relative;
	background-color:#EEEEEE;
	font:bold 11px Verdana;
	color: #006699;
	text-decoration:none;
	border:1px solid #888888;
	top: 1px;	
}


#nav li ul li:hover>a {
	display: block;
	background-color:#CCEEFF;
	font:bold 11px Verdana;
	color: red;
	text-decoration:none;
}



#nav li ul li ul a{
	position:relative;
	background-color:#FFFFCC;
	font:bold 11px Verdana;
	color: #333333;
	text-decoration:none;
	border:1px solid #888888;
	top: 1px;	
}
#nav li ul li ul a:hover{
	color:red;
	background-color:#FFFFCC;	
}






