#custom_tax_div {
    text-align:center;
}
#custom_treebox {
    border:1px solid black;
    padding:10px;
    margin: 0 auto;
    /* overflow:auto; */
    height:400px;
    width:70%;
    
}
#download_fxn {
  position:absolute;
  right: 90px;
  top:130px;
  font-size:12px;
}

#tax-box {
   height:700px;
   overflow:auto;
   padding:10px 10px 20px 10px;
   border:1px solid gray;
   margin-top:5px;
 }
 
 #tax-table
{
  padding:5px;
 /*  width:1200px; */
  /* table-layout:fixed; */
  width:100%;
  background:lightgrey;
}
#tax-table th
{
  color:white;
  background:  var(--table-header-bg);
  padding:5px;
  font-size:13px;
  text-align: center;
}
#tax-table td
{
 padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;

  /* text-overflow: ellipsis; */

  white-space: nowrap;
}
#tax-table tr:nth-child(even) { 
    background-color: var(--table-row-even1);
 } 
 
 #tax-table tr:hover { 
    background-color: #dce7f5; 
 } 
#tax-table .col1{
    width:50px;
    text-align:center;
}
#tax-table .col2{
    /* width:300px; */
}
#tax-table .col4{
    /* width:100px; */
}
#tax-table .col6{
    width:250px;
    text-align:center;
}
#tax-table .col7{
    width:50px;
    text-align:center;
}
#tax-table .col8{
    width:50px;
    text-align:center;
}
 #status-div {
   padding:5px;font-size:12px;
 }
 #bodysite-div {
   padding:5px;font-size:12px;
 }
 
/*  Tax Level page */
#center70pct_div {
   border:1px solid black;
   width:70%;
   padding:5px;
   text-align:left;
}
#taxlevel_tdiv2 {
   padding:5px;
   width:80%;
   border:1px solid red;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
	content: " \25B4\25BE" 
}



