#custom_tax_div {
    text-align:center;
}
#custom_treebox {
    border:1px solid black;
    padding:10px;
    margin: 0 auto;
    /* overflow:auto; */
    height:400px;
    width:70%;
    
}
#download_fxn {
  position:absolute;
  right: 90px;
  top:130px;
  font-size:12px;
}

#tax-box {
   padding:10px 10px 20px 10px;
   border:1px solid gray;
 }
 
 #tax-table
{
  padding:5px;
 /*  width:1200px; */
  table-layout:fixed;
  width:100%;
}
#tax-table th
{
  color:white;
  background:#006699;
  padding:5px;
  font-size:13px;
  text-align: center;
}
#tax-table td
{
 padding:3px 2px;
  font-size:small;
  color: #303030;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tax-table tr:nth-child(even) { 
    background-color: #ffffcd; 
 } 
 #tax-table tr:hover { 
    background-color: #dce7f5; 
 } 
 
 
 #status-div {
   padding:5px;font-size:12px;
 }
 #bodysite-div {
   padding:5px;font-size:12px;
 }
 
/*  Tax Level page */
#center70pct_div {
   border:1px solid black;
   width:70%;
   padding:5px;
   text-align:left;
}
#taxlevel_tdiv2 {
   
   padding:5px;
   width:80%;
   border:1px solid gray;
}
#level_table {
   /* border:1px solid red; */
   width:90%;
   padding: 10px;
}
#level_table td{
   padding:0 3px;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
	content: " \25B4\25BE" 
}



 
#taxa-search {
   width:80%;
   margin-left:80px;
   padding-left:50px;
   /* border: 1px solid red; */
   /* margin-top:10px; */
   font-size:small;
 }
#navigate-alpha {
   width:120%;
   /* border: 1px solid red; */
   padding-left:5px;
 }
#navigate-alpha a {
   color:#006699;
}

#taxa-count {
   
   width:95%;
   border:1px solid red;
   margin-right:20px;
   padding:2px;
   font-size:small;
 }
 #taxa-sort {
    position:relative;
    border:1px solid black;
    padding:10px 3px;
    margin:20px 0 0 40px;
    font-size:small;
    font-weight:bold;
    width:95%;
 }
 

 
#radio_btns {
	font-size:11px;
}
.filter-title {
	font-weight:bold;
	font-size:13px;
	color: darkgrey;

}   
#taxon-filter input[type="button"]{
  line-height: 14px;
}
#taxon-search select{
   font-size:12px;
}

#taxon-search input[type="text"]{
   padding: 1px 1px; line-height: 8px;
}
#taxon-search input[type="submit"]{
   line-height: 14px;
}