#custom_tax_div {
    text-align:center;
}
#custom_treebox {
    border:1px solid black;
    padding:10px;
    margin: 0 auto;
    /* overflow:auto; */
    height:400px;
    width:70%;
    
}

#tax-box {
   padding:10px 10px 20px 10px;
   border:1px solid gray;
 }
 #tax-table {
   border:1px solid red;
   
 }
  #tax-table  th{
   background: #00659c;
   color:white;
   padding: 3px;
   
 }
 #tax-table td { 
    padding: 3px;
 } 
 #tax-table tr:nth-child(even) { 
    background-color: Lightgreen; 
 } 
 #tax-table tr:hover { 
    background-color: Lightyellow; 
 } 
 #outer-content {
   padding-left:10px;
   width: 100%;
   display: inline-block;
 }
 #taxa-search {
   float:right;
   padding-right:25px;
   /* margin-top:10px; */

   font-size:small;
 }
 #navigate-alpha {
   float:left;
 }
 #inner-content {
   /* padding-left:10px; */
   width: 100%;
   display: inline-block;
 }
 #taxa-count {
   float:left;
   
   /* margin-top:10px; */

   font-size:small;
 }
 #taxa-filter {
   float:right;
 }
 
 #status-div {
   background:turquoise;padding:2px;font-size:12px;
 }
 #bodysite-div {
   background:pink;padding:2px;font-size:12px;
 }
 
/*  Tax Level page */
#taxlevel_tdiv1 {
   border:1px solid black;
   width:70%;
   padding:5px;
   text-align:left;
}
#taxlevel_tdiv2 {
   
   padding:5px;
   
}
#level_table {
   /* border:1px solid red; */
   width:90%;
   padding: 10px;
}
#level_table td{
   padding:0 3px;
}