<style>
</style>
<%- include('../../partials/header_html'); %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

<!-- <link rel="stylesheet" type="text/css" href="/css/bs/bootstrap.css" > -->
<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>BlasterJS Test</div>
    
    <input type="file" id="blastinput" />
    <div id="blast-multiple-alignments"></div>
    <div id="blast-alignments-table"></div>
    <div id="blast-single-alignment"></div>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/html2canvas.min.js"></script>
<script type="text/javascript" src="/js/blaster.min.js"></script>
<script>
  mainmenu()
  
  var blasterjs = require("biojs-vis-blasterjs");
  var instance  = new blasterjs({
	input: "blastinput",
	multipleAlignments: "blast-multiple-alignments",
	alignmentsTable: "blast-alignments-table",
	singleAlignment: "blast-single-alignment"
  });    
</script>


