<% var cfg = JSON.parse(config) %> 
<div class='date'> 2023-02-14 Genomic Reference Sequences Version 10.1 release notes</div>  
We now have a total of 8622 Genomes which is up from 2123 before.
Here is the version report:
<a href='<%= cfg.FTP_URL %>/genomes/V10.1/report.html'>https://homd.org/ftp/genomes/V10.1/report.html</a>

<div class='date'> 2022-02-10 Genomic Reference Sequences Version 9.15 release notes</div> 
We have added 36 new genomes (taking the total to 2123): 
<div class='inset'>
</ul>
<li>SEQF3712    HMT-096 <i>Lachnospiraceae_[G-2]</i>    bacterium_HMT_096   F0428
<li>SEQF3708    HMT-194 <i>Arachnia rubra</i>   DSMZ 100122
<li>SEQF3703    HMT-218 <i>Leptotrichia</i> sp._HMT_218 F0707
<li>SEQF3704    HMT-221 <i>Pseudoleptotrichia</i>   sp._HMT_221 F0705
<li>SEQF3680    HMT-275 <i>Porphyromonas</i>    sp._HMT_275 W7780
<li>SEQF3700    HMT-291 <i>Prevotella   denticola</i>   F0288
<li>SEQF3701    HMT-291 <i>Prevotella   denticola</i>   F0119
<li>SEQF3702    HMT-291 <i>Prevotella   denticola</i>   F0115
<li>SEQF3711    HMT-291 <i>Prevotella   denticola</i>   F0105
<li>SEQF3698    HMT-298 <i>Prevotella   histicola</i>   F0411
<li>SEQF3696    HMT-313 <i>Prevotella   jejuni</i>  F0697
<li>SEQF3697    HMT-313 <i>Prevotella   jejuni</i>  F0106
<li>SEQF3705    HMT-374 <i>Cellulosimicrobium   cellulans</i>   ORNL-0100
<li>SEQF3678    HMT-349 <i>Saccharibacteria_(TM7)_[G-1]</i> bacterium_HMT_349   PM007
<li>SEQF3706    HMT-416 <i>Fannyhessea</i>  sp._HMT_416 W9116
<li>SEQF3687    HMT-469 <i>Prevotella   melaninogenica</i>  F0695
<li>SEQF3688    HMT-469 <i>Prevotella   melaninogenica</i>  F0692
<li>SEQF3689    HMT-469 <i>Prevotella   melaninogenica</i>  F0516
<li>SEQF3690    HMT-469 <i>Prevotella   melaninogenica</i>  F0300
<li>SEQF3691    HMT-469 <i>Prevotella   melaninogenica</i>  F0301
<li>SEQF3693    HMT-469 <i>Prevotella   melaninogenica</i>  F0299
<li>SEQF3694    HMT-469 <i>Prevotella   melaninogenica</i>  F0054
<li>SEQF3695    HMT-469 <i>Prevotella   melaninogenica</i>  F0091
<li>SEQF3683    HMT-475 <i>Prevotella</i>   sp._HMT_475 F0059
<li>SEQF3707    HMT-513 <i>Aggregatibacter</i>  sp._HMT_513 W11186
<li>SEQF3681    HMT-572 <i>Prevotella   veroralis</i>   F0319
<li>SEQF3692    HMT-685 <i>Prevotella   multiformis</i> F0096
<li>SEQF3684    HMT-693 <i>Prevotella   nigrescens</i>  F0109
<li>SEQF3685    HMT-693 <i>Prevotella   nigrescens</i>  F0630
<li>SEQF3686    HMT-693 <i>Prevotella   nigrescens</i>  F0103
<li>SEQF3709    HMT-739 <i>Arachnia propionica</i>  F0231
<li>SEQF3710    HMT-739 <i>Arachnia propionica</i>  F0714
<li>SEQF3699    HMT-782 <i>Prevotella   fusca</i>   W1435
<li>SEQF3682    HMT-885 <i>Prevotella   scopos</i>  W2052
<li>SEQF3679    HMT-948 <i>Streptococcus    lactarius</i>   CCUG 66490
<li>SEQF3677    HMT-998 <i>Victivallales_[G-1]</i>  bacterium_HMT_998   CCUG 44730
</ul>
</div>
<div class='date'> 2020-11-13 Genomic Reference Sequences Version 9.14 release notes</div>  
We have removed 45 Porphyromonas gingivalis, 28 Prevotolla intermedia, 45 Aggregatibacter actinomycetemcomitans, 245 Streptococcus mutans, 123 Streptococcus mitis, 1 Treponema Denticola and 1 Fusobacterium massiliense  which takes current version of the Genomic Refseq to 9.14 and contains total of 2087 genomic DNA sequences.

<div class='date'>2020-08-28 Genomic Reference Sequences Version 9.13 release notes</div>  
We have removed 14 survey genomes and 3 genomes of ncbi GenBank is deleted  which takes current version of the Genomic Refseq to 9.13 and contains total of 1599 genomic DNA sequences.

<div class='date'>2020-08-28 Genomic Reference Sequences Version 9.12 release notes</div>  
We have removed 5 duplicate genomes  which takes current version of the Genomic Refseq to 9.12 and contains total of 1616 genomic DNA sequences.

<div class='date'>2020-08-07 Genomic Reference Sequences Version 9.11 release notes</div>  
We have added 11 new genomes  which takes current version of the Genomic Refseq to 9.11 and contains total of 1621 genomic DNA sequences

<br><br>The following 11 Genomes were added:
<div class='inset'>
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 HB001
<br>HMT-042 Mogibacterium timidum W9173
<br>HMT-340 Brevibacterium paucivorans UMB1301 
<br>HMT-061 Streptococcussp. HMT 061 F0704
<br>HMT-902 Capnocytophaga sp. HMT 902 W10638
<br>HMT-102 Oribacteriumsp. HMT 102 W9097
<br>HMT-903 Capnocytophagasp. HMT 903 W10654
<br>HMT-223 Leptotrichiasp. HMT 223 F0708
<br>HMT-417 Leptotrichiasp. HMT 417 F0703
<br>HMT-081 Peptostreptococcaceae [XI][G-7] bacterium HMT 081 W5028
<br>HMT-169 Actinomycessp. oral taxon 169 F0496
</div>
<div class='date'>2020-06-16 Genomic Reference Sequences Version 9.10 release notes</div>  
We have added prokka annotation for SEQF2736 which was missing any annotation. And we added 40 new genomes. This takes current version of the Genomic Refseq to 9.10 and contains a total of 1610 genomic DNA sequences. The 1610 sequences include both oral, nasal and non-oral/non-nasal reference genomes. 
Following 40 Genomes were added:
<div class='inset'>
HMT-677 Streptococcus mitis NCTC 12261
<br>HMT-725 Treponema pectinovorum Marseille-1-CSURP6641
<br>HMT-725 Treponema pectinovorum Marseille-3-CSURP7641
<br>HMT-725 Treponema pectinovorum Marseille-4-CSURP7639
<br>HMT-725 Treponema pectinovorum Marseille-2-CSURP6642
<br>HMT-689 Fusobacterium naviforme NCTC13121
<br>HMT-689 Fusobacterium naviforme CCUG 50052
<br>HMT-050 Corynebacterium macginleyi NML 080212
<br>HMT-050 Corynebacterium macginleyi NML 120205
<br>HMT-024 Schlegelella thermodepolymerans DSM 15344
<br>HMT-213 Leptotrichia hongkongensis JMUB5056
<br>HMT-725 Treponema pectinovorum ATCC 700769
<br>HMT-261 Segetibacter aerophilus NBRC 106135
<br>HMT-024 Schlegelella thermodepolymerans DSM 15264
<br>HMT-024 Schlegelella thermodepolymerans DSM 15344
<br>HMT-548 Peptoniphilus asaccharolyticus DSM 20463
<br>HMT-101 Neisseria perflava UMB0023
<br>HMT-689 Fusobacterium naviforme ATCC 25832
<br>HMT-747 Erythromicrobiumr amosum JCM 10282
<br>HMT-835 Corynebacterium mucifaciens ATCC 700355
<br>HMT-050 Corynebacterium macginleyi CCUG 32361
<br>HMT-636 Bosea vestrisii 3192
<br>HMT-017 Anaerococcus octavius NCTC9810
<br>HMT-017 Anaerococcus octavius UMB0119
<br>HMT-708 Actinomyces oricola R5292
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS03P
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM010
<br>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM009
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM006
<br>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM003
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM002
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM001
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 AC002
<br>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS17P
<br>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS14P
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS15P
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS13P
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS07P-B
<br>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS05P-B
<br>HMT-991 Absconditabacteria (SR1) [G-3] bacterium HMT 991 RAAC1_SR1_1
</div>
<div class='date'>2019-09-02 Genomic Reference Sequences Version 9.03 release notes</div>  
The genomic sequences provided by the eHOMD are referred to as "Genomic Reference Sequences" or in short "Genomic Refseq". The current version of the Genomic RefSeq is V9.02 and contains a total of 1,570 genomic DNA sequences representing the eHOMD taxa. The 1,570 sequences include both oral, nasal and non-oral/non-nasal reference genomes.    


