<style>

</style>
<%- include('../../partials/header_html'); %>



<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		  					
	  <div class='title'>Phages of Oral Bacteria</div>
<div id='under-construction'>Page Under Construction</div>	
	  <div class='intro-content'>
		<p>
		  These are the pages for the viruses (phages) that are known to infect oral bacteria.
		</p>
		<br>
		<ul>
		  <li>-- <a href='phage/phage_table'>See the full phage list.</a></li>
		</ul>
	  </div>
		
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div>
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>

