<%- include('../../partials/header_html'); %>

<style>
a {
   font-size: 14px;
   word-spacing: normal;
   color:#006699;
}
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	<%- include('../../partials/navbar'); %>
	
	<div id='' class='page-content'>
		<div class='jumbotron'> 
		 					
			 <h4 class='title text-info'>Download HOMD 16S rRNA Gene Sequences</h4>
			 
HOMD provides two different sets of 16S rRNA Gene Reference Sequence (RefSeq) for download and BLAST search:
<br><br> 
1.	<b>HOMD 16S rRNA RefSeq:</b> This set contains sequences representing all currently named and unnamed oral taxa.
<br>2.	<b>HOMD 16S rRNA Extended RefSeq:</b> This set contains additional16S rRNA reference gene sequences that are distinctively different from existing taxa but have not yet been assigned with a taxon ID.
<br><br> 
A phylogeny-based, high-resolution, habitat-specific training reference sequence set was constructed to achieve species/supraspecies-level taxonomic assignment to short- and long-read 16S rRNA gene-derived amplicon sequence variants (ASVs). The training set sequences, together with the pipeline scripts, are available for download. For detail description of the training set and the pipelines, 
please refer to our publication <a href='https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-020-00841-w' target='_blank' >Escapa et al, 2020</a>.
 
In addition, the entire collection of all cloned sequences (clonal collection) upon which the Refseq was derived from, is also provided for download on this page and on the HOMD FTP site.


		</div>
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script type="text/javascript" src="/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>


