<% svg = JSON.parse(svg_data) %>
<html><head><title>HOMD RefSeq Tree</title>

<meta charset="UTF-8">

</head><body>

	<!-- <object data="/trees/refseq_tree_V15.23.svg" type="image/svg+xml"></object> -->
	<!-- <img src="/trees/refseq_tree_V15.23.svg" type="image/svg+xml" width='100%' /> -->
	<%- svg %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
var otid = "<%= otid %>"
taxidfullname = 'HMT-'+("000" + otid).slice(-3);
// console.log(taxidfullname)
// let y = $("text:contains('"+taxidfullname+"')").css({"font-size":"120%","fill": "red", "background-color": "green" })
// let x = $("text:contains('"+taxidfullname+"')").closest("tspan").css({"background-color": "green" })
// //$("text:contains('"+taxidfullname+"')").css("background-color", "coral");
window.scrollTo(0, $("text:contains('"+taxidfullname+"')").offset().top-50)
// console.log(x)

let target = $("text:contains('"+taxidfullname+"')")
//window.scrollTo(0,1200)
$(target).css({"fill": "magenta","font-size":"120%","background-color":"gray" });
$(target).children("tspan").css({"fill": "magenta","font-size":"120%","background-color":"gray" });
console.log($(target))
</script>

</body>
</html>
 


