
<style>
td a {
   color:blue;
}
.card-body a {
   color:black;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
  	
	    
	    
	
    <%- include('../../partials/header_img'); %>
    
	<%- include('../../partials/navbar'); %>
	
    <div id='' class='page-content'>
	   
	   					
		 <center><h4 class='title text-info'>Downloadable Data in HOMD</h4></center>
		 
		 <div class=''>Phylogenetics</div>
		 <div class=''>Batch Taxonomic Data Download:</div>
		 <div class=''>Batch Genomic Meta Informaton Download</div>
		 <div class=''>	HOMD Database Schema</div>
		 <div class=''>HOMD Database Structures</div>
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  
</body>

</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
</script>
