<style>
.arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.tax-item{
   margin: 10px;

}
.box{
   background:lightgrey;
   padding:40px 0;
   margin-top:20px;
   border:2px solid grey;
}
.otid-link{
   color:gold;
   background:purple;
   padding:5px;
   border:1px solid black;
}
.otid-link a{
   color:ivory;
   
}
</style>


 <%- include('../../partials/header_html'); %>   


<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>

    <div class='page-content' >
       <p class='h3 title'>Dynamic Taxonomic Hierarchy</p>

  
   <div class='container-sm box'>
    <a href='tax_hierarchy2' role='button' class='btn btn-success' style='float:right;'>Reset Tree</a>
     <ul>
     <li class='tax-item'>
       <a 
         onclick=get_leaf('Archaea','domain') 
         role='button' 
         type="button" 
         style='background:#78AE99;'
         class="btn btn-sm"
        >
          <small>Domain:</small> Archaea <i class="arrow right"></i>
       </a>
       <div id='Archaea_domain'></div>
     </li>
     <li class='tax-item'>
       <a 
         onclick=get_leaf('Bacteria','domain') 
         role='button' 
         type="button"
         style='background:#78AE99;'
         class="btn btn-sm"
        >
          <small>Domain:</small> Bacteria <i class="arrow right"></i>
       </a>
       <div id='Bacteria_domain'></div>
     </li>
     </ul>
   </div>


    </div> <!-- end: page-content -->
</div>  <!-- end wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/dhtmlxtree.js" ></script>
<!-- <script type="text/javascript" src="/js/tree.js" ></script> -->
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script>
  mainmenu()
  
  function get_leaf(name,rank){
    //console.log('in getleaf',name,rank)
    
    var args = {}
    args.name = decodeURIComponent(name)
    //console.log('decoded name',args.name)
    args.rank = rank
    target_div = document.getElementById(args.name+'_'+rank)
    if(target_div.innerHTML !== ''){
       // close
       target_div.innerHTML = ''
    }else{
    
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "/taxa/tax_hierarchy2", true);
        xmlhttp.setRequestHeader("Content-type","application/json");
        xmlhttp.onreadystatechange = function() {
          if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
            var resp = xmlhttp.responseText;
            
            //console.log('gitit',resp)
            target_div.innerHTML = resp
            
          }
        }
        xmlhttp.send(JSON.stringify(args));
    }
  }

</script>

