<style>
  #masthead {
  /* width:1350px; */
  width: 100%;
  background: #004080;   /* #013366; */
  
}

</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    


<body>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar2'); %>

    <div class='page-content' >
       <center><h3 class='mt-5'>Human Oral Microbiome Taxonomic Hierarchy</h3></center>


   <div class='container-sm'>
     <div class=''>
       <button type="button" class="btn btn-primary btn-sm">Archaea</button>
    </div>
    <div class=''>
       <button type="button" class="btn btn-primary btn-sm">Bacteria</button>
    </div>
   </div>


    </div> <!-- end: page-content -->
    
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/dhtmlxtree.js" ></script>
<!-- <script type="text/javascript" src="/js/tree.js" ></script> -->
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>

<script>
  mainmenu()
  $(document).ready(function(){                    
    //load_dhtmlx(<%- data %>)
    //load_dhtmlx()
});

</script>

