<style>
td a {
   color:blue;
}
#level-table {
   border-collapse: collapse;
}
#level-table th,td {
   padding: 2px 10px;
   border:1px solid black;
   border-collapse: collapse;
}
.level-button{
     border:2px solid green;
     color: white;
     background: #e9ffdb;
     border-radius:2px;
     padding:2px 5px;
     
}
.level-button a{
     color: white;
}
#level-container{
  padding:20px 0 0 0;
}
#button-group{
   padding:10px 0 0 0;
}
</style>
<%- include('../../partials/header_html'); %>


<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		 <div class='title'>Human Oral Microbiome Taxonomic Level List</div>
		 <a id='download_browser_text_excel'  href='/download#taxon' >Download Options</a>	 
		 
	    <center>
		  <div id='level-container' >
			<h4 >Taxonomic Level</h4>
			   <br>
				<small>[Select a Rank:]</small> 
				<div id='button-group'> 
				<a class='level-button' type='button' href='#' id='domain' onclick="change_level('domain')">Domain</a> 
				&gt; <a class='level-button' type='button'  href='#' id='phylum' onclick="change_level('phylum')">Phylum</a> 
				&gt; <a class='level-button' type='button'  href='#' id='klass' onclick="change_level('klass')">Class</a> 
				&gt; <a class='level-button' type='button'  href='#' id='order' onclick="change_level('order')">Order</a> 
				&gt; <a class='level-button' type='button'  href='#' id='family' onclick="change_level('family')">Family</a> 
				&gt; <a class='level-button' type='button'  href='#' id='genus' onclick="change_level('genus')">Genus</a> 
				&gt; <a class='level-button' type='button'  href='#' id='species' onclick="change_level('species')">Species</a>
				&gt; <a class='level-button' type='button'  href='#' id='subspecies' onclick="change_level('subspecies')">Subspecies</a>
			   </div>
			
		  </div>
		 
		 
		  <br>
		  <div id='taxlevel_div'></div>
	    </center> 
	  
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
 </div>
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){                    
   
    change_level('domain')
});

</script>

