<style>
td a {
   color:blue;
}
#level-table {
   border-collapse: collapse;
}
#level-table th,td {
   padding: 2px 10px;
   border:1px solid black;
   border-collapse: collapse;
}
.level-button{
     border:2px solid green;
     color: white;
     background:#e9ffdb;
     border-radius:2px;
     padding:2px 5px;
}
.level-button a{
     
     color: white;
     
}
</style>
<%- include('../../partials/header_html'); %>


<body>
  	<div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    <div class='page-content' >
		 
		 
	<center>
		 <div class='title'>Human Oral Microbiome Taxonomic Level List</div>
		 
		
		 
		<div class="" style="max-width: 50rem;">
			<h4 class="card-header">Taxonomic Level:</h4>
			<div class="card-body">
			   <p class="card-text">
   
				Select a Rank: &nbsp; &nbsp; &nbsp;    
				<a class='level-button' type='button' href='#' id='Domain' onclick="change_level('Domain')">Domain</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Phylum' onclick="change_level('Phylum')">Phylum</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Class' onclick="change_level('Class')">Class</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Order' onclick="change_level('Order')">Order</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Family' onclick="change_level('Family')">Family</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Genus' onclick="change_level('Genus')">Genus</a> 
				&gt; <a class='level-button' type='button'  href='#' id='Species' onclick="change_level('Species')">Species</a>
				&gt; <a class='level-button' type='button'  href='#' id='Subspecies' onclick="change_level('Subspecies')">Subspecies</a>
			   </p>
			</div>
		 </div>
		 
		 
		 <br>
		 <div id='taxlevel_div'></div>
	</center> 
	  
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
 </div>
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  $(document).ready(function(){                    
   
    change_level('Domain')
});

</script>

