<%- include('../../partials/header_html'); %>

<link rel="stylesheet" href="/css/taxa_pages.css" >
<style>

</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	
	
	<div id="navbar">
            <%- include('../../partials/navbar'); %>
    </div>
    <div id='' class='page-content'>
    
	
	  <div class='wide-content' id="">  					
		 
		 
		<center>
		 <div class='page-title'>Human Oral Microbiome Taxonomic Level List</div>
		 
		 <div id='center70pct_div'>
		 <span class=''>Taxonomic Level</span>
            <br>
                 <a href='#' id='Domain' onclick="change_level('Domain')">Domain</a> 
            &gt; <a href='#' id='Phylum' onclick="change_level('Phylum')">Phylum</a> 
            &gt; <a href='#' id='Class' onclick="change_level('Class')">Class</a> 
            &gt; <a href='#' id='Order' onclick="change_level('Order')">Order</a> 
            &gt; <a href='#' id='Family' onclick="change_level('Family')">Family</a> 
            &gt; <a href='#' id='Genus' onclick="change_level('Genus')">Genus</a> 
            &gt; <a href='#' id='Species' onclick="change_level('Species')">Species</a>
		 </div>
		 
		 <div id='taxlevel_tdiv2'>
		 
		 </div>
	    </center> 
	  </div>
    </div> <!-- end: page-content -->
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/taxonomy.js"></script>
<script>
  $(document).ready(function(){                    
    mainmenu();
    change_level('Domain')
});

</script>

