<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Contact Us</div>
<span class='help-menu-return'><a href='/help/index'>back-to-help-menu</a></span>
For generic HOMD information please send email to:
Dr. Floyd Dewhirst at fdewhirst@forsyth.org

For general biological information or questions please send queries to:Dr. George Tsute Chen at tchen@forsyth.org

    For taxonomy or genomics specific question:

         Please contact Dr. Floyd Dewhirst at    fdewhirst@forsyth.org

    Report bugs and problems regarding the web site, tools and database to:

        Dr. George Tsute Chen at tchen@forsyth.org

    
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


