<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
<div class='page-content' >
    <div class='title'>[Help Title]</div>
    <span class='help-menu-return'>Back To: <a href='/help/index'>Main-Help-Menu</a></span>
    <div class='help-div'> 
   
    </div>  
</div> <!-- end: page-content -->
    
<div id='footer'>
         <%- include('../../partials/footer'); %>
</div>
       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


