<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>HELP CONTENT</div>
    
<table id='over-table'> 
  <tr><td valign='top'> 
    <table id='help-left-table'>
        <tr><th>General</th></tr>
        <tr><td><a href='cite'>How to Cite HOMD</a></td></tr>
        <tr><td><a href='description'>Project Description</a></td></tr>
        <tr><td><a href='strains'>Strains and DNA Availability</a></td></tr>
        <tr><td><a href='team'>Our Team</a></td></tr>
        <tr><td><a href='contact'>Contact US</a></td></tr>
        <tr><td><a href='mailing'>Mailing List</a></td></tr>
        <tr><td><a href='announcement'>Announcements</a></td></tr>
        <tr><td><a href=''></a></td></tr>
        <tr><td><a href=''></a></td></tr>
        <tr><td><a href=''></a></td></tr>
    </table>
    
  </td><td valign='top'> 
    
    <table id='help-middle-table'>
        <tr><th colspan='2'>Specific Page Help</th></tr>
        <tr><td rowspan='6'>Taxonomy</td><td>Taxon Table</td></tr>
        <tr><td>Taxon Description</td></tr>
        <tr><td>Tax Rank Level</td></tr>
        <tr><td>Tax Dynamic Hierarchy</td></tr>
        <tr><td>Taxon Page</td></tr>
        <tr><td>Tax Life Pages</td></tr>
        <tr><td><a href=''>16S rRNA RefSeq</a></td></tr>
        <tr><td rowspan='4'>Genomic</td><td><a href=''>Genome Table</a></td></tr>
        
        <tr><td><a href=''>Genome Description</a></td></tr>
        <tr><td><a href=''>JBrowse</a></td></tr>
        <tr><td><a href=''>Genome Explorer and Annotations</a></td></tr>
    </table>
    
  </td><td valign='top'> 
   
    <table id='help-right-table'>
        <tr><th>Versioning</th></tr>
        
        <tr><td><a href='refseq_version'>16S rRNA RefSeq Version History</a></td></tr>
        <tr><td><a href='genome_version'>Reference Genome Version History</a></td></tr>
        <tr><td><a href='database_update'>Database Updates</a></td></tr>
    </table>
    
  </td></tr>  
    </table>
    
    
    
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


