<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>HELP CONTENT</div>
    
<table id='over-table'> 
  <tr><td valign='top'> 
    <table class='help-table' id='help-left-table'>
        <tr><th>General</th></tr>
        <tr><td><a href='help-page?pagecode=cite'>How to Cite HOMD</a></td></tr>
        <tr><td><a href='help-page?pagecode=description'>Project Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=strains'>Strains and DNA Availability</a></td></tr>
        <tr><td><a href='help-page?pagecode=team'>Our Team</a></td></tr>
        <tr><td><a href='help-page?pagecode=contact'>Contact US</a></td></tr>
        <tr><td><a href='help-page?pagecode=mailing'>Mailing List</a></td></tr>
        <tr><td><a href='help-page?pagecode=download'>Downloads</a></td></tr>
        <tr><td><a href='help-page?pagecode=announcement'>Announcements</a></td></tr>
        <tr><td><a href='help-page?pagecode=blast'>Blast</a></td></tr>
        
    </table>
    
  </td><td valign='top'> 
    
    <table class='help-table' id='help-middle-table'>
        <tr><th colspan='2'>Specific Page Help</th></tr>
        <tr><td rowspan='6'>Taxonomy:</td>
            <td><a href='help-page?pagecode=taxon/tax_table'>Taxon Table</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=taxon/description'>Taxon Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/level'>Taxon Rank Level</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/hierarchy'>Taxon Dynamic Hierarchy</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/life'>Taxon Life Pages</a></td></tr>
        <tr><td><a href='help-page?pagecode=taxon/ecology'>Ecology Pages</a></td></tr>
        <tr><td rowspan='2' class=''>16S rRNA RefSeq:</td>
            <td class=''><a href='help-page?pagecode=refseq/refseq_blast'>BLASTN</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=refseq/refseq_trees'>Phylogenetic Trees</a></td></tr>
        
        <tr><td rowspan='4' class=''>Genomic:</td>
            <td class=''><a href='help-page?pagecode=genome/genome_table'>Genome Table</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=genome/genome_description'>Genome Description</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/genome_jbrowse'>JBrowse</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/genome_explorer'>Genome Explorer and Annotations</a></td></tr>
        <tr><td rowspan='2' class=''>Phage:</td>
            <td class=''><a href='help-page?pagecode=phage/phage_table'>Phage Table</a></td>
        </tr>
        <tr><td><a href='help-page?pagecode=phage/phage_description'>Phage Description</a></td></tr>
        
    </table>
    
  </td><td valign='top'> 
   
    <table class='help-table' id='help-right-table'>
        <tr><th>Versioning</th></tr>
        
        <tr><td><a href='help-page?pagecode=refseq/refseq_version'>16S rRNA RefSeq Version History</a></td></tr>
        <tr><td><a href='help-page?pagecode=genome/genome_version'>Reference Genome Version History</a></td></tr>
        <tr><td><a href='help-page?pagecode=database_update'>Database Updates</a></td></tr>
    </table>
    
  </td></tr>  
    </table>
    
    
    
    
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


