<style>
#search-help{
   background:darkgrey;
   border:1px solid black;
   color:white;
   padding:60px;
   margin-top:20px;
   
}#search-help input{
   height:30px;
   font-size:20px;
   
}
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
        <center>     
       <div class='title'>Search Help</div>
       <span class='help-menu-return'><a href='/help/index'>Main-Help-Menu</a></span>
       <div id='search-help'>
       <form name='search-help-form' method='POST' action='help_search_result'>
         <input type='text' name='input_string' size='30' maxlength='150'>
         
         <input type='submit' class='button' value='Go'>
       
       </form>
       </div>
       </center>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


