<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Strains and DNA Availability</div>
<span class='help-menu-return'><a href='/help/index'>back-to-help-menu</a></span>
<div class='help-div'> 
    Cultures and genomic DNA of the strains sequenced in the Human Microbiome Project are available from the BEI Resources 
    (Biodefense & Emerging Infections Research Resources Repository):

    <br><br><div class='link'><a href='http://www.beiresources.org/' target='_blank'>http://www.beiresources.org/</a></div>

    <br>The Human Microbiome Project information page on BEI is at:

    <br><br><div class='link'><a href='http://www.beiresources.org/About/HumanMicrobiomeProject/tabid/625/Default.aspx' target='_blank'>http://www.beiresources.org/About/HumanMicrobiomeProject/tabid/625/Default.aspx</a></div>  
</div>  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


