<style>
</style>
<link rel="stylesheet" href="/css/help.css">
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >
              
       <div class='title'>Team</div>
<span class='help-menu-return'><a href='/help/index'>back-to-help-menu</a></span>
      Investigators contributing to this project:Tsute Chen1, Floyd E. Dewhirst1,  Jacques Izard1, Bruce J. Paster1, Anne Tanner1, and William G. Wade3  Contributors: Alice Kirega, Griffin Weigle, Larry Yang, and Alexandra RybalkaPast Contributors: Derrick Fouts, Emmanuel Mongodin, Derek Spencer, Erin Klein, Oxana Baranova, Jessica Blanton, Cori Leonetti, Wen-Han Yu, Abby Lakshmanan, and Akila Ganesan, Hayley Thompson  The Forsyth Institute, Cambridge, MA, USA1 The J. Craig Venter Institute, Rockville, MD, USA2 King's College London Dental Institute at Guy's, King's College and St Thomas' Hospitals, Infection Research Group, London SE1 9RT, UK3.  Picture taken in 2008.
          
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
</script>


