<% var cfg = JSON.parse(config) %> 
<style>
#loader-div{
   margin-top:200px;
}
</style>
<% cfg = JSON.parse(config) %>
<% url = cfg.ANVIO_URL %>


<body>
    
   
        
        <center><div id='loader-div'></div></center>
        

       
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  var pg = '<%- pangenome %>'
  var aurl = '<%= url %>'
  console.log('pg',pg,aurl)
  mainmenu()
 document.getElementById('loader-div').innerHTML = '<div class="loader-gif"><img id="" class="" align="center" src="/images/load_indicator_monobook.gif"> Finding '+pg+'...</div>'
  url = aurl+"/"+pg
  console.log('url',aurl)
  window.open(url,'_self')
</script>


