<style>
#pgtable{
   border-collapse:collapse;
   border:1px solid black;
   padding:20px;
}
#pgtable td{
   padding: 1px 5px;
   border:1px solid black;
}
</style>
<%- include('../../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../../partials/header_img'); %>
    <%- include('../../partials/navbar'); %>
    
    
    <div class='page-content' >

    <div class='title'>Anvio Pangenome Selection</div>

<div id='pgtable'>
<table border='1'>
<tr><th>Available Pangenomes</th><th>Description</th></tr>
<tr>
  <td><a href='#' class='pg' onclick="find_anvio('Gemella2022_07_05')">Gemella2022_07_05</a></td>
  <td>Pangenome of the genus Gemella containing all 30 available genomes from GenBank with a RefSeq equivalent by 03/02/2021.</td>
</tr>
<tr>
  <td><a href='#' class='pg' onclick="find_anvio('Mitis_Group')">Mitis_Group</a></td>
  <td>All 134 Genomes from HMT-677 (<i>Stroptococcus Mitis</i>)</td>
</tr>
<tr>
  <td><a href='#' class='pg' onclick="find_anvio('Prochlorococcus_31')">Prochlorococcus_31</a></td>
  <td></td>
</tr>
<tr>
  <td><a href='#' class='pg' onclick="find_anvio('Veillonella_Atypica')">Veillonella_Atypica</a></td>
  <td>18 genomes for <i>Veillonella atypica</> HMT-524 and associated <i>V.</> sp. refseq assemblies</td>
</tr>
<tr>
  <td><a href='#' class='pg' onclick="find_anvio('Veillonella_HMT780')">Veillonella_HMT780</a></td>
  <td>6 genomes for <i>Veillonella sp.</> HMT-780 and associated <i>V.</> sp. refseq assemblies</td>
</tr>
</table>
</div>

<br><br><span id='message'></span>
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()


function find_anvio(pg){
    // called on click of pg link
    //loader.showLoader();
    var xmlhttp = new XMLHttpRequest();
    document.getElementById('message').innerHTML = ''
    //console.log(pg)
    target = 'anvio_post'
    args = {}
    args.pg = pg;

    xmlhttp.open("POST", target, false);
    xmlhttp.setRequestHeader("Content-type","application/json");
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 ) {
         var prelimurl = xmlhttp.responseText;
         // port will be '0' if no ports left
         //var url = parseInt(result)
         console.log('Return url',prelimurl)
         
            //url = 'http://localhost:3010/anvio?pg=Prochlorococcus_31'
            //delay(result)
            window.open(prelimurl,'_blank')
          
         // }else{
//             loader.hideLoader();
//             text = "No Ports available to open Anvio`"
//             document.getElementById('message').innerHTML = result
//          }
         
      }
    };
    xmlhttp.send(JSON.stringify(args));
  }
</script>

