<% svg = JSON.parse(svg_data) %>
<html><head><title>HOMD Conserved Protein Tree</title>

<meta charset="UTF-8">
</head><body>
    <%- svg %>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
var findme = "<%= target %>"

//console.log(taxidfullname)
//$("text:contains('"+taxidfullname+"')").css({"fill": "red"}, {"background-color": "#FFFF00" })
window.scrollTo({
        top: $("text:contains('"+findme+"')").offset().top-50,
        left:0,
        behavior:'smooth'
        })
let target = $("text:contains('"+findme+"')")
//window.scrollTo(0,1200)
//console.log('t1',target[0])

//console.log('t2',target.tspan)
//$(target[0]).css({"fill": "green" });
$(target).css({"fill": "fuchsia","font-size":"120%","background-color":"gray" });
$(target).children("tspan").css({"fill": "fuchsia","font-size":"120%" });
$(target).children("text").css({"fill": "fuchsia","font-size":"120%" });
$(target).children("a").css({"fill": "fuchsia","font-size":"120%" });

</script>

</body>
</html>
 


