<% svg = JSON.parse(svg_data) %>
<html><head><title>HOMD Conserved Protein Tree</title>

<meta charset="UTF-8">
</head><body>
	<%- svg %>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script>
var otid = "<%= otid %>"
console.log(otid)
$("text:contains('"+otid+"')").css({"fill": "red"}, {"background-color": "#FFFF00" })
window.scrollTo(0, $("text:contains('"+otid+"')").offset().top-50)
</script>

</body>
</html>
 


