<% svg = JSON.parse(svg_data) %>
<html><head><title>HOMD Conserved Protein Tree</title>

<meta charset="UTF-8">
</head><body>
	<%- svg %>
<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
<script>
var otid = "<%= otid %>"
taxidfullname = 'HMT-'+("000" + otid).slice(-3);
console.log(taxidfullname)
$("text:contains('"+taxidfullname+"')").css({"fill": "red"}, {"background-color": "#FFFF00" })
window.scrollTo(0, $("text:contains('"+taxidfullname+"')").offset().top-50)
</script>

</body>
</html>
 


