<% svg = JSON.parse(svg_data) %>
<html><head><title>HOMD Ribosomal Protein Tree</title>
<meta charset="UTF-8">
</head><body>

    <%- svg %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
var findme = "<%= target %>"

//console.log(taxidfullname)
//$("text:contains('"+taxidfullname+"')").css({"fill": "red"}, {"background-color": "#FFFF00" })
window.scrollTo(0, $("text:contains('"+findme+"')").offset().top-50)


let target = $("text:contains('"+findme+"')")
$(target).css({"fill": "fuchsia","font-size":"120%","background-color":"gray" });
$(target).children("tspan").css({"fill": "fuchsia","font-size":"120%" });
$(target).children("text").css({"fill": "fuchsia","font-size":"120%" });
$(target).children("a").css({"fill": "fuchsia","font-size":"120%" });
</script>

</body>
</html>

 


