<b>Overview</b>:  Bacteria of the genus <i>Actinomyces</i> are abundant in the healthy oral microbiome,
 making up 5-10% of the cells in dental plaque.  In 2018 some species formerly considered 
 to be <i>Actinomyces</i> were reclassified into genus <i>Schaalia</i>, including several species abundant 
 on the tongue (<a href='https://www.frontiersin.org/articles/10.3389/fmicb.2018.02007/full' target='_blank'>Nouioui et al. 2018</a>).  
 Twelve oral species remain in the genus <i>Actinomyces</i> 
 include <i>A. naeslundii</i>, <i>A. oris</i>, and <i>A. graevenitzii</i>.
<br><br><b>Ecological role/importance in health and disease</b>:  <i>A. naeslundii</i> and its relatives are early 
colonizers in the dental plaque biofilm (<a href='https://doi.org/10.1128/AEM.72.4.2837-2848.2006' target='_blank'>Diaz et al. 2006</a>, 
<a href='https://doi.org/10.1099/mic.0.027706-0' target='_blank'>Dige et al. 2009</a>).  
<i>A. graevenitzii</i> is abundant in the biofilm on the tongue.  
Some species, particularly <i>A. israelii</i> and <i>A. gerencseriae</i>, are in lower abundance 
in the healthy microbiome but can cause opportunistic infections known as actinomycosis.

