<b>Overview</b>: Bacteria of genus <i>Aggregatibacter</i> are moderately abundant in the mouth, 
making up 2% or less at most oral sites except for the tongue dorsum where they are in very 
low abundance. Members of the genera <i>Haemophilus</i> and <i>Aggregatibacter</i> are closely related 
and not always cleanly distinguished using short fragments of the 16S ribosomal RNA gene.
<br><br><b>Ecological role/importance in health and disease</b>: The <i>Aggregatibacter</i> species 
most abundant in the healthy mouth are <i>A. aphrophilus</i>, <i>A. paraphrophilus</i>, <i>A. segnis</i>, 
and the unnamed <i>A. sp.</i> HMT 458. The species <i>A. actinomycetemcomitans</i> is associated with 
periodontitis, including aggressive periodontitis, and was part of the "green complex" 
of <a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. (1998)</a>. 

