<b>Overview</b>: The genus <i>Alloprevotella</i> was split from its close relative, <i>Prevotella</i>, 
in 2013 (<a href=' https://dx.doi.org/10.1099%2Fijs.0.041376-0' target='_blank'>Downes et al. 2013</a>). 
There are two named species, <i>A. rava</i> and 
<i>A. tannerae</i>, both found in the human mouth, and five unnamed human microbial taxa 
listed in eHOMD. 

<br><br><b>Ecological role/importance in health and disease</b>:
<i>Alloprevotella tannerae</i> is detected primarily in subgingival plaque and on the tonsils 
and <i>A. rava</i> on the throat and tonsils. The unnamed <i>Alloprevotella</i> sp. HMT 473 
is abundant on the keratinized gingiva, while A. spp. HMT 308 and 914 live primarily on the 
tongue, tonsils, and throat. The other unnamed species are detected only in very low abundance. 



