<b>Overview</b>: Bacteria of genus <i>Campylobacter</i> make up approximately 1 to 3% of the 
microbiota at most sites within the mouth. There are seven named and one unnamed species 
recognized in the HOMD.
<br><br><b>Ecological role/importance in health and disease</b>: Unlike many members of the 
oral microbiome, <i>Campylobacter</i> species are motile by means of flagella. <i>C. gracilis</i> is 
detected primarily in dental plaque, while <i>C. concisus</i> and <i>C. rectus</i> are more broadly 
distributed in the mouth. Three species, <i>C. gracilis</i>, <i>C. rectus</i>, and <i>C. showae</i>, are 
considered part of the "orange complex" in subgingival plaque marking part of the ecological 
succession from health toward periodontitis 
(<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>). 
Some species of 
<i>Campylobacter</i> cause infections known as campylobacterosis, but these species 
are not members of the oral microbiome.

