<b>Overview</b>:  <i>Capnocytophaga</i> are abundant in dental plaque, making up 10% of the 
community in supra- and sub-gingival dental plaque sampled from healthy people (<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>). 
They make up 1-2% of the community on tonsils and throat, and lower amounts at other oral 
sites. There are 22 species of <i>Capnocytophaga</i> in the human oral microbiome, many of which 
have not yet been formally named.  
<br><br><b>Ecological role/importance in health and disease</b>: <i>Capnocytophaga</i> are capnophilic, 
requiring high concentrations of carbon dioxide for growth; they therefore are often located 
adjacent to other bacteria such as <i>Streptococcus</i> spp. that produce CO2. The most abundant 
<i>Capnocytophaga</i> in dental plaque are <i>C. gingivalis</i>/<i>C. granulosa</i>, <i>C. leadbetteri</i>, and 
<i>C. sputigena</i>, each of which has &gt;2% mean abundance and &gt;85% prevalence in both 
supra- and sub-gingival plaque (<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>). Other, currently unnamed taxa can 
be sporadically abundant but with lower prevalence. In the subgingival plaque microbiome, 
<i>C. gingivalis</i>, <i>C. ochracea</i>, and <i>C. spuigena</i> formed part of the "green complex" together 
with <i>Eikenella corrodens</i>, <i>Campylobacter concisus</i>, and <i>Aggregatibacter actinomycetemcomitans</i> 
(<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>). 