<b>Overview</b>:  Oral members of genus <i>Corynebacterium</i> (<i>C. matruchotii</i> and <i>C. durum</i>) are 
prominent in dental plaque, where they make up 5 to 9% of the community; they are a 
minor component (&lt;0.5%) of the community at other sites in the healthy mouth. 
Other <i>corynebacteria</i> are abundant in the skin microbiome and are included in eHOMD for 
their potential importance in the nasal microbiome.
<br><br><b>Ecological role/importance in health and disease</b>: <i>C. matruchotii</i> is not 
among the earliest colonizers of the tooth surface but enters the dental plaque biofilm 
after about 24 hours of biofilm growth and maturation (<a href='https://doi.org/10.1073/pnas.1522149113' target='_blank'>Mark Welch et al. 2016</a>). 
The membranes of <i>C. matruchotii</i> nucleate the precipitation of calcium from saliva 
(<a href='https://doi.org/10.1007/s002239900443' target='_blank'>van Dijk et al. 1998</a>), which may contribute to the observation that dental plaque that 
is rich in filaments forms calculus more readily than does plaque rich in cocci 
(<a href='https://doi: 10.1902/jop.1980.51.10.553' target='_blank'>Friskopp & Hammarström 1980</a>).  <i>Corynebacterium spp</i>. are the foundational taxa in 
hedgehog structures (<a href='https://doi.org/10.1073/pnas.1522149113' target='_blank'>Mark Welch et al. 2016</a>), creating a spatial structure inhabited 
by other members of the plaque biofilm. Corynebacteria are occasionally reported as 
opportunistic pathogens in immunocompromised individuals.

