<b>Overview</b>:  Bacteria of genus <i>Fusobacterium</i> are abundant in the mouth, particularly 
in subgingival plaque, where they make up approximately 10% of the community, as well as 
in supragingival plaque and in samples from the palatine tonsils, tongue dorsum, throat, 
and saliva. Three subspecies of <i>F. nucleatum</i>, subspecies <i>animalis</i>, <i>polymorphum</i>, and <i>vincentii</i>, 
are abundant in dental plaque and the palatine tonsils, while <i>F. periodonticum</i> is abundant in 
samples from the tongue dorsum and from the tonsils, throat, and saliva.
<br><br><b>Ecological role/importance in health and disease:</b> 
In the dental plaque model of Kolenbrander and colleagues, <i>F. nucleatum</i> is considered the 
taxon that forms a bridge between early colonizers and later-colonizing periodontal pathogens 
(<a href='https://journals.asm.org/doi/10.1128/jb.175.11.3247-3252.1993' target='_blank'>Kolenbrander & London 1993, Kolenbrander et al. 2010</a>), although imaging-based evidence for 
its role as a physical bridge is lacking (<a href='https://doi.org/10.1016/j.chom.2020.07.009' target='_blank'>Mark Welch et al. 2020</a>). <i>F. periodonticum</i> and 
several subspecies of <i>F. nucleatum</i> (<i>F. nucleatum</i> subspecies <i>nucleatum</i>, <i>polymorphum</i>, and <i>vincentii</i>) 
are considered part of the "orange complex" in subgingival plaque marking part of the ecological 
succession from health toward periodontitis (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>).  

