<b>Overview</b>:  There are five species of <i>Gemella</i> in the human oral microbiome: 
<i>G. bergeri</i>, <i>G. haemolysans</i>, <i>G. morbillorum</i>, <i>G. sanguinis</i>, and G. sp. HMT 928. 
<br><br><b>Ecological role/importance in health and disease</b>: <i>Gemella</i> species reach 
their highest relative abundance on the buccal mucosa and keratinized gingiva, 
where <i>G. haemolysans</i> makes up 5-8% of the community. <i>G. sanguinis</i> makes up about 1% of 
the tongue dorsum microbiota and <i>G. haemolysans</i> and <i>G. morbillorum</i> together make up 
0.5-1% of dental plaque in healthy individuals.  <i>Gemella</i> species can be opportunistic 
pathogens; <i>G. morbillorum</i> and, less frequently, <i>G. haemolysans</i> are detected in endocarditis 
and other opportunistic infections (<a href='https://www.frontiersin.org/articles/10.3389/fmicb.2020.00524/full' target='_blank'>García López and Martín-Galiano 2020</a>). 
