<b>Overview</b>:  Bacteria of the genus <i>Haemophilus</i> are abundant in the mouth, making up 
several percent of the bacteria at most oral sites (<a href='https://doi.org/10.1186/gb-2012-13-6-r42' target='_blank'>Segata et al. 2012</a>, 
<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>). 
Members of the genera <i>Haemophilus</i> and <i>Aggregatibacter</i> are closely related and not always 
cleanly distinguished using short fragments of the 16S ribosomal RNA gene.
<br><br><b>Ecological role/importance in health and disease</b>: Of the twelve species 
recognized in HOMD, one, <i>H. parainfluenzae</i>, is by far the most abundant at most sites 
within the mouth. Several others, including <i>H. haemolyticus</i> and an unnamed H. sp. HMT 036, 
are primarily detected on the keratinized gingiva. The opportunistic pathogen <i>H. influenzae</i> 
is detected with low prevalence in healthy individuals. Other pathogens such as <i>H. aegyptius</i> 
and <i>H. ducreyi</i> are included in HOMD as reference strains although they are not generally 
detected in the healthy oral microbiome. The taxon "<i>Terrahaemophilus aromaticivorans</i>", 
formerly included in HOMD, is now considered a synonym for <i>H. parainfluenzae</i>.

