<b>Overview</b>: Bacteria of genus <i>Leptotrichia</i> are abundant in the healthy mouth, 
making up 3% or more of the bacteria in dental plaque and on the tongue, tonsils, and throat. 
Many of the species recognized in HOMD are as yet unnamed. The unnamed taxa L. sp. HMT 215 
is abundant on the tongue dorsum whereas <i>L. buccalis</i>, <i>L. hongkongensis</i>, and the 
unnamed <i>L. spp</i>. HMT 212 and 392 are abundant in dental plaque. Some species, including HMT 221 
which is abundant on the tongue dorsum, were reclassified into the genus <i>Pseudoleptotrichia</i> 
in 2020 (<a href='https://doi: 10.1099/ijsem.0.004024' target='_blank'>Eisenberg et al. 2020</a>).
<br><br><b>Ecological role/importance in health and disease</b>: <i>Leptotrichia</i> spp. are 
anaerobic or microaerophilic. In the "hedgehog" structure of dental plaque, together 
with <i>Fusobacterium</i> spp. they occupy a presumably anoxic zone in the interior of the 
structure (<a href='https://doi.org/10.1073/pnas.1522149113' target='_blank'>Mark Welch et al. 2016</a>). 
<i>Leptotrichia</i> spp. may also cause opportunistic infections.

