<b>Overview</b>:  The genus <i>Porphyromonas</i> is abundant in the healthy mouth, making up 
between 2% and 5% of the community at each site within the mouth (<a href='https://doi.org/10.1186/gb-2012-13-6-r42' target='_blank'>Segata et al. 2012</a>). 
<br><br><b>Ecological role/importance in health and disease</b>: Among the 12 oral species, 
<i>P. pasteri</i> has the broadest distribution, making up 1-4% of the total community at each 
oral site (<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>). The unnamed <i>Porphyromonas</i> sp. HMT 930 dominates on the 
keratinized gingiva and is also abundant on the buccal mucosa. The widely studied taxa 
<i>P. gingivalis</i> and <i>P. endodontalis</i> are detected with low abundance in subgingival plaque 
in healthy individuals but become more prominent in periodontitis. <i>P. gingivalis</i>, 
together with <i>Treponema denticola</i> and <i>Tannerella forsythia</i>, is part of the "red complex" 
of subgingival taxa associated with periodontitis (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998).

