<b>Overview</b>: Bacteria of genus <i>Pseudoleptotrichia</i> are abundant in the healthy mouth, 
making up about 1% of the bacteria on the tongue, tonsils, and throat. The genus was 
split from <i>Leptotrichia</i> in 2020 (<a href='https://doi: 10.1099/ijsem.0.004024' target='_blank'>Eisenberg et al. 2020</a>) 
and contains one named species, <i>P. goodfellowii</i>, and five unnamed taxa, HMT-212, 215, 217, 219, and 392.

