<b>Overview</b>:  Bacteria of the genus <i>Rothia</i> are abundant in the healthy oral microbiome, 
making up 3-10% of the bacteria in dental plaque and 1-5% of the bacteria at sites such 
as the tongue dorsum and buccal mucosa.
<br><br><b>Ecological role/importance in health and disease:</b>  
Three species of genus <i>Rothia</i> are abundant in the oral cavity: 
<i>R. aeria</i>, <i>R. dentocariosa</i>, and <i>R. mucilaginosa</i>.  
<i>R. aeria</i> and <i>R. dentocariosa</i> are found predominantly in dental plaque. 
<i>R. mucilaginosa</i> is abundant on the tongue, where it forms large patches (<a href='https://doi.org/10.1016/j.celrep.2020.02.097' target='_blank'>Wilbert et al. 2020</a>). 
All three species are capable of nitrate reduction to nitrite and therefore may 
participate in human nitric oxide homeostasis (<a href='https://doi.org/10.1111/odi.12157' target='_blank'>Hezel and Weitzberg 2015</a>, <a href='https://doi.org/10.1038/s41598-020-69931-x' target='_blank'>Rosier et al. 2020</a>).  
They can also act as opportunistic pathogens.

