<b>Overview</b>:  Bacteria of the genus <i>Schaalia</i> are abundant in the healthy mouth, 
particularly on the tongue dorsum, tonsils, and throat where they make up 3 to 6% of 
the oral microbial community.  They were formerly considered to be in genus <i>Actinomyces</i> 
and were reclassified into genus <i>Schaalia</i> in 2018 (<a href='https://www.frontiersin.org/articles/10.3389/fmicb.2018.02007/full' target='_blank'>Nouioui et al. 2018</a>).
<br><br><b>Ecological role/importance in health and disease</b>:  There are 9 species of 
<i>Schaalia</i> in the mouth, including 5 named species (<i>S. cardiffensis</i>, <i>S. georgiae</i>, <i>S. lingnae</i> 
[Not Validly Published], <i>S. meyeri</i>, and <i>S. odontolytica</i>, as well as 4 taxa that are currently 
unnamed (<i>Schaalia</i> spp. HMT 172, 178, 180, and 877).  Most of the <i>Schaalia</i> spp. detected 
in the healthy mouth in Human Microbiome Project data are members of the unnamed taxa 
<i>S. sp</i>. HMT 172 and <i>S. sp</i>. HMT 180 (<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>Eren et al. 2014</a>). <i>S. odontolytica</i> 
(formerly <i>A. odontolyticus</i>) is a member of the "purple complex" in subgingival plaque 
together with <i>Veillonella parvula</i> (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>).

