<b>Overview</b>:  Streptococci are among the most abundant bacteria in the mouth, 
making up 30-60% of the bacteria on the buccal mucosa and 15-30% of the bacteria on the 
tongue dorsum and in supragingival plaque. 
<br><br><b>Ecological role/importance in health and disease</b>: The 37 species of <i>Streptococcus</i> 
listed in HOMD include many members of the healthy commensal microbiota as well as several 
that are pathogens and one that is used to produce yogurt (<i>S. thermophilus</i>). Streptococci 
such as <i>S. mitis</i> and <i>S. gordonii</i> are among the first bacteria to colonize the tooth surface 
after it is cleaned, where they begin the process of ecological succession (<a href='https://doi.org/10.1128/AEM.72.4.2837-2848.2006' target='_blank'>Diaz et al. 2006</a>). 
<i>S. salivarius</i> is abundant on the tongue dorsum and can carry out nitrate reduction to nitrite, 
thereby participating in the physiology of its human host (<a href='https://doi.org/10.1111/odi.12157' target='_blank'>Hezel and Weitzberg 2013</a>). 
Other streptococci that are usually rare in the healthy mouth can cause disease, such as 
<i>S. mutans</i>, which is associated with dental caries, <i>S. pyogenes</i>, which causes strep throat, 
and <i>S. pneumoniae</i>, which can cause pneumonia. In the subgingival plaque biofilm, most 
streptococci are grouped into the "yellow complex", but <i>S. constellatus</i> is a member of the 
"orange complex" marking part of the ecological succession from health toward periodontitis 
(<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>).  

