<b>Overview</b>: Members of the genus <i>Tannerella</i> are moderately abundant in the oral 
microbiome, making up less than 0.5% on average of the microbiome at any oral site.  
They are close relatives of the genus <i>Porphyromonas</i> and are classified with them into 
the family Porphyromonadaceae.
<br><br><b>Ecological role/importance in health and disease</b>: <i>Tannerella</i> spp. are found 
primarily in sub- and supragingival dental plaque and in samples from the tonsils and throat. 
<i>Tannerella forsythia</i> (formerly <i>T. forsythensis</i>), together with <i>Porphyromonas gingivalis</i> and 
<i>Treponema denticola</i>, is part of the "red complex" of subgingival taxa associated with 
periodontitis (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>). 
The other members of genus <i>Tannerella</i> in HOMD have not yet been named.

