<b>Overview</b>:  Members of genus <i>Treponema</i> are abundant in subgingival plaque and 
samples from the palatine tonsils, with lower amounts detected in supragingival plaque. 
Most oral treponemes are strict anaerobes; <i>T. pallidum</i>, which causes systemic disease, 
is microaerophilic (<a href='https://doi.org/10.1128/iai.13.3.704-711.1976' target='_blank'>Baseman et al. 1976</a>). 

<br><br><b>Ecological role/importance in health and disease</b>: <i>Treponema</i> are associated 
with periodontal disease. <i>T. denticola</i>, together with <i>Porphyromonas gingivalis</i> 
and <i>Tannerella forsythia</i>, is part of the "red complex" of subgingival taxa associated 
with periodontitis (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>). <i>T. pallidum</i> is a human 
pathogen included in HOMD as a reference sequence even though it is not generally detected 
in the mouth. 
