<b>Overview</b>:  Bacteria of the genus <i>Veillonella</i> are among the most abundant bacteria 
in the healthy mouth.  They make up approximately 10% of the bacterial community on the tongue, 
tonsils, and throat and 2-4% in dental plaque and on the cheeks and gums. 
<br><br><b>Ecological role/importance in health and disease</b>: <i>Veillonella</i> spp. consume 
lactate and thrive adjacent to lactate-producing streptococci 
(<a href='https://doi.org/10.1146/annurev-micro-090817-062503' target='_blank'>Perisamy & Kolenbrander 2010</a>).  
Veillonellae such as <i>Veillonella parvula</i> are early colonizers of teeth; they cannot grow 
by themselves on saliva but they are abundant in the biofilm that forms during the 
first 4 hours on enamel in the mouth (<a href='https://doi.org/10.1128/AEM.72.4.2837-2848.2006' target='_blank'>Diaz et al. 2006</a>, <a href='https://doi.org/10.1146/annurev-micro-090817-062503' target='_blank'>Periasamy and Kolenbrander 2010</a>). 
Other species – <i>V. dispar</i>, <i>V. rogosae</i>, and <i>V. atypica</i> – are members of the tongue dorsum 
biofilm (<a href='https://doi.org/10.1016/j.celrep.2020.02.097' target='_blank'>Wilbert et al. 2020</a>, <a href='https://doi.org/10.1146/annurev-micro-090817-062503' target='_blank'>Mark Welch et al. 2019</a>). The as-yet unnamed <i>Veillonella</i> 
sp. HMT 780 is abundant on the gums.  <i>V. parvula</i> is a member of the "purple complex" in 
the subgingival biofilm together with <i>Schaalia odontolytica</i> (<a href='https://onlinelibrary.wiley.com/doi/10.1111/j.1600-051X.1998.tb02419.x' target='_blank'>Socransky et al. 1998</a>).

