The HOMD BLAST server uses <a href='https://sequenceserver.com' target='_blank'>SequenceServer</a> 
to provide local BLAST resources that employ various HOMD databases. 
You can BLAST against the HOMD <a href='/genome/blast_sserver?type=refseq'>16S rRNA RefSeq sequences</a>
 or choose to BLAST against HOMD genomes. For HOMD genomes you have the option of BLASTing against a database of 
 <a href='/genome/blast_sserver?type=genome'>all HOMD genomes combined</a>
 or choosing to BLAST against <a href='/genome/blast_select_genome'>a single HOMD genome of your choice.</a>

<br><br>Available BLAST Help Pages:
<hr>
<a href='/help/help-page?pagecode=blast/formats'>Blast Formats</a>
<br><a href='/help/help-page?pagecode=blast/databases'>Blast Databases</a>
<br><a href='/help/help-page?pagecode=blast/parameters'>Blast Parameters</a>
<br><a href='/help/help-page?pagecode=blast/programs'>Blast Programs</a>
<br><a href='/help/help-page?pagecode=blast/advanced'>Blast Advanced</a>
<br><a href='https://www.ncbi.nlm.nih.gov/books/NBK279684/' target='_blank'>NCBI BLAST® Command Line Applications User Manual (linkout)</a>

