<div style='border:1px solid black;padding:10px;margin:5px;float:right;'>
<span style='background:#c1f9a2;padding:5px 10px;'>Blast Help Menu:</span>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/blast'>BLAST Index</a>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/formats'>Blast Formats</a>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/databases'>Databases</a>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/parameters'>Parameters</a>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/programs'>Blast Programs</a>
<br>&nbsp;&nbsp;<a href='/help/help-page?pagecode=blast/advanced'>Advanced Parameters</a>
<br>&nbsp;&nbsp;<a href='https://www.ncbi.nlm.nih.gov/books/NBK279684/' target='_blank'>Link to NCBI Blast+</a>
</div>
