<div style='border:1px solid black;padding:10px;margin:5px;float:right;'>
Blast Help Menu:
<br><a href='/help/help-page?pagecode=blast/formats'>Blast Formats</a>
<br><a href='/help/help-page?pagecode=blast/databases'>Databases</a>
<br><a href='/help/help-page?pagecode=blast/parameters'>Parameters</a>
<br><a href='/help/help-page?pagecode=blast/programs'>Blast Programs</a>
<br><a href='/help/help-page?pagecode=blast/advanced'>Advanced Parameters</a>
<br><a href='https://www.ncbi.nlm.nih.gov/books/NBK279684/' target='_blank'>Link to NCBI Blast+</a>
</div>
