<%- include('../../../partials/help/blast/blast_menu'); %>
<div class='heading'>Available HOMD Databases</div>
<br><strong>For RefSeq Blast:</strong>

<br><br>eHOMD 16s rRNA RefSeq Version 15.22 (starts at pos 9)
<ol>
<li>1. eHOMD 16s rRNA RefSeq Version 15.22 (starts at pos 28)
<li>2. eHOMD 16s rRNA RefSeq Version 14.51 (starts at pos 9)
<li>3. eHOMD 16s rRNA RefSeq Version 14.51 (starts at pos 28)
<li>4. eHOMD 16s rRNA RefSeq Version 14.51 (starts at 28 trimmed at 1407 of aligned seq)
<li>5. eHOMD 16s rRNA RefSeq Version 13.2 (starts at pos 9)
<li>6. eHOMD 16s rRNA RefSeq Version 13.2 (starts at pos 28)
<li>7. Greengenes 16S rRNA Sequences (gg16S_unaligned)
<li>8. NCBI Reference RNA Sequences (refseq_rna, 1969-12-31)
<li>9. RDP 16S rRNA Sequences
<li>10. eHOMD 16s rRNA RefSeq Extended V1.1
</ol>
<br><br><strong>For Genomes Blast:</strong>

<br><br>1. Genomic DNA from all HOMD Genomes  
<br>&nbsp;&nbsp;&nbsp;&nbsp;=> Blast against the whole sequences of genomes annotated automatically by HOMD

<br><br>  2. DNA Sequences of Proteins from all HOMD Genomes

<br>&nbsp;&nbsp;&nbsp;&nbsp;=> Blast against the orfs amino acids of genomes annotated automatically by HOMD

<br><br>  3. "organism": Genomic DNA

<br>&nbsp;&nbsp;&nbsp;&nbsp;=> Blast against the whole sequence of "organism"

<br><br>  4. "organism": DNA of Annotated Proteins

<br>&nbsp;&nbsp;&nbsp;&nbsp;=> Blast against o­nly orfs amino acids of "organism"
