<%- include('../../../partials/help/blast/blast_menu'); %>
<div class='heading'><strong>Programs available for the BLAST search</strong></div>
<br>The NCBI BLAST family of programs includes:
<br><br><strong>BLASTP</strong>

<br>Compares an amino acid query sequence against a protein sequence database

<br><br><strong>BLASTN</strong>

<br>Compares a nucleotide query sequence against a nucleotide sequence database

<br><br><strong>BLASTX</strong>

<br>Compares a nucleotide query sequence translated in all reading frames against a protein sequence database

<br><br><strong>TBLASTN</strong>

<br>Compares a protein query sequence against a nucleotide sequence database dynamically translated in all reading frames
<br><br><strong>Not Available on HOMD:</strong>
<br><br><strong>TBLASTX</strong>

<br>Compares the six-frame translations of a nucleotide query sequence against the six-frame translations of a nucleotide sequence database. Please note that tblastx program cannot be used with the nr database o­n the BLAST Web page

<br><br><strong>MegaBLAST</strong>

<br>Compares a query to closely related sequences and works best if the target percent identity is 95% or more but is very fast

<br><br><strong>Discontiguous MegaBLAST</strong>

<br>Uses an initial seed that ignores some bases (allowing mismatches) and is intended for cross-species comparisons

<br><br><strong>PSI-BLAST</strong>

<br>Allows the user to build a PSSM (position-specific scoring matrix) using the results of the first BlastP run

<br><br><strong>PHI-BLAST</strong>

<br>Performs the search but limits alignments to those that match a pattern in the query

<br><br><strong>DELTA-BLAST</strong>

<br>Constructs a PSSM using the results of a Conserved Domain Database search and searches a sequence database


