<style>
.table{
  border-collapse:collapse;
  /* margin-top:20px; */
}
.table td{
  padding:10px;
  border:1px solid red;
}
.search-form{
   padding:30px;
   margin-top:20px;
}
#adv_search_text{
    border:2px solid black;
    height:35px;
    font-size:18px;
}
.search_text_anno{
    border:2px solid black;
    height:35px;
    font-size:18px;
}
.submit-button{
   background:green;
   padding:10px;
   cursor:pointer;
   margin-right:500px;
}
#submit-button-anno{
    background:orange;
}
.loader-gif{
    margin-top:200px;
}
.mid-title{
    font-size: 18px;
    font-weight:bold;
    margin-top:20px;
}
</style>
<%- include('../partials/header_html'); %>

<body>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar2'); %>
    
    <div class='page-content' >
       <p class='title h3'>Full Site Search</p>

  <div id='adv-search-form-div'>
  <form id='adv-search-form' class='search-form' method='POST' action='basic_site_search'>
      <br><span class='mid-title'>Search the Taxonomy and/or Genome Databases</span>
      <table class='table'>
      <tr><td>
        <input type='checkbox' class='tax_cb' checked id='taxonomy' name='taxonomy' value='on'  > Search Taxonomy Database&nbsp;&nbsp;&nbsp;
        
        <input type='checkbox' checked class='tax_cb' id='genomes' name='genomes' value='on'  > Search Genomes Database&nbsp;&nbsp;&nbsp;

        </td>
      </tr>
      <tr>
        <td>
          Enter Search Text: 
          <input type="text" placeholder="Search Site.." name='adv_search_text' id='adv_search_text' value='' maxlength='80' size='50' /> 
        </td>
      </tr>
      
      </table>
     
      <input type='button' class='submit-button' id='submit-button' name='submit-button' value='Submit' onclick="validate_search_form('taxNgenomes')" \>
  </form>
  
  
  
  
  <form id='adv-search-form-annotations_grep'  class='search-form' method='POST' action='advanced_site_search_grep'>  <!-- advanced_site_search_annotations -->
      <br><span class='mid-title'>Search the Annotations Database</span>
      <table class='table'>
      <tr><td>
        Searches: Genome-ID, Accession (Molecule-ID), Protein-ID, Gene and Gene Product
        </td>
      </tr>
      <tr><td>Choose:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type='radio' class='anno_cb_grep' checked id='prokka_cb_grep' name='adv_anno_radio_grep' value='prokka'  > PROKKA&nbsp;&nbsp;&nbsp;
        OR&nbsp;&nbsp;&nbsp;
      <input type='radio' class='anno_cb_grep' id='ncbi_cb_grep' name='adv_anno_radio_grep' value='ncbi'  > NCBI&nbsp;&nbsp;&nbsp;
        Annotations
        </td>
      </tr>
      <tr>
        <td>
          Enter Search Text: 
          <input type="text" class='search_text_anno' placeholder="Search Site.." name='search_text_anno_grep' id='search_text_anno_grep' value='' maxlength='80' size='50' /> 
        </td>
      </tr>
      
      </table>
     
      <input type='button' class='submit-button' id='submit-button-anno' name='submit-button' value='Submit' onclick="validate_search_form('anno_grep')" \>
      <input type="hidden" id="refreshed" value="no">
  </form>
  </div>
  
  
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
</div> <!-- end: wrapper -->
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  onload=function(){
               var e=document.getElementById("refreshed");
               if(e.value=="no")e.value="yes";
               else{e.value="no";location.reload();}
  }
  function validate_search_form(form_type){
     // validate cbs
     if(form_type == 'taxNgenomes'){
         const checkboxes = document.getElementsByClassName('tax_cb');
         var cb_count = checkboxes.length
         var checked_count = 0
         for(var i in checkboxes){
             if(checkboxes[i].checked){
                 //console.log('got one',checkboxes[i])
                 checked_count += 1
             }
         }
         if(checked_count == 0){
             alert('Must check at least one (Taxonomy or Genomes)!')
             return
         }
         // validate search_string
         var ss = document.getElementById('adv_search_text').value
         //var ss = document.querySelector('#search_textx').value;
         if(ss.length <=2){
             alert('Search string is too short (must be at least 3 characters)!')
             return
         }
           var f = document.getElementById('adv-search-form');
     
     }else{
         
         //document.getElementById('adv-search-form-annotations-div').innerHTML = '<img id="" class="loader-gif" align="center" src="/images/row-of-blocks-loader-animation.gif"> Searching'
         const checkboxes = document.getElementsByClassName('anno_cb_grep');
         var cb_count = checkboxes.length
         // var checked_count = 0
//          for(var i in checkboxes){
//              if(checkboxes[i].checked){
//                  //console.log('got one',checkboxes[i])
//                  checked_count += 1
//              }
//          }
//          if(checked_count == 0){
//              alert('Must check at least one (PROKKA or NCBI)!')
//              return
//          }
         var ss = document.getElementById('search_text_anno_grep').value
         //var ss = document.querySelector('#search_textx').value;
         if(ss.length <=2){
             alert('Search string is too short (must be at least 3 characters)!')
             return
         }
        var f = document.getElementById('adv-search-form-annotations_grep');
     }
     f.submit()
     document.getElementById('adv-search-form-div').innerHTML = '<div class="loader-gif"><img id="" class="" align="center" src="/images/load_indicator_monobook.gif"> Searching ...</div>'
  }
</script>


