<html>
	<title>HOMD New Banner Images</title>
	<body>
		<div align="center">
		<table cellspacing="40" style="font-family:sans-serif;font-size:1.2em">
			<tr><td colspan="2">New HOMD Banner Image Ideas:</td></tr>
			<tr><td>1.</td><td><img src="/images/newbanner_demo/homd_new_banner_1.png"></td></tr>
			<tr><td>2.</td><td><img src="/images/newbanner_demo/homd_new_banner_2.png"></td></tr>
			<tr><td>3.</td><td><img src="/images/newbanner_demo/homd_new_banner_3.png"></td></tr>
			<tr><td>4.</td><td><img src="/images/newbanner_demo/homd_new_banner_4.png"></td></tr>
			<tr><td>5.</td><td><img src="/images/newbanner_demo/homd_new_banner_5.png"></td></tr>
			<tr><td>6.</td><td><img src="/images/newbanner_demo/homd_new_banner_6.png"></td></tr>
			<tr><td>7.</td><td><img src="/images/newbanner_demo/homd_new_banner_7.png"></td></tr>
			<tr><td>Misc 1.</td><td><img src="/images/newbanner_demo/test1.png"></td></tr>
			<tr><td>Misc 2.</td><td><img src="/images/newbanner_demo/Untitled-2.fw.png"></td></tr>
		</table>


		</div>

	</body>
</html>
