<style>
</style>
<%- include('../partials/header_html'); %>
<style>
.dnld-block{
  
  margin:30px 0;
  border:1px solid black;
  width:70%;
  
}

.subtitle{
  background:lightgrey;
  padding:5px 10px;
  text-align:left;
}
.download-table{
  width:auto;
  text-align:center;
}
.download-table th{
  background:palegreen;
}
.download-table td{
  background:lightgrey;
  padding: 5px 20px;
  font-size:small;
}

#download-refseq-table-div {
  border:1px solid grey;
  padding:8px;
  margin-top:10px;
}
#download-refseq-table{
   border-collapse:collapse;
}

#download-refseq-table tr:hover{
   background:#ffff99;
}

#download-refseq-table td{
   border:1px solid black;
   border-collapse:collapse;
   padding:0 5px;
}
#download-refseq-table td:first-child{
   font-size:small;
}
.download-refseq-title {
   background:lightblue;
   padding 5px;
   text-align: center;
   font-weight:bold;
}
#table-note{
   font-size:10px;
}
.refseq-text{
   text-align:left;
   padding-left:10px;
   font-size:14px;
}
.rtclk{
    font-size:x-small;
}
#download-refseq-table td:nth-child(3){
   
   text-align: center;
}
#downloadMenu{
width:180px;
    height:auto;
    background:tan;
    color:#FFF;
    padding:5px 2px;
    text-align:center;
    border:1px solid grey;
    top:180px;
    position:fixed;
    float:right;
}
</style>
<a name='top'>


<body>
    <div id='wrapper'>
    <%- include('../partials/header_img'); %>
    <%- include('../partials/navbar'); %>
    
    
    <div class='page-content' >
    
    <div  class="" >
     <div  id="downloadMenu" >
      <div class="list-group">
        <a href="#top" >[top]</a>
        <br><a href="#taxon">Taxonomy data</a>
        <br><a href="#abundance">Abundance data</a>
        <br><a href="#genome">Genomic data</a>
        <br><a href="#phylo">Phylo data</a>
       <!--  <br><a href="#phage">Phage data</a> -->
        <br><a href="#refseq">16S rRNA seqs</a>
        <br><a href="#schema">Database Schema</a>
      
      </div>
     </div>
</div>           
  <div class='title'>Download HOMD Data</div>
    
<center>


<a name='taxon'>
<div id='taxon' class='dnld-block'>
  <center>
  <div class='subtitle'>Taxonomic Data::Batch Downloads</div>
  <table class='download-table'>
    <tr><th class='header'>Type</th><th class='header' colspan='3'>Formats</th></tr>
    <tr><td>Taxon Table <a href='/taxa/tax_table'>[page]</a></td>
      <td><a href='/taxa/dld_table/browser/all/[]/[]/0/0'>Tab Delimited Text<br>(View in browser)</a></td>
      <td><a href='/taxa/dld_table/text/all/[]/[]/0/0'>Tab Delimited Text<br>(Save to file)</a></td>
      <td><a href='/taxa/dld_table/excel/all/[]/[]/0/0'>MS Excel Format<br>(Save to file)</a></td>
    </tr>
 <!-- 
   
    <tr><td>Taxon Table for Legacy Comparison</td>
      <td><a href='/taxa/dld_table_for_legacy_comparison'>Tab Delimited Text<br>(View in browser)</a></td>
      <td><a href='/taxa/dld_table_for_legacy_comparison'>Tab Delimited Text<br>(Save to file)</a></td>
      <td><a href='/taxa/dld_table_for_legacy_comparison'>MS Excel Format<br>(Save to file)</a></td>
    </tr>
  
 -->  
    <tr>
      <td>Taxonomic Hierarchy <a href='/taxa/tax_hierarchy'>[page]</a></td><td><a href='/taxa/download/browser/hierarchy'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/download/text/hierarchy'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/download/excel/hierarchy'>MS Excel Format<br>(Save to file)</a></td></tr>
    <tr>
      <td>Taxonomic Level <a href='/taxa/tax_level'>[page]</a></td><td><a href='/taxa/download/browser/level'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/download/text/level'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/download/excel/level'>MS Excel Format<br>(Save to file)</a></td></tr>
  </table>
  </center>
</div>

<hr>
<a name='abundance'>
<div id='abundance' class='dnld-block'>
  <center>
  <div class='subtitle'>Abundance Data::Batch Downloads <a href='/taxa/ecology'>[page]</a></div>
  <table class='download-table'>
    <tr><th class='header'>Type</th><th class='header' colspan='3'>Formats</th></tr>
    <tr><td>Eren (v1v3)</td><td><a href='/taxa/dld_abund/browser/erenv1v3'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/dld_abund/text/erenv1v3'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/dld_abund/excel/erenv1v3'>MS Excel Format<br>(Save to file)</a></td></tr>
     <tr><td>Eren (v3v5)</td><td><a href='/taxa/dld_abund/browser/erenv3v5'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/dld_abund/text/erenv3v5'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/dld_abund/excel/erenv3v5'>MS Excel Format<br>(Save to file)</a></td></tr>
     <tr><td>Dewhirst </td><td><a href='/taxa/dld_abund/browser/dewhirst'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/dld_abund/text/dewhirst'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/dld_abund/excel/dewhirst'>MS Excel Format<br>(Save to file)</a></td></tr>
    <tr><td>Segata </td><td><a href='/taxa/dld_abund/browser/segata'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/taxa/dld_abund/text/segata'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/taxa/dld_abund/excel/egata'>MS Excel Format<br>(Save to file)</a></td></tr>
   
  </table>
  </center>
</div>

<hr>
<a name='genome'>
<div id='genome' class='dnld-block'>
  <center>
  <div class='subtitle'>Genomic Meta Information::Batch Downloads</div>
  <table class='download-table'>
    <tr><th class='header'>Type</th><th class='header' colspan='3'>Formats</th></tr>
    <tr><td>Sequence Meta Information <a href='/genome/genome_table'>[page]</a></td><td><a href='/genome/dld_table/browser/all/0/0/0/0'>Tab Delimited Text<br>(View in browser)</a></td><td><a href='/genome/dld_table/text/all/0/0/0/0'>Tab Delimited Text<br>(Save to file)</a></td><td><a href='/genome/dld_table/excel/all/0/0/0/0'>MS Excel Format<br>(Save to file)</a></td></tr>
    
  </table>
  </center>
</div>

<hr>
<a name='phylo'>
<div id='phylo' class='dnld-block'>
  <center>
  <div class='subtitle'>Phylogenetics</div>
  <table class='download-table' >
    <tr><th class='header'>Type</th><th class='header' colspan='3'>Formats</th></tr>
    <tr><td>Phylogenetic tree of HOMD 16S rRNA Reference Sequences</td>
        <td><a href="http://www.homd.org/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.svg">svg</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/refseq/current/eHOMD_16S_rRNA_RefSeq.tre'>newick</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/refseq/current/seqid_info.txt'>Sequence ID table</a></td>
    </tr>
    <tr><td>Phylogenetic tree of 16S rRNA gene sequences identified in HOMD genomes</td>
        <td><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_16S_rRNA_Tree.svg">svg</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_16S_rRNA_Tree.tre'>newick</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/seqid_info_16S.txt'>Sequence ID table</a></td>
    </tr>
    <tr><td>Phylogenomic tree based on conserved proteins identified from HOMD genomes</td>
        <td><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.svg">svg</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Genomic_PhyloPhlAn_Tree.tre'>newick</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/SEQID_info.txt'>Sequence ID table</a></td>
    </tr>
    <tr><td>Phylogenetic tree of ribosomal proteins identified from HOMD genomes</td>
        <td><a href="http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Ribosomal_Protein_Tree.svg">svg</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/eHOMD_Ribosomal_Protein_Tree.tre'>newick</a></td>
        <td><a href='http://www.homd.org/ftp/phylogenetic_trees/genome/current/SEQID_info.txt'>Sequence ID table</a></td>
    </tr>
  
  </table>
  </center>
</div>     
<!-- 

<hr>
<a name='phage'>
<div id='phage' class='dnld-block'>
  <center>
  <div class='subtitle'>Phage Data::Batch Downloads</div>
  <table class='download-table'>
    <tr><th class='header'>Type</th><th class='header' colspan='3'>Formats</th></tr>
    <tr>
      <td>Phage Table <a href='/phage/phage_table'>[page]</a></td>
      <td><a href='/phage/dld_table/browser/all/family/0/0'>Tab Delimited Text<br>(View in browser)</a></td>
      <td><a href='/phage/dld_table/text/all/family/0/0'>Tab Delimited Text<br>(Save to file)</a></td>
      <td><a href='/phage/dld_table/excel/all/family/0/0'>MS Excel Format<br>(Save to file)</a></td></tr>
    
  </table>
  </center>
</div>
 -->

<hr>
<a name='refseq'>
<div id='refseq' class='dnld-block'>

  <div class='subtitle'>Download HOMD 16S rRNA Gene Sequences</div>
<div class='refseq-text'>    
  HOMD provides two different sets of 16S rRNA Gene Reference Sequence (RefSeq) for download and BLAST search:
  <br><br>
  <pre>
  1. <b>HOMD 16S rRNA RefSeq</b>:</b> This set contains sequences representing all currently named and unnamed oral taxa.
  2. <b>HOMD 16S rRNA Extended RefSeq</b>:</b> This set contains additional16S rRNA reference gene sequences that are 
      distinctively different from existing taxa but have not yet been assigned with a taxon ID.</li>
  </pre>
  
  A phylogeny-based, high-resolution, habitat-specific training reference sequence set was constructed to achieve species/supraspecies-level taxonomic assignment to short- and long-read 16S rRNA gene-derived amplicon sequence variants (ASVs). 
  <a href='http://www.homd.org/ftp/publication_data/20190709/'>The training set sequences, together with the pipeline scripts, are available for download</a>. For detail description of the training set and the pipelines, 
  please refer to our publication <a href='https://microbiomejournal.biomedcentral.com/articles/10.1186/s40168-020-00841-w' target='_blank' >Escapa et al, 2020</a>.
    <br><br>
  In addition, the entire collection of all cloned sequences (clonal collection) upon which the Refseq was derived from, is also provided for download on this page and on the <a href='http://www.homd.org/ftp/'>HOMD FTP site</a>.
</div>

<div id='download-refseq-table-div'>
<small>[<a href='/help/help-page?pagecode=refseq/refseq_version'>View Version History</a>]</small>


<table id='download-refseq-table' border='1'>
<tr><th>Date</th>  <th>Version Name</th>  <th></th> </tr>

<tr class='download-refseq-title' ><td class='download-refseq-title' colspan='2'></a>HOMD 16S rRNA RefSeq *</td><td><span class='rtclk'>Right-click to download<br>or click to open</span></td> </tr>
<tr><td>2021-02-09</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.fasta' >eHOMD 16S rRNA RefSeq Version 15.22 (Starts from position 28)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.fasta' >[Download]</a></td></tr>
<tr><td>2021-02-09</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.p9.fasta' >eHOMD 16S rRNA RefSeq Version 15.22 (Starts from position 9)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.p9.fasta' >[Download]</a></td></tr>
<tr><td>2017-11-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.fasta' download='homd_V15.1.fasta'>eHOMD 16S rRNA RefSeq Version 15.1 (Starts from position 28)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.fasta'>[Download]</a></td></tr>
<tr><td>2017-11-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.p9.fasta' download='homd_V15.1_p9.fasta'>eHOMD 16S rRNA RefSeq Version 15.1 (Starts from position 9)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.p9.fasta'>[Download]</a></td></tr>
<tr><td>2017-01-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.fasta' download='homd_V14.51.fasta'>HOMD 16S rRNA RefSeq Version 14.51 (Starts from position 28)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.fasta'>[Download]</a></td></tr>
<tr><td>2017-01-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.p9.fasta' download='homd_V14.51_p9.fasta'>HOMD 16S rRNA RefSeq Version 14.51 (Starts from position 9)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.p9.fasta'>[Download]</a></td></tr>
<tr><td>2016-03-29</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.fasta' download='homd_V14.5.fasta'>HOMD 16S rRNA RefSeq Version 14.5 (Starts from position 28)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.fasta'>[Download]</a></td></tr>
<tr><td>2016-03-29</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.p9.fasta' download='homd_V14.5_p9.fasta'>HOMD 16S rRNA RefSeq Version 14.5 (Starts from position 9)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.p9.fasta'>[Download]</a></td></tr>
<tr><td>2013-05-08</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.fasta' download='homd_V13.2.fasta'>HOMD 16S rRNA RefSeq Version 13.2 (Starts at position 28)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.fasta'>[Download]</a></td></tr>
<tr><td>2013-05-08</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.p9.fasta' download='homd_V13.2_p9.fasta'>HOMD 16S rRNA RefSeq Version 13.2 (Starts at position 9)</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.p9.fasta'>[Download]</a></td></tr>
<tr><td>2013-03-25</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.fasta' >HOMD 16S rRNA RefSeq Version 13.0</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.fasta' >[Download]</a></td></tr>
<tr><td>2013-01-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V12.fasta' >HOMD 16S rRNA RefSeq Version 12.0</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V12.fasta' >[Download]</a></td></tr>
<tr><td>2012-02-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V11.fasta' >HOMD 16S rRNA RefSeq Version 11.0</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V11.fasta' >[Download]</a></td></tr>
<tr><td>2010-02-08</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V10.1.fasta' >HOMD 16S rRNA RefSeq Version 10.1</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V10.1.fasta' >[Download]</a></td></tr>
<tr><td>2009-02-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V10.fasta' >HOMD 16S rRNA RefSeq Version 10</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V10.fasta' >[Download]</a></td></tr>

<tr><td class='download-refseq-title' colspan='3'>HOMD 16S rRNA Extended RefSeq *</td> </tr>
<tr><td>2010-02-19</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Extended_RefSeq/HOMD_16S_rRNA_RefSeq_Extended_V1.1.fasta' >HOMD 16S rRNA RefSeq Extended Version 1.1</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Extended_RefSeq/HOMD_16S_rRNA_RefSeq_Extended_V1.1.fasta' >[Download]</a></td></tr>
<tr><td>2009-02-25</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Extended_RefSeq/HOMD_16S_rRNA_RefSeq_Extended_V1.fasta' >HOMD 16S rRNA RefSeq Extended Version 1</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Extended_RefSeq/HOMD_16S_rRNA_RefSeq_Extended_V1.fasta'>[Download]</a></td></tr>

<tr><td class='download-refseq-title' colspan='3'>HOMD 16S rRNA Gene Sequence Clonal Collection</td> </tr>
<tr><td>2010-02-07</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Gene_Sequence_Clonal_Collection/HOMD_16S_rRNA_Gene_Sequence_Clonal_Collection_V1.fasta'>HOMD 16S rRNA Gene Sequence Clonal Collection Version 1</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_Gene_Sequence_Clonal_Collection/HOMD_16S_rRNA_Gene_Sequence_Clonal_Collection_V1.fasta'>[Download]</a></td></tr>

<tr><td class='download-refseq-title' colspan='3'>eHOMD 16S rRNA training sequence sets</td> </tr>
<tr><td>2018-12-03</td><td><a href='http://www.homd.org/ftp/publication_data/20190709/eHOMDv15.1_FL_Compilation_TS.fa.gz' >eHOMD 16S rRNA full-length training set</a></td>
    <td><a href='http://www.homd.org/ftp/publication_data/20190709/eHOMDv15.1_FL_Compilation_TS.fa.gz' >[Download]</a></td></tr>
<tr><td>2018-12-03</td><td><a href='http://www.homd.org/ftp/publication_data/20190709/eHOMDv15.1_V1V3_Supraspecies_TS.fa.gz' >eHOMD 16S rRNA V1V3 training set</a></td>
    <td><a href='http://www.homd.org/ftp/publication_data/20190709/eHOMDv15.1_V1V3_Supraspecies_TS.fa.gz' >[Download]</a></td></tr>
<tr><td></td><td><a href='http://www.homd.org/ftp/publication_data/20190709/'>Other training set related files [link to FTP site]</a></td>
    <td><a href='http://www.homd.org/ftp/publication_data/20190709/' target='_blank'>[Link Out]</a></td></tr>

<tr><td class='download-refseq-title' colspan='3'>Other Download Formats</td> </tr>
<tr><td>2021-02-09</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.aligned.fasta'>eHOMD 16S rRNA RefSeq Version 15.22 Aligned FASTA File</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.aligned.fasta'>[Download]</a></td></tr>
<tr><td>2021-02-09</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.mothur.taxonomy'>eHOMD 16S rRNA RefSeq Version 15.22 Taxonomy File for MOTHUR</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.mothur.taxonomy'>[Download]</a></td></tr>  
<tr><td>2021-02-09</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.qiime.taxonomy'>eHOMD 16S rRNA RefSeq Version 15.22 Taxonomy File for QIIME</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.22/HOMD_16S_rRNA_RefSeq_V15.22.qiime.taxonomy'>[Download]</a></td></tr>
<tr><td>2017-11-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.aligned.fasta'>eHOMD 16S rRNA RefSeq Version 15.1 Aligned FASTA File</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.aligned.fasta'>[Download]</a></td></tr>
<tr><td>2017-11-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.mothur.taxonomy'>eHOMD 16S rRNA RefSeq Version 15.1 Taxonomy File for MOTHUR</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.mothur.taxonomy'>[Download]</a></td></tr>
<tr><td>2017-11-16</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.qiime.taxonomy' >eHOMD 16S rRNA RefSeq Version 15.1 Taxonomy File for QIIME</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V15.1.qiime.taxonomy' >[Download]</a></td></tr>
<tr><td>2017-01-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.aligned.fasta' >HOMD 16S rRNA RefSeq Version 14.51 Aligned FASTA File</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.aligned.fasta' >[Download]</a></td></tr>
<tr><td>2017-01-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.mothur.taxonomy' >HOMD 16S rRNA RefSeq Version 14.51 Taxonomy File for MOTHUR</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.mothur.taxonomy' >[Download]</a></td></tr>
<tr><td>2017-01-03</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.qiime.taxonomy' >HOMD 16S rRNA RefSeq Version 14.51 Taxonomy File for QIIME</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.51.qiime.taxonomy' >[Download]</a></td></tr>
<tr><td>2016-03-29</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.aligned.fasta' >HOMD 16S rRNA RefSeq Version 14.5 Aligned FASTA File</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.aligned.fasta' >[Download]</a></td></tr>
<tr><td>2016-03-29</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.mothur.taxonomy' >HOMD 16S rRNA RefSeq Version 14.5 Taxonomy File for MOTHUR</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.mothur.taxonomy' >[Download]</a></td></tr>
<tr><td>2016-03-29</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.qiime.taxonomy' >HOMD 16S rRNA RefSeq Version 14.5 Taxonomy File for QIIME</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V14.5.qiime.taxonomy' >[Download]</a></td></tr>
<tr><td>2013-05-08</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.aligned.fasta' >HOMD 16S rRNA RefSeq Version 13.2 Aligned FASTA File</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.aligned.fasta' >[Download]</a></td></tr>
<tr><td>2013-05-08</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.qiime.fasta'>HOMD 16S rRNA RefSeq Version 13.2 FASTA File in QIIME Format</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.qiime.fasta'>[Download]</a></td></tr>
<tr><td>2014-09-11</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.mothur.fasta' >HOMD 16S rRNA RefSeq Version 13.2 FASTA File for mothur</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.mothur.fasta' >[Download]</a></td></tr>
<tr><td>2014-09-11</td><td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.mothur.taxonomy'>HOMD 16S rRNA RefSeq Version 13.2 Taxonomy File for mothur</a></td>
    <td><a href='http://www.homd.org/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/HOMD_16S_rRNA_RefSeq_V13.2.mothur.taxonomy'>[Download]</a></td></tr>

</table>
</div>  
  
<div id='table-note'> 
* These sequences are corrected consensus sequences. Many have been corrected and extended based on alignment with other sequences for that taxon and Ns and indels removed. Therefore, for many sequences, there will be differences between the Reference Sequence and the GenBank sequence listed in the header information. 
We have not yet updated our own GenBank sequences, and can not update those from other depositors. We believe these are currently the best reference sequences available, and for the purposes of BLAST analysis, have the advantage of being of a uniform length.  
</div>
  
<a name='schema'>
<div id='schema' class='dnld-block'>
  <center>
  <div class='subtitle'>HOMD Database Schema</div>
  <table class='download-table'>
    
    <tr>
      <td>
         <a href='images/HOMD_SQL_Schema.pdf' target='_blank'>Open Schema Diagram (pdf)</a>
      </td>
    </tr><tr>
      <td>
      <a href='homd-schema.sql' target='_blank'>Download Schema Text</a>

      </td>
     </tr> 
      
    
  </table>
  </center>
</div>  

</div>
</center>
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../partials/footer'); %>
    </div>
       
</body>

</html>

<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script> 
<script type="text/javascript" src="/js/menu.js"></script>
<script>
  mainmenu()
  
</script>


