<style>
body{
  background:grey;
}
#homd_banner{
text-align:center;
}
#homd_logo_img{
  border:1px solid black;
}
</style>

<%- include('../partials/header_html'); %>
<body>
    <center><span id='homd_banner'><img id='homd_logo_img' width='1300' src='/images/homd01.png' alt='HOMD Banner'  \></span>
       </center>
</body>

</html>

