<%- include('../../partials/header_html'); %>

<style>
</style>
<body>
  <div id='wrapper'>		
	    
	    
	<div id='header'>
       <%- include('../../partials/header_img'); %>
    </div>

	<%- include('../../partials/navbar'); %>
	
	<div class='page-content'>
		<div class='jumbotron'>  					
			 <center><h4 class='title text-info'>CONTENT</h4></center>
		</div>
	
    </div> <!-- end: page-content -->
    
    <div id='footer'>
         <%- include('../../partials/footer'); %>
    </div>
       
   
  </div> <!-- end wrapper -->
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>



