<div class='helptitle'>16S rRNA alignment</div>
<div class='help_content'>
HOMD provides the clone sequences preliminarily aligned to the reference sequence to which the clones belong. These alignments were generated automatically by computer and were not examined mannually. Thus we do not recommend to tree the clones using the preliminary alignment provided here. Careful examination and adjustment of the alignment should be done before they are used for constructing the phylogentic trees for the clones.
<br><br>
The clone alignments are provided in Clustal format with the reference sequence(s) o­n top and used as the template for alignment. To view the aligment in color format and for further adjustment, third-party alignment viewing software may be used:
<br><br>
SeqView: <a href='http://pbil.univ-lyon1.fr/software/seaview.html' target='_blank'>http://pbil.univ-lyon1.fr/software/seaview.html</a>
<br>BioEdit: <a href='http://www.mbio.ncsu.edu/BioEdit/bioedit.html' target='_blank'>http://www.mbio.ncsu.edu/BioEdit/bioedit.html</a>
</div>