<div class='helptitle'>Contact Us</div>
<div class='help_content'>
<br>
For generic HOMD information please send email to:
Dr. Floyd Dewhirst at fdewhirst@forsyth.org
<br><br>
For general biological information or questions please send queries to:
Dr. George Tsute Chen at tchen@forsyth.org
<br><br>
For taxonomy or genomics specific question:
Please contact Dr. Floyd Dewhirst at fdewhirst@forsyth.org
<br><br>
Report bugs and problems regarding the web site, tools and database to:
Dr. George Tsute Chen at tchen@forsyth.org
</div>