<div class='helptitle'>Strains and DNA Availability</div>
<div class='help_content'>

Cultures and genomic DNA of the strains sequenced in the Human Microbiome Project are available from the BEI Resources (Biodefense & Emerging Infections Research Resources Repository):

http://www.beiresources.org/tabid/716/stabid/75/PathogenLinkID/54/Default.aspx

The Human Microbiome Project information page o­n BEI is at:

http://www.beiresources.org/About/HumanMicrobiomeProject/tabid/625/Default.aspx
</div>


