<div class='helptitle'>Genome Tables</div>

<div class='help_content'>
This article explains the features and headings of the tables that list the human oral microbial genomes in various categories. For the overview and definition of different categories of the HOMD Genomes 
please refer to the article <a href='/help/template?menu=help_genomes&page=homd&new=1'>"The Human Oral Microbial Genomes in HOMD"</a>.
<br><hr><br>

Below is the screen shot of a sample table that lists the genomes of oral microbial taxa with the sequencing status and links to relevant genomics tools and information. Features of this table are explained below according to the highlighted numbers. Variations of this table may be used for different categories of the genome lists, depending o­n the relevance of the information.
<img src='/images/Genome_Table.gif' alt='' width='870' \>
<br><br>
1) Previous page: Click o­n this will presumably bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page that you were visiting.
<br><br>
2) Navigate by phylum: Clicking to select o­ne of phylums from this option box will show all the genomes in this phylum.
<br><br>
3) Navigate by alphabet: Click each letter will show o­nly those genomes with the Genus name begging with that letter. The letter is grayed out if none of the genus starts with that letter.
<br><br>4) Search Genome: To quickly find a genome by a keyword or a set of keywords. When o­nly a single keyword is provided, the search will match both whole partially to the keyword (e.g., provide "bifido" will match both "Bifidobacterium" and "Pseudobifidobacterium"). When multiple keywords are provided, the search will o­nly match whole words. Search is default to look in all fields but can be limited to o­nly single field.
<br><br>5) Display filtered by Sequencing Status: The number of genomes to be displayed per page can be selected here; when viewing the genome under the category "All HOMD Genomes" you have the additional screening options: you can view "all" genomes, or genomes with any of the following status: pending, incomplete, in progress, WGS (in whole genome shotgun sequencing stage), high coverage, or completed.
<br><br>6) Display filtered by Annotation: Clicking to select the group of genomes based o­n annotation status: HOMD (dynamic) + Static, Static o­nly, HOMD (dynamic) o­nly, Sequence o­nly and None.
<br><br>7) Total record found in database: This shows the number of records found (if you have perform a keyword search or navigate by alphabet); or the total number of the genomes in the corresponding category (e.g., genomes annotated at HOMD; genomes annotated elsewhere; genomes in progress etc)
<br><br>
8) the genome table: Names/headers of each column (field) are explained below:
<br><br>
Oral Taxon ID: This is the taxon ID used in the HOMD Taxonomy Database; The ID is linked and clickable to the Taxon Description Page.

Genus, Species and Strain/Culture Collection: Formal nomenclature names are shown here if available; for the unnamed oral taxa defined o­nly in HOMD, a putative name will be provided here as well.

SEQ ID: In HOMD each individual genome will have a unique SEQ ID (sequence ID). For example, if two different strains of the same species have been sequenced, they will have different SEQ ID. Even if at times, the same strain of the same species have been sequenced separately, to distinguish the difference of the sequencing results (for example, they have different coverage), different SEQ ID will still be assigned to these two sets of sequences. The o­nly exception is that when the sequences are identical (for example, two different institute completely sequenced the same strain and the sequences are identical) they will share the same SEQ ID. Sometime the same bacterial strain maintained in different conditions in different laboratories may have undergone significant genomic changes. In this case the sequencing result can be different even after completion of the sequencing project. For example, SEQF1060 is associated with the genome survey performed at The Forsyth Institute for Treponema lecithinolyticum strain OMZ 684T. The set of sequences produced by the laboratory of Dr. Chris Wyss whom isolated this bacteria should get another SEQ ID to comply to this database structure.

No. of contigs and singles and Combined length (Kbp): provided if information available. In HOMD contigs are the sequence entities assembled from single sequence reads (singletons).

Tools & Links: HOMD provides useful bioinformatics tools for most of the oral microbial genomes; if a specific tool is not available for a particular genome, the tool botton will be gray-out (in gray color) and not clickable. Each of the tools is listed/explained below:
<br><br>
9) Dynamic Annotation: Automatic frequently updated annotation of this genome; detail documentation is provided in this article.
<br><br>
10) Static Annotation: the NCBI annotation of this genome; detail documentation is provided in this article.
<br><br>11) Genome Viewer: Graphical sequence viewer and navigator for this genome; detail documentation is provided in this article.
<br><br>
12) BLAST: BLAST against this genome; detail documentation is provided in this article.
<br><br>
13) Others: Other genomic tools or information available for this genome; clicking this button will show a sub-menu listing the following tool links: KEGG (KEGG metabolic pathway prediction) and GO (Gene o­ntology functional prediction). Please follow the links provided above in this paragraph for detail documentation of each tool.
<br><br>
14) Seq Meta Info: Information regarding the sequenced strain if available; detail documentation is provided in this article.
<br><br>
15) Taxon Desc: Links to the Taxon Description page; detail documentation is provided in this article.
<br><br>
16) Export Entire Table: Clicking to download the entire genome table in Excel format.
</div>