<div class='helptitle'>Guide to the HOMD Home Page</div>

<div class='help_content'>
This is the user's guide for the HOMD home page o­nly. To learn more about the features of the HOMD Help documentation in general, please follow this 
link: <a href='/help/template?menu=help_overview&page=features&new=1'>Features of the HOMD Help Documentation</a>

The HOMD Home page (Page ID: HP1) is the entry page to all the HOMD tools and databases. Structurally, the home page is comprised of the following parts:
<br><br>
<strong>I. The Top Banner</strong>
<br>
One useful feature throughout the HOMD web pages is that you can go back to HOMD Home Page simply by clicking the top banner. The top banner shown o­n any page other than home page is actually smaller. This is to save some desktop space for showing more requested information.

<br><br>
<strong>II. The Top Navigation Bar</strong>
<br>
<img src='/images/header.png' alt='' width="870px"  >
<br>
Located right below the Top Banner, the Top Navigation Bar is accessible throughout all the HOMD pages. The Top Navigation Bar was programmed in JavaScript so the web browser's JavaScript function must be enabled to show this dynamic menu bar. To see the sub-menus move your mouse pointer over (mouse-over) o­n top of each menu item and the sub-menus (if there is any) will pop-down. Clicking o­n the sub-menu will bring you to the corresponding pages. If you don't see the sub-menus or the entire top navigation menu doesn't show up at all, please check the Javascript capability of your web browser software. This HOMD has been designed to be compatible with most commonly used web browsers such as Microsoft Internet Explorer, Netscape, Safari (Apple), and Firefox. We suggest the use o­ne of these popular web browser software to ensure the functionalities of HOMD web pages and tools. 

The Top Navigation Bar provides the assess points for all the HOMD's tools and information. It has the following main menus:
<br><br>
<strong>1. HOME</strong>
<br>
Clicking this menu will lead back to the top (home) page. Underneath there are three log-in related sub-menus:

"Login", "Register", and "Lost Password" (if not logged in) or

"Logout/Exit", and "Change Password" (if logged in)

All the HOMD information are publicly viewable without having to log in or acquiring an user account. The log-in function is mainly for the purpose of maintaining the web site and the curation of the database information.

If you have been designated a curator, you will see additional administrative sub menus under the HOME menu, depending o­n the curator roles.

If a user is not logged in, this item will show "Login". Clicking the Login item will receive a login screen. Upon logged in, the right side of the navigation bar will show the text "logged in as: XXXX" where XXXX is the user account name.

The HOMD user registration system is automatically managed by the PostNuke User module system. Any person over age 13 is allowed to register and a temporary password will be sent to the provided email address. An email address can o­nly be used to register for o­ne account. If you forget your password or are not sure whether your email address has been registered, you can reset the password associated with an email address by clicking the "Lost Password" sub menu. A temporary password will be sent to your email account. o­nce logging in with the temporary password, you can then change your password to your liking by clicking the "Change Password" sub menu.

Main menus 2-6 are listed below and are explained in separate articles. You can click the menu title below to view the corresponding articles:
<br><br>
<strong>2. Taxon Description</strong>
<br><br>
<strong>3. Identify 16S rRNA Sequence</strong>
<br><br>
<strong>4. Genomes</strong>
<br><br>
<strong>5. Tools & Download</strong>
<br><br>
<strong>6. HOMD Information</strong>
<br><br>
<strong>7. How to Use This Page (Dynamically shown)</strong>
<br>
Depending o­n tools and pages, an additional menu "How to Use This Page" may show up dynamically at the right side of the Top Navigation Bar. Clicking o­n this menu will bring you to the Help Documentation corresponding to the tools that you are using.
<br><br>
<strong>8. Page ID (Dynamically shown)</strong>
<br>
Depending o­n the tools and interfaces that you are currently using, this part of the menu will dynamically show a short page ID for that type of tools/interface in use. This page ID is convenient when you need to refer to a particular page that you are using for communication, discussion or bug report. If you have any question or find a problem using a particular tool of HOMD, please contact the HOMD team by describing the issue/problem and this page ID.
<br><br>
<strong>9. User Name (if logged in)</strong>
<br>
If you have a user account and have logged in with a user name, the user name will be shown here to indicate your user status.
<br><br>
<strong>III. Left Menu</strong><br>
<img src='/images/left_menu.png' alt='' width="400">
<>	The Left Menu is o­nly shown o­n the home page and has the same structure as the Top Navigation Bar (from Menu 2-6 as described above). The "HOMD JBrowse Viewer" and "BLAST Against HOMD Genomes" menu is expandable but by default collapsed. To view the sub-menus click o­n this menu item and all the sub menus will show up.
<br>
<strong>IV. Center Box</strong>
<br>
The center portion of the home page summarizes the HOMD project and lists the investigators as well as the contributors.
<br>
<strong>V. Top-right Box - Search HOMD</strong>
<br>
The search box located o­n the home page provides a meta (cross-database) search tool that quickly searches the keyword that you provide in the three primary databases: the Taxonomy Database, The Genomes Database and the Documentation. The search result will be shown in a table with number of items matched (e.g., taxa, genomes, articles). This gives you a quick overview of where the information of interest is. Following the links provided in the table will bring you to the specific page with detail information. The search is capital insensitive and both partial and whole-word matches will be listed. The search in the taxonomy and genomic database is limited o­nly but to all the four fields: taxon ID, genus and species names, and the cultural collection IDs (e.g., strain names if available).
<br>
<strong>VI. Middle-right Box - Announcement</strong>
<br>
The announcements will be list chronically in this box.
<br>
<strong>VII. Lower-rigth Box - Database Update</strong>
<br>
HOMD provides frequently updated taxonomic and genomic information. The updates are primarily done automatically by the computer servers. These routine automatic database updates will be shown in this box.

</div>

