<div class='helptitle'>Taxonomic Hierarchy</div>
<div class='help_content'>
<small>For the generic description of the HOMD taxonomy database, please follow this link to the article - the 
<a href='/help/template?menu=help_taxon&page=intro&new=1'>Introduction to the HOMD Taxonomy Database</a></small>
<br><br><hr><br>

Below is the description of how to use the Taxonomic Hierarchy page


The human oral microbial taxa are also arranged in the taxonomic hierarchy, i.e., from domain, phylum, class, order, family, genus, to species levels. 
The hierarchical tree is fully expanded by default and can be collapsed at any given level. 
The link, at the species level, brings you to the detail <a href='/help/template?menu=help_taxon&page=tdescription&new=1'>Taxon Description page</a>. 
The designation of each level is followed by three number enclosed in the square brackets, for example:
<br><br>
<span style=''>Phylum <b>Proteobacteria</b> [99, 121, 48]</span>
<br><br>
in which the number are [ species, strains, sequenced strains] respectively. The above example indicates that in the phylum "Proteobacteria" 
there are 99 human oral microbial species (the HOMD taxa are defined at the Species level), 121 oral microbial strains (sequenced or not), 
and 48 strains with genomic sequences (partial or full) available. 
<span style='color:red'>Please note that, while the species number (99 in the above case) 
is the total sum of unique and distinct species, the total strain number (121) and sequenced strain number (48) may be the sum of multiple 
strains of the same species, or the sum of multiple genomic sequences for the same strain. </span>
This complication is due to the fact that some organisms, even of the same strains, may be sequenced by different group and thus there are different versions of the genomic sequences available even for the same strain.
</div>