<div class='helptitle'>HOMD JBrowse Genome Viewer</div>
<div class='help_content'>
HOMD JBrowse Genome Viewer is built based o­n JBrowse (<a href='http://jbrowse.org' target='_blank'>http://jbrowse.org</a>) - a fast, embeddable genome browser built completely with JavaScript and HTML5, with optional run-once data formatting tools written in Perl. 

<img src='/images/jbrowse.gif' alt='' width="870px"  >

<b>Features:</b>
<ol>
<li>Fast, smooth scrolling and zooming. Explore your genome with unparalleled speed.
<li>Scales easily to multi-gigabase genomes and deep-coverage sequencing. It has convenient viewing options including zooming, mouse navigation, clickable and searchable annotation.
<li>Multiple annotation sources in different panels: HOMD dynamic annotation, NCBI, LANL Oralgen, etc.
<li>Whole genome or nucleotide level view with 6 frame translation.
<li>Upload custom mapping and annotation data such as gene annotation, NGS sequence mapping, RNAseq mapping.
<li>Upload user’s own reference genome sequences (HOMD Unique Feature).
<li>Supports GFF3, BED, FASTA, Wiggle, BigWig, BAM, VCF (with tabix), REST, and more.  BAM, BigWig, and VCF data are displayed directly from chunks of the compressed binary files, no conversion needed.
</ol>
<b>Browser Compatibility:</b>       
The latest release of JBrowse is tested to work with the following web browsers: 
<ul>
<li>Mozilla Firefox (10 and later) 
<li>Google Chrome (17 and later)
<li>Apple Safari (5 and later, 6 required for BAM, BigWig, VCF+Tabix) 
<li>Microsoft Internet Explorer (9 and later, 10 required for BAM, BigWig, VCF+Tabix)
</ul>
</div>