<div class='helptitle'>Taxonomic Level</div>
<div class='help_content'>
<small>For the generic description of the HOMD taxonomy database, please follow this link to the article - the 
<a href='/help/template?menu=help_taxon&page=intro&new=1'>Introduction to the HOMD Taxonomy Database</a></small>
<br><br><hr><br>
Below is the description of how to use the Taxonomic Level page
The Taxonomic Level (Page ID: TL1) is the hierarchical view of all the human oral microbial taxa defined and curated by HOMD. A screen shot of this page with referencing numbers used in the explanation is show below:
<br><br>
<img src='/images/taxon_level.gif' alt='' width="600">
<br><br>
<strong>1) Previous page:</strong> Clicking o­n this will presumably bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page.
<br><br>
<strong>2) Taxonomic Level:</strong> Clicking the taxonomic level to display corresponding list and taxon counts.
<br><br>
<strong>3) Total records found in the database:</strong> is shown here. 
<br><br>
<strong>4) Taxon table:</strong>
<br><br>
Up Pointer: The upper level taxonomic name for current taxonomic level.
<br>
(Level) List:  The taxonomic names of current taxonomic level
<br>
Taxon count in this (Level): is shown here. 
</div>