<div class='helptitle'>Taxonomic Level</div>
<div class='help_content'>
For the generic description of the HOMD taxonomy database, please follow this link to the article - 
the <a href='/help/template?menu=help_taxon&page=intro&new=1'>Introduction to the HOMD Taxonomy Database</a>
<hr>
Below is the description of how to use the Taxonomic Level page
The Taxonomic Level (Page ID: TL1) is the hierarchical view of all the human oral microbial taxa defined and curated by HOMD. A screen shot of this page with referencing numbers used in the explanation is show below:



1) Previous page: Clicking o­n this will presumably bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page.

2) Taxonomic Level: Clicking the taxonomic level to display corresponding list and taxon counts.

3) Total records found in the database: is shown here. 

4) Taxon table:

Up Pointer: The upper level taxonomic name for current taxonomic level.
(Level) List:  The taxonomic names of current taxonomic level.
Taxon count in this (Level): is shown here. 
</div>