<div class='helptitle'>HOMD Mailing List</div>
<div class='help_content'>
To receive the HOMD announcements and updates such as the addition of new genomic sequence annotation, you can subscribe to the HOMD Mailing List by simply sending a blank email to this address:

homd-mail+subscribe@googlegroups.com

If you have subscribed to the mailing list and wish to unsubscribe, simply send a blank email to:

homd-mail+unsubscribe@googlegroups.com

Both subscription and unsubscription can also be done o­nline at the HOMD mailing list web site

Note that this mail list is intended for the announcements made by HOMD o­nly and thus will not accept user's posts.
</div>
