<div class='helptitle'>3-1] Sequence Meta Information</div>
<div class='help_content'>
The Sequence Meta Information page provides detail biological, molecular biological, genetic, genomic and taxonomic as well as annotation information about the particular strain that has been, is being, or will be sequenced. 
Below is a screen shot of the Sequence Meta Information page with reference number for detail information:


<img src='/images/seq_meta_info.png' alt='' width="870px"  >
<br><br>
1) Previous page: Click o足n this will presumably bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page that you were visiting.
<br><br>
2)  Info available in HOMD database:This table lists all the information curated automatically by the server or manually by the HOMD team. This information is o足nly for the sequenced strain presented.
<br><br>
3)  Info available in NCBI Genome Project database: This table lists all the information regarding the sequencing strain that was automatically extracted from the NCBI Genome Project database. If no information is available for this strain, this table will not be shown. Detail field definitions can be found by clicking the "?" help icon.
<br><br>
4)  Info available in NCBI Taxonomy database: This table lists all the information regarding the sequencing strain that was automatically extracted from the NCBI Taxonomy database. If no information is available for this strain, this table will not be shown.
<br><br>
5)  Info available in Genomes O足nline database: This table lists all the information regarding the sequencing strain that was automatically extracted from the Genomes O足nline database. If no information is available for this strain, this table will not be shown.
<br><br>
6)  Info available in JCVI CMR database: This table lists all the information regarding the sequencing strain that was automatically extracted from the JCVI CMR database. If no information is available for this strain, this table will not be shown.
<br><br>
7)  rRNA available in NCBI Nucleotide database: This table lists all the ribosomal RNA sequences information of the sequencing strain in the NCBI Nucleotide database. If no information is available for this strain, this table will not be shown. The rRNA sequences listed can be downloaded in FASTA format by clicking the "FASTA rRNA Seq" button.

</div>
