<div class='helptitle'>3-2] NCBI Table Fields Description</div>
<div class='help_content'>
Gram stain The gram stain is o­ne of the oldest methods used to differentiate bacterial cells and was developed by Christian Gram in 1884, for which the procedure is named. The process is based o­n a staining procedure that results in either a positive or negative stain being observed. Gram positive bacteria are o­nes which have a cytoplasmic membrane surrounded by a peptidoglycan layer. Gram negative bacteria have an additional outer membrane outside of the cytoplasmic membrane and peptidoglycan layer. This field is a controlled vocabulary of either "positive", "negative", or null, if no gram stain has been performed o­n the organism or no information about the staining results are known.
Shape The shape field consists of uncontrolled vocabulary that describes the basic cellular shape of the organism. Examples include, coccoid (spherical), rod-shaped, or spiral-shaped.
Arrangement  Arrangement describes whether the organism exists solitarily, or whether it can be found in groups of 2 or more cells. The vocabulary for this field is uncontrolled. For example certain bacteria, such as the cyanobacteria, form filamentous structures consisting of undifferentiated (phototrophic) cells punctuated by a differentiated (nitrogen-fixing) cell.
Endospores This field consists of a controlled vocabulary of "yes" if the organism produces endospores, no if it does not, or null if unknown. Many important organisms produce endospores during times of environmental stress, allowing them to persist until more favorable conditions develop. For example, the anthrax bacterium, Bacillus anthracis, produces endospores that are infective.
Motility The motility field describes whether the organism is known to be motile or not. It consists of a controlled vocabulary. "Yes" means the organism has been found to be motile, while null means it has not, as of yet, been shown to be motile. Motility may be a result of the production of extracellular appendages such as polar flagella, peritrichous flagella, or other appendages such as type IV pili that are involved in twitching motility.
Salinity Salinity is a controlled vocabulary field that describes the salinity requirements of the bacterium (percentage of salt as sodium chloride equivalent in the growth medium). The following 4 categories apply:
Non-halophilic - 0-2% NaCl
Mesophilic - 2-5% NaCl
Moderate halophile - 5-20% NaCl
Extreme halophile - 20-30% NaCl
Oxygen Req. Oxygen requirements describes the ability of the organism to live at various levels of oxygen. The following 5 controlled categories apply:
null - unknown oxygen requirements
aerobic - the organism can grow in the presence of oxygen and probably uses oxygen as an electron acceptor
microaerophilic - the organism can tolerate low levels of oxygen and probably does not use oxygen as an electron acceptor
facultative - the organism can grow both aerobically or anerobically
anaerobic - the organism grows in the absence of oxygen and utilizes alternative electron acceptors
Habitat This field describes the basic environments in which the organism is found, however, it is not intended to reflect ALL possible environments. The 6 controlled categories are:
unknown - it is not known where this organism grows
host-associated - this organism is often or obligately associated with a host organism
aquatic - this organism is often or obligately associated with either fresh or seawater environments
terrestrial - this organism is often or obligately associated with a terrestrial environment such as soil
specialized - this organism lives in a specialized environment like a marine thermal vent
multiple - the organism can be found in more than o­ne of the above environments
Opt. temp. Optimal temperature describes what temperature point or range the organism grows best at.
Range Temperature range is a controlled vocabulary field that describes the basic category of temperature range the organism grows at. Organisms that grow at ranges that overlap multiple categories are classified based o­n which category the majority of their temperature range overlapped with. The following 6 categories apply:
unknown - it is not known at what temperature this organism grows at
cryophilic - the organism grows at -30 to -2
psychrophilic - the organism grows at -1 to +10
mesophilic - the organism grows at +11 to +45
thermophilic - the organism grows at +46 to +75
hyperthermophilic - the organism grows above +75
Pathogenic In This field describes organisms that this bacterium is pathogenic in. This field does not contain a controlled vocabulary, and it is not expected that all potential hosts will be listed. This field is related to the disease field below.
Disease This field provides the name of the disease causes by a pathogenic bacterium and is related to the field above. This field does not contain a controlled vocabulary, and common names for diseases are often present, as well as multiple names.
Note:
The descriptions were copied from NCBI website.http://www.ncbi.nlm.nih.gov/genomes/static/gprj_help.html#prok_attributes
</div>