<div class='helptitle'>HOMD Reference Genomes Version History</div>
<div class='help_content'>
HOMD Genomic Reference Sequences Version History
2020-11-13 Genomic Reference Sequences Version 9.14 release notes
We have removed 45 Porphyromonas gingivalis, 28 Prevotolla intermedia, 45 Aggregatibacter actinomycetemcomitans, 245 Streptococcus mutans, 123 Streptococcus mitis, 1 Treponema Denticola and 1 Fusobacterium massiliense  which takes current version of the Genomic Refseq to 9.14 and contains total of 2087 genomic DNA sequences.

2020-08-28 Genomic Reference Sequences Version 9.13 release notes
We have removed 14 survey genomes and 3 genomes of ncbi GenBank is deleted  which takes current version of the Genomic Refseq to 9.13 and contains total of 1599 genomic DNA sequences.

2020-08-28 Genomic Reference Sequences Version 9.12 release notes
We have removed 5 duplicate genomes  which takes current version of the Genomic Refseq to 9.12 and contains total of 1616 genomic DNA sequences.

2020-08-07 Genomic Reference Sequences Version 9.11 release notes
We have added 11 new genomes  which takes current version of the Genomic Refseq to 9.11 and contains total of 1621 genomic DNA sequences

Following 11 Genomes were added:
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 HB001
HMT-042 Mogibacterium timidum W9173
HMT-340 Brevibacterium paucivorans UMB1301 
HMT-061 Streptococcussp. HMT 061 F0704
HMT-902 Capnocytophaga sp. HMT 902 W10638
HMT-102 Oribacteriumsp. HMT 102 W9097
HMT-903 Capnocytophagasp. HMT 903 W10654
HMT-223 Leptotrichiasp. HMT 223 F0708
HMT-417 Leptotrichiasp. HMT 417 F0703
HMT-081 Peptostreptococcaceae [XI][G-7] bacterium HMT 081 W5028
HMT-169 Actinomycessp. oral taxon 169 F0496

2020-06-16 Genomic Reference Sequences Version 9.10 release notesWe have added prokka annotation for SEQF2736 which was missing any annotation. And we added 40 new genomes. This takes current version of the Genomic Refseq to 9.10 and contains a total of 1610 genomic DNA sequences. The 1610 sequences include both oral, nasal and non-oral/non-nasal reference genomes.Following 40 Genomes were added:
HMT-677 Streptococcus mitis NCTC 12261
HMT-725 Treponema pectinovorum Marseille-1-CSURP6641
HMT-725 Treponema pectinovorum Marseille-3-CSURP7641
HMT-725 Treponema pectinovorum Marseille-4-CSURP7639
HMT-725 Treponema pectinovorum Marseille-2-CSURP6642
HMT-689 Fusobacterium naviforme NCTC13121
HMT-689 Fusobacterium naviforme CCUG 50052
HMT-050 Corynebacterium macginleyi NML 080212
HMT-050 Corynebacterium macginleyi NML 120205
HMT-024 Schlegelella thermodepolymerans DSM 15344
HMT-213 Leptotrichia hongkongensis JMUB5056
HMT-725 Treponema pectinovorum ATCC 700769
HMT-261 Segetibacter aerophilus NBRC 106135
HMT-024 Schlegelella thermodepolymerans DSM 15264
HMT-024 Schlegelella thermodepolymerans DSM 15344
HMT-548 Peptoniphilus asaccharolyticus DSM 20463
HMT-101 Neisseria perflava UMB0023
HMT-689 Fusobacterium naviforme ATCC 25832
HMT-747 Erythromicrobiumr amosum JCM 10282
HMT-835 Corynebacterium mucifaciens ATCC 700355
HMT-050 Corynebacterium macginleyi CCUG 32361
HMT-636 Bosea vestrisii 3192
HMT-017 Anaerococcus octavius NCTC9810
HMT-017 Anaerococcus octavius UMB0119
HMT-708 Actinomyces oricola R5292
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS03P
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM010
HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM009
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM006
HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM003
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM002
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM001
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 AC002
HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS17P
HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS14P
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS15P
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS13P
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS07P-B
HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS05P-B
HMT-991 Absconditabacteria (SR1) [G-3] bacterium HMT 991 RAAC1_SR1_1

2019-09-02 Genomic Reference Sequences Version 9.03 release notes
The genomic sequences provided by the eHOMD are referred to as "Genomic Reference Sequences" or in short "Genomic Refseq". The current version of the Genomic RefSeq is V9.02 and contains a total of 1,570 genomic DNA sequences representing the eHOMD taxa. The 1,570 sequences include both oral, nasal and non-oral/non-nasal reference genomes.

</div>
