<div class='helptitle'>HOMD Reference Genomes Version History</div>
<div class='help_content'>
HOMD Genomic Reference Sequences Version History
<div class='version-history-entry'>
	<span class='version-note'>2020-11-13 Genomic Reference Sequences Version 9.14 release notes</span>
	We have removed 45 Porphyromonas gingivalis, 28 Prevotolla intermedia, 45 Aggregatibacter actinomycetemcomitans, 245 Streptococcus mutans, 123 Streptococcus mitis, 1 Treponema Denticola and 1 Fusobacterium massiliense  which takes current version of the Genomic Refseq to 9.14 and contains total of 2087 genomic DNA sequences.
</div>
<div class='version-history-entry'>
	<span class='version-note'>2020-08-28 Genomic Reference Sequences Version 9.13 release notes</span>
	We have removed 14 survey genomes and 3 genomes of ncbi GenBank is deleted  which takes current version of the Genomic Refseq to 9.13 and contains total of 1599 genomic DNA sequences.
</div>
<div class='version-history-entry'>
	<span class='version-note'>2020-08-28 Genomic Reference Sequences Version 9.12 release notes</span>
	We have removed 5 duplicate genomes  which takes current version of the Genomic Refseq to 9.12 and contains total of 1616 genomic DNA sequences.
</div>
<div class='version-history-entry'>
	<span class='version-note'>2020-08-07 Genomic Reference Sequences Version 9.11 release notes</span>
	We have added 11 new genomes  which takes current version of the Genomic Refseq to 9.11 and contains total of 1621 genomic DNA sequences
	<br><br>
	<b>The Following 11 Genomes were added:</b>
	<ul>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 HB001</li>
	<li>HMT-042 Mogibacterium timidum W9173</li>
	<li>HMT-340 Brevibacterium paucivorans UMB1301</li> 
	<li>HMT-061 Streptococcussp. HMT 061 F0704</li>
	<li>HMT-902 Capnocytophaga sp. HMT 902 W10638</li>
	<li>HMT-102 Oribacteriumsp. HMT 102 W9097</li>
	<li>HMT-903 Capnocytophagasp. HMT 903 W10654</li>
	<li>HMT-223 Leptotrichiasp. HMT 223 F0708</li>
	<li>HMT-417 Leptotrichiasp. HMT 417 F0703</li>
	<li>HMT-081 Peptostreptococcaceae [XI][G-7] bacterium HMT 081 W5028</li>
	<li>HMT-169 Actinomycessp. oral taxon 169 F0496</li>
	</ul>
</div>
<div class='version-history-entry'>
	<span class='version-note'>2020-06-16 Genomic Reference Sequences Version 9.10 release notes</span>
	We have added prokka annotation for SEQF2736 which was missing any annotation. And we added 40 new genomes. 
	This takes current version of the Genomic Refseq to 9.10 and contains a total of 1610 genomic DNA sequences. 
	The 1610 sequences include both oral, nasal and non-oral/non-nasal reference genomes.
	<br><br>
	<b>The Following 40 Genomes were added</b>:
	<ul>
	<li>HMT-677 Streptococcus mitis NCTC 12261</li>
	<li>HMT-725 Treponema pectinovorum Marseille-1-CSURP6641</li>
	<li>HMT-725 Treponema pectinovorum Marseille-3-CSURP7641</li>
	<li>HMT-725 Treponema pectinovorum Marseille-4-CSURP7639</li>
	<li>HMT-725 Treponema pectinovorum Marseille-2-CSURP6642</li>
	<li>HMT-689 Fusobacterium naviforme NCTC13121</li>
	<li>HMT-689 Fusobacterium naviforme CCUG 50052</li>
	<li>HMT-050 Corynebacterium macginleyi NML 080212</li>
	<li>HMT-050 Corynebacterium macginleyi NML 120205</li>
	<li>HMT-024 Schlegelella thermodepolymerans DSM 15344</li>
	<li>HMT-213 Leptotrichia hongkongensis JMUB5056</li>
	<li>HMT-725 Treponema pectinovorum ATCC 700769</li>
	<li>HMT-261 Segetibacter aerophilus NBRC 106135</li>
	<li>HMT-024 Schlegelella thermodepolymerans DSM 15264</li>
	<li>HMT-024 Schlegelella thermodepolymerans DSM 15344</li>
	<li>HMT-548 Peptoniphilus asaccharolyticus DSM 20463</li>
	<li>HMT-101 Neisseria perflava UMB0023</li>
	<li>HMT-689 Fusobacterium naviforme ATCC 25832</li>
	<li>HMT-747 Erythromicrobiumr amosum JCM 10282</li>
	<li>HMT-835 Corynebacterium mucifaciens ATCC 700355</li>
	<li>HMT-050 Corynebacterium macginleyi CCUG 32361</li>
	<li>HMT-636 Bosea vestrisii 3192</li>
	<li>HMT-017 Anaerococcus octavius NCTC9810</li>
	<li>HMT-017 Anaerococcus octavius UMB0119</li>
	<li>HMT-708 Actinomyces oricola R5292</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS03P</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM010</li>
	<li>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM009</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM006</li>
	<li>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 CM003</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM002</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 CM001</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 AC002</li>
	<li>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS17P</li>
	<li>HMT-955 Saccharibacteria (TM7) [G-8] bacterium HMT 955 FS14P</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS15P</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS13P</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS07P-B</li>
	<li>HMT-488 Saccharibacteria (TM7) [G-1] bacterium HMT 488 FS05P-B</li>
	<li>HMT-991 Absconditabacteria (SR1) [G-3] bacterium HMT 991 RAAC1_SR1_1</li>
	</ul>
</div>
<div class='version-history-entry'>
	<span class='version-note'>2019-09-02 Genomic Reference Sequences Version 9.03 release notes</span>
	The genomic sequences provided by the eHOMD are referred to as "Genomic Reference Sequences" or in short "Genomic Refseq". The current version of the Genomic RefSeq is V9.02 and contains a total of 1,570 genomic DNA sequences representing the eHOMD taxa. The 1,570 sequences include both oral, nasal and non-oral/non-nasal reference genomes.
</div>
</div>
