<div class='helptitle'>Taxon Table</div>
<div class='help_content'>
For the generic description of the HOMD taxonomy database, please follow this link to the article - the 
<a href='/help/template?menu=help_taxon&page=intro&new=1'>Introduction to the HOMD Taxonomy Database</a>
<hr>
Below is the description of how to use the Taxon Table page
The Taxon Table (Page ID: TT1) is the tabularized view of all the human oral microbial taxa defined and curated by HOMD. A screen shot of this page with referencing numbers used in the explanation is show below:


<br><br>
1) Previous page: Click o足n this will presumably bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page.
<br><br>
2) Alphabet Navigation List: Clicking the letter will narrow the list to those genera with their Genus name beginning with the letter. If none of the HOMD genus names start with a particular alphabet the letter will be grayed out and not clickable. If you wish to see all the taxa, click the "All Entries" link.
<br><br>
3) Taxonomy Information Search: The input keyword will be search for those taxa with partial or whole-word (capital insensitive) matches in any of the four fields: Taxon ID, Genus, Species, and Synonym. This is the default search behavior. To further confine the search to any of the fields check o足nly the field name below the search box.
<br><br>
4) Total records found in the database: is shown here. If you wish to see all the taxa, click the above "All Entries" link.
<br><br>
5) Table display: Select how many items to display per page. If total selected taxa are more than o足ne page, they will be viewed and navigated page by page. Select which category of species to display based o足n status.
<br><br>
6) Taxon table:

<ul>
<li>Taxon ID: the unique ID defined by HOMD (i.e., HMT Human Microbial Taxa)
<li>Genus: Formal Genus designation (if available); if a particular Genus name has not been formally defined, this field will show the upper level taxonomic name (i.e., Family) as the temporary genus name with a numeric designation (e.g., G-1, meaning the first genus under the family).
<li>Species: Formal Genus designation (if available); if not yet defined, this field will show the text "sp. oral taxon XXX" where XXX is the HOMD ID mentioned above.
<br><br>
7) Taxon Description: Clicking the button will bring you to the detail taxonomy information page (HOMD Taxon Description, Page ID: TD1) for this particular oral taxon. 
<br><br>
8) View Genome: Clicking the button will bring you to all the genome available for this particular oral taxon. 

</div>