<div class='helptitle'>HOMD Taxon Description</div>
<div class='help_content'>
The HOMD Taxon Description Page (PageID: TD1) provides comprehensive information for a specific human oral microbial taxon. Below is a screen shot of the page, preceded with explanations with cross-referencing numbers:

1. The "Previous page" button: this dynamic link will bring you back to the previous tool page that you are using; this is somewhat different from the "Back" button provided by your web browser. This "Back" button of you web browser bring you back to the immediate "previous" page while the "Previous page" brings you back to the previous different tool that you were using before you came to this page.

2. Taxon description table upper part: In the upper part of the table, the scientific name (genus plus species) (formal or tentative) is printed as the title. The Classification part lists the nomenclatures of each taxonomic level. This classification is defined by HOMD and may be different from the NCBI taxonomy (shown o足n the right part, if available). o足ne major goal of HOMD is to provide and curate all the human oral microbial taxa to our best knowledge at the current time. This however by no mean finalizes the classification and users should o足nly refer to it as a reference.

Other information/terminology provided/used in this part are:

Synonyms: other names that were used currently or before in the literature or publications to refer to this taxon.
16S rRNA sequence: number and links to all the 16S rRNA sequences that belong to this taxon, if available.
16s rRNA alignment: if available, the alignment of the 16S rRNA sequences defined in taxon.
Phylogeny: a phylogeny tree showing the position of this taxon among all other HOMD taxa.
HOMD taxon ID: a unique numeric ID representing this particular taxon.
PubMed search: The number indicated the hits when the name (genus plus species) of this taxon is used in the PubMed search. HOMD automatically and periodically updates this hit number every two weeks. To get a most up-to-date search, simply click the "PubMed Link" to pull up the search result live from NCBI PubMed site.
Type strain: if defined and available.
Nucleotide search: same as PubMed Search about, except the search was done against the NCBI Entrez "nucleotide" database.
Protein search: same as PubMed Search about, except the search was done against the NCBI Entrez "protein" database.
Partial genome sequences: links will be provided here if available.
Partial genome sequences: links will be provided here if available.
HOMD seq ID: HOMD Seq ID is different from HOMD Taxon ID. Multiple HOMD seq IDs may be available if the genomic sequences of multiple strains belonging to the same HOMD taxon ID have been decoded (partially or fully).

3. Hierarchy Structure: Click o足n this will dynamically bring up the taxonomy tree indicating the position of the current taxon.

4. The lower portion of the taxon table:

General: generic information regarding this taxon.
Cultivability: conditions for growing strains of this taxon, if available.
Phenotypic characteristics: if available.
Prevalence: if information is available.
References: literature and publications referencing this taxon; this is manually curated by the curators thus may include more references than the direct PubMed search above.
Community Comments: Registered and logged-in users can provide their feedbacks in the regard of this taxon. The comment requires the approval of the HOMD curators before it is shown to the public.

5. Curation and editorial information: when and by whom this page was created/modified.

</div>
