<div class='helptitle'>The Team</div>
<div class='help_content'>
<b>Investigators contributing to this project</b>:
<a href=''>Tsute Chen</a><sup>1</sup>, 
<a href=''>Floyd E. Dewhirst</a><sup>1</sup>,  
<a href=''>Jacques Izard</a><sup>1</sup>, 
<a href=''>Bruce J. Paster</a><sup>1</sup>, 
<a href=''>Anne Tanner</a><sup>1</sup>, 
and <a href=''>William G. Wade</a><sup>3</sup>  
<b>Contributors</b>: Alice Kirega, Griffin Weigle, Larry Yang, and Alexandra Rybalka
<b>Past Contributors</b>: Derrick Fouts, Emmanuel Mongodin, Derek Spencer, Erin Klein, Oxana Baranova, Jessica Blanton, Cori Leonetti, Wen-Han Yu, Abby Lakshmanan, Akila Ganesan, and Hayley Thompson  
<br>
<div style='font-size:x-small'>
<a href='https://www.forsyth.org/' target='_blank'>The Forsyth Institute, Cambridge, MA, USA</a><sup>1</sup> 
<a href='https://www.jcvi.org/' target='_blank'>The J. Craig Venter Institute, Rockville, MD, USA</a><sup>2</sup> 
<a href='https://www.kcl.ac.uk/dentistry' target='_blank'>King's College London Dental Institute at Guy's, King's College and St Thomas' Hospitals, Infection Research Group, London SE1 9RT, UK</a><sup>3</sup>.  
Picture taken in 2008.
</div>
<br><div style='text-align:center;'><img src='/images/group_pic_2007.jpg' alt='team members' width="600px"  style=''></div>

</div>