<div class='helptitle'>Genomics Tools Overview</div>
<div class='help_content'>
HOMD provides a plethora of bioinformatics tools for studying oral microbial genomes. These tools are seamlessly integrated with the HOMD web site and convenient accessible by users. Tool icons or links are automatically presented to users whenever available, for a particular genome that is being interrogated.

There are two major paths to get to a specific tool during the navigation of the HOMD pages - genome oriented and tool oriented.

The first path, genome oriented, is to find the genome that you are interested in studying first. This can be done by browsing one of the Genome Tables in the six different categories:
-- Genomes Annotated at HOMD : Genome Surveys
-- Genomes Annotated at HOMD : Full Genomes
-- Genomes Annotated at HOMD : Metagenomes
-- Genomes Annotated Elsewhere : Full Genomes
-- Genomes in Progress
-- All HOMD Genomes
In these tables, you can navigate by alphabet or perform a name search. o­nce you found the genome, the available tools will be listed. Clicking o­ne of these tool buttons will bring you directly to the tool for studying this genome.

The second path, tools oriented, is to select a tool that you want to use first, either from the left menu o­n the home page or the top menu o­n every HOMD page. o­nce select a tool, you will go to the "Genome Explorer" page. Below is a screen shot of the Genome Explorer interface with numbers referring to detail information.



Genome Explorer

1) Surveyed genome: The genome you have selected (from the drop-down menu or links elsewhere).

2) Selected tool: The name of the tool you have selected (from the tool buttons or links elsewhere).

3) Hide/Show: Hide /Show  the Genome Explorer panel so you can view more of the annotation table.

4,5) Select a genome: First select the category that the genome you are interested is in and then choose the organism name

As shown above, in the Genome Explorer page, you need to select a genome. Genomes in the Genome Explorer are listed in 5 categories:

Genome Surveys annotated at HOMD
Full Genomes annotated at HOMD
Metagenomes annotated at HOMD
Full genomes annotated elsewhere
NCBI Microbial Genomes

For the descriptions of the first 4 categories please follow this link.

Depending o­n the categories, not all tools are available for all genomes. If you can not find the genome after you select a specific tool, this means that specific tool is not available for this genome. Once you select your genome, information or tools that you have selected for the particular genome will show up automatically.
6) Previous page: Click o­n this will bring you back to the tool page that you came from; this is different from the web browser's "Back" button, which will bring you back to the very last page.

7) Annotation version: If different versions of the annotations are available for a particular genome, the option will be shown in this menu. Different versions of genomic annotation may be available due to, for example, the different assemblies done from the same original sequence reads; or different parameters used in annotation, such as special START codon for identifying ORFs or different minimal sizes of ORFs identified.

8) Available tool buttons: Once you have selected a genome, link buttons for all the tools and information available for this genome will automatically show here.

Each of the HOMD genomics tools is explained in individual documentation (hint: use the documentation Table of Content button above to browse the individual articles)
</div>
