The Taxon Description page lists a general Description, Disease Associations and Prevalence
in the top of the page. 
<br>The remainder of the page is a table that lists standard information about the taxon:
<br>
<ul>
<li>Classification:
<div class='inset'>The taxonomic names (lineage) of the HMT (human microbial taxon) ranked Domain through Species (or Subspecies).
Each of these names link to the 'Life' Page for that name and rank.</div>
<li>Status:
<div class='inset'>One of Named, Unnamed, Phylotype, Lost, Dropped (no TaxDescription page) or NonOralRef (NonOral Reference Taxon)</div>
<li>Type/Reference Strain:

<li>Former Names or Synonyms
<li>Genotypic Description:
<li>Phenotypic Characteristics:
<div class='inset'>A brief description</div>
<li>Cultivability:
<div class='inset'>Description of its ability to be cultivated</div>
<li>Pangenome:
<div class='inset'>(not implemented yet)- Will link to HOMD version of <a href='https://anvi-server.org/' target='_blank'>https://anvi-server.org/</a>
Allowing exploration of selected pangenomes from HOMD genomes.</div>
<li>Microbial Ecology:
<li>Proteomics:
<li>Tools:
<div class='inset'>A list of tools (with links) available for this taxon.</div>
<li>NCBI Taxonomy ID:

<li>PubMed Searches:
<div class='inset'>Direct links to the NCBI Data of this pages taxon</div>
<li>Number of Genome Sequences:
<div class='inset'>The number of genomes in HOMD that contain this taxon. Also a link to the genome table showing this genomes.</div>
<li>Phylogenetic Trees:
<div class='inset'>Links to three trees (with this taxon highlighted): The Genome Tree, Ribosomal Protein Tree and the 16S rRNA Gene Tree</div>
</ul>