The Ecology pages show the available data from four datasets of human oral studies.

<div class='inset'>
Segata (2012)
<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href='https://genomebiology.biomedcentral.com/articles/10.1186/gb-2012-13-6-r42' target='_blank'>
            Composition of the adult digestive tract bacterial microbiome based on seven mouth surfaces, tonsils, throat and stool samples</a>
<br>&nbsp;&nbsp;&nbsp;&nbsp;Nicola Segata, Susan Kinder Haake, Peter Mannon, Katherine P Lemon, Levi Waldron, Dirk Gevers, Curtis Huttenhower & Jacques Izard

<br><br>Eren (2014) V1-V3 and V3-V5
<br>&nbsp;&nbsp;&nbsp;&nbsp;<a href='https://www.pnas.org/content/111/28/E2875' target='_blank'>
Oligotyping analysis of the human oral microbiome </a>
<br>&nbsp;&nbsp;&nbsp;&nbsp;A. Murat Eren, Gary G. Borisy, Susan M. Huse, and Jessica L. Mark Welch
     
<br><br>Dewhirst 35x9  (unpublished)
</div>

<br>The <a href='/taxa/ecology'>ecology home page</a> shows a table of all the taxonomic names,
domain through genus that are in HOMD. Each name is a link to a page with the data, if it is found in the above studies.

