The 'Life' pages contain the lineage and a hierarchal view of all the taxonomic names 
in HOMD. Each name is a link to a new life page in that lineage. To get back to the beginning
select the 'Cellular Organisms' link at the top of the hierarchy.

On many of the pages there is additional information about the focus rank-name. For instance
the major genera of HOMD have ecological information:
<div class='inset'>
<a href='/taxa/life?rank=genus&name=Actinomyces'>Actinomyces</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Campylobacter'>Campylobacter</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Corynebacterium'>Corynebacterium</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Gemella'>Gemella</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Leptotrichia'>Leptotrichia</a>
<br><a href='/taxa/life?rank=genus&name=Porphyromonas'>Porphyromonas</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Pseudoleptotrichia'>Pseudoleptotrichia</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Schaalia'>Schaalia</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Tannerella'>Tannerella</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Aggregatibacter'>Aggregatibacter</a>
<br><a href='/taxa/life?rank=genus&name=Capnocytophaga'>Capnocytophaga</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Fusobacterium'>Fusobacterium</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Haemophilus'>Haemophilus</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Neisseria'>Neisseria</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Prevotella'>Prevotella</a>
<br><a href='/taxa/life?rank=genus&name=Rothia'>Rothia</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Streptococcus'>Streptococcus</a>
&nbsp;&nbsp;&nbsp;<a href='/taxa/life?rank=genus&name=Veillonella'>Veillonella</a>
</div>

In each rank row there is a link: 'Abundance' that opens the <a href='/help/help-page?pagecode=taxon/ecology'>ecology (abundance) page</a> for that
taxonomic name. 

Once you are at the genus level you are presented with the HMTs (human microbial taxa) that
are in that genus. The HMT links now take you to the taxon description page for that HMT.
