
   The Taxon Table displays a list of the Oral Taxa in a table format.

The columns are:
<div class='inset'>
Oral Taxon-ID,
Genus, Species,
Status,
Body Site,
Flag,
Taxon Link,
Genome Link,
Genome Size,
</div>
<br>Filtering the Data:

<br><br>There are various ways to search data for specific rows or to limit the the number of rows presented.

<br><br>You can search for specific genus and species or taxon-ID, synonyms or type-strains using the text input at the top of the table on the right side.

<br><br>You can select rows based on the first letter of the taxon genus.

<br><br>Or you can filter the table by body-site and status. This filter works by the ‘and’ rule between status and body-site, so if you select only ‘Unassigned’ and ‘Lost’ for instance you should only see three rows that have both terms.

<br><br>Re-Sorting the Table:

<br>When you click on a cell in the header row all the rows will re-order based on the contents of that column.

<br><br>Restoring the Table to the Original Default Condition:

<br>Click on the red ‘Reload’ button at the top of the table to reset/reload all the data to the original sort order and without filters.

<br><br>Data Download:

<br>To download the table data use the links at the top right or the page: [browser][text][excel]

<br>Browser: Will present the table in the browser (tab-delimited) for you to copy and paste.
<br>Text: Will download a text file (tab-delimited)
<br>Excel: Will download an ‘.xls' file that can be opened with Microsoft Excel.
<br><br>NOTE: These links will show/download only the rows that are currently showing in the table. So if you want all the data you should reset the table first.
or use the bulk data download page: <a href='/download'>download</a>
