
   The Taxon Table displays a list of the Oral Taxa in a table format.

The columns are:
<div class='inset'>
Oral Taxon-ID,
Genus, Species,
Status,
Ecology Link
Taxon Link,
Genome Link,
Genome Size,
</div>

<hr>
Filtering the Data:
<br>
To find the taxa that you want to see in the table you have many options through the filtering form at the top of the page:
Most are self explanatory...
<br><br>"Genus by Alphabet" Will select the genera starting with the letter selected (no submit button required),
<br><br>
The filter elements: Status, Include, Search and Sort all require you to use the 'Submit' button after making your choice or choices.
<br><br>
The 'Submit' button will change color from dull grey to black/orange to indicate that you need to click it to apply the changes that you have made.
Once the changes have been made to the taxon table and the table is no longer showing the default list the "Reset Filters" button will be black/orange to alert you.
<br><br>
The filters will stay in place while you visit other pages and will only be cleared once you click the 'Reset Filters" button
<br><br>Also, if you select/click on a link in any particular row the Taxon-ID of the row you clicked in will be 
remembered and when you return to the table the table will scroll to that same row.

<hr>
Data Download:

<br>To download the table data use the links at the top right or the page: [browser][text][excel]

<br>Browser: Will present the table in the browser (tab-delimited) for you to copy and paste.
<br>Text: Will download a text file (tab-delimited)
<br>Excel: Will download an ‘.xls' file that can be opened with Microsoft Excel.

<br>NOTE: These links will show/download only the rows that are currently showing in the table. So if you want all the data you should reset the table first.
or use the bulk data download page: <a href='/download/download/all'>download</a>
