<% var cfg = JSON.parse(config) %> 
<div class='date'>2023-04-10</div>
<div class='heading'>Notes</div>
16S rRNA RefSeq Version 15.23 changed the taxonomy of each sequence based on the latest HOMD Taxonomy database. 
The latest changes of taxonomy nomenclature was based on this <a href='<%= cfg.FTP_URL %>/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.23/homd_ncbi_blast_all_tophits-fd-24_old_and_new_names_short.xlsx'>
Excel spreadsheet dated 2022-01-06</a>
