<% var cfg = JSON.parse(config) %> 

<div class='date'>2025-05-05</div>
<div class='heading'>Notes</div>
Updated Taxonomy from Version 3.1 to Version 4.0
<br>
<a href='/download/dld_static_file/HOMD_Compare_V3.1_V4.0_Taxonomy.xls'>Compare HOMD Taxonomy V3.1 vs V4.0 </a> [click to download]

<div class='date'>2023-04-10</div>
<div class='heading'>Notes</div>
16S rRNA RefSeq Version 15.23 changed the taxonomy of each sequence based on the latest HOMD Taxonomy database. 
The latest changes of taxonomy nomenclature was based on this <a href='<%= cfg.HOMD_URL_BASE %>/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/V15.23/homd_ncbi_blast_all_tophits-fd-24_old_and_new_names_short.xlsx'>
Excel spreadsheet dated 2022-01-06</a>

<div class='date'>2020-08-29</div>
<div class='heading'>Notes</div>
This is a minor typo correction for those genus names containing special character such as "()" or "[]"; the previous version had the special character portion of the text repeated in the genus name of the sequence. Now these errors have been corrected. No sequence changes in this minor version update.

<div class='date'>2017-01-03</div>
<div class='heading'>(RefSeq Version 14.51) Release Notes</div>

Version 14.51 is a minor update of version 14.5 with only naming modification for two taxa.

<br><br>1. HOT-279 has been formally named as Porphyromonas pasteri. This taxon was previously unnamed Porphyromonas sp. oral taxon 279. A total of 6 reference sequences representing this taxon were affected. Their IDs are 279CW034, 279DP023, 279F450a, 279F450b, 279F450c, and 279F450d

<br><br>2.HOT-659 was renamed to Mesorhizobium loti from previous Rhizobium loti. only one sequence (ID: 659_0166) was affected.

<br>There is no modification of the sequences.

<div class='date'>2016-03-29</div>
<div class='heading'>(RefSeq Version 14.5) Release Notes</div>

Version 14.5 is a major update (versions 14.1 to 14.4 were used internally and not publically released).  
The revisions are not just to 16S rRNA Reference Sequences, but to HOMD and its provisional taxonomic structure.  
The accompanying Excel file (<a href='<%= cfg.HOMD_URL_BASE %>/ftp/16S_rRNA_refseq/HOMD_16S_rRNA_RefSeq/3_Database_additions_corrections-V14-5.xlsx'>click to download</a>) details the many added and deleted taxa and changes in status 
(Named, Unnamed, Phylotype).  Twenty-seven previously overlooked or newly named oral taxa were added.  Thirty taxa were deleted as their sequences were chimeric or damaged.  In most cases, chimeras deleted were derived from crossover of sequences within a genus.  Fourteen non oral taxa were added so that there would be reference genomes in phyla with no or few oral representatives (Chlorobi, Chloroflexi, GN02, TM7, SR1, WPPS-2 ).  Genomes are critical for metagenomic, transcriptomic and proteomic studies where you only see sequences that can be mapped back to reference genomes.  r In this update, reference sequences were compared to all those in GenBank for the same taxa.  Reference sequences that had several mismatches to other sequences in a taxon were replaced by a higher quality sequence that was representative of the taxon.  When sequences within a taxon fall into multiple subgroups, RefSeqs representing divergent subgroups were added.  Some changes to HOMD taxonomy are not included in the Excell file, such as changes in several class names which now in in “ia” (previously phylum and class names were the same for many taxa, but now we have Spirochaetes and Spirochaetia).  A number of taxa which were previously uncultured Phylotypes, have been cultured and are now designated as Unnamed.  A number of Unnamed taxa have been named and their status has been changed to Named.  The headers for the RefSeqs contain the following information: File identifier; Name; HOT-ID; Clone or Strain #; GenBank accession #; Status (Named/Unnamed/Phylotype/Lost); Genome status (G=yes, X= no); log +1 of sequences seen in a study of 27 subjects at 9 oral sites (14 million sequences).  
 

<br><br>Previous versions:

<br><br>HOMD provides two different sets of 16S rRNA Gene Reference Sequence (RefSeq) for download and BLAST search:
<br>1. HOMD 16S rRNA RefSeq: This set contains sequences representing all currently named and unnamed oral taxa.
<br>2. HOMD 16S rRNA Extended RefSeq: This set contains additional16S rRNA reference gene sequences that are distinctively different from existing taxa but have not yet been assigned with a taxon ID.

<br><br>These sequences are corrected consensus sequences. Many have been corrected and extended based on alignment with other sequences for that taxon and Ns and indels removed. Therefore, for many sequences, there will be differences between the Reference Sequence and the GenBank sequence listed in the header information. We have not yet updated our own GenBank sequences, and can not update those from other depositors. We believe these are currently the bestreference sequences available, and for the purposes of BLAST analysis, have the advantage of being of a uniform length.
 

